<div class="aside_item style02 style03">
    <h3 class="aside_item_tt">はじめてご利用される方へ</h3>
    <dl>
        <dt class="">会社の備品を揃えるetc…</dt>
        <dd>
            <a class="ic_bulding" href="">
                <span>大量商品のご注文、 <br> お見積りOK <br> お気軽にお問合せください</span>
            </a>
        </dd>
    </dl>
</div>