{% set Categories = repository('Eccube\\Entity\\Category').getList() %}

<div class="aside_item">
    <h3 class="aside_item_tt">カテゴリーから探す</h3>

    {% for Category in Categories %}
        <div class="aside_item_ex">
            <h4><a href="{{ url('product_list') }}?category_id={{ Category.id }}">{{ Category.name }}</a></h4>
            {% if Category.children|length > 0 %}
                <ul class="aside_item_ex_child">
                    {% for ChildCategory in Category.children %}
                        <li><a href="{{ url('product_list') }}?category_id={{ ChildCategory.id }}">{{ ChildCategory.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endfor %}
</div>