<h1 class="show_sp ttl1">中古パソコン（PC）通販のUsed Fun</h1>
<div class="slider">
    <div class="slider_banner swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="{{ asset('assets/img/mv.jpg') }}" alt="">
                <div class="txt">
                    <p>あの商品も購入価格より大幅値下げ？<br> UsedFunからお客さまへ日頃からの<br class="show_sp">ご厚意に対しまして</p>
                    <img src="{{ asset('assets/img/summer_time_sale.png') }}" alt="">
                    <p class="bg">夏のタイムセール開催<span>4/1 mon - 5/31 fri</span></p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="https://via.placeholder.com/1400x420.png" alt="">
                <div class="txt">
                    <p>あの商品も購入価格より大幅値下げ？<br> UsedFunからお客さまへ日頃からのご厚意に対しまして</p>
                    <img src="{{ asset('assets/img/summer_time_sale.png') }}" alt="">
                    <p class="bg">夏のタイムセール開催<span>4/1 mon - 5/31 fri</span></p>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="{{ asset('assets/img/mv.jpg') }}" alt="">
                <div class="txt">
                    <p>あの商品も購入価格より大幅値下げ？<br> UsedFunからお客さまへ日頃からのご厚意に対しまして</p>
                    <img src="{{ asset('assets/img/summer_time_sale.png') }}" alt="">
                    <p class="bg">夏のタイムセール開催<span>4/1 mon - 5/31 fri</span></p>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <!-- end slider_banner -->
</div>