.list_ex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 60px;
  dl {
    width: 510px;
    &.w100 {
      width: 100%;
    }
    dt {
      font-size: rem(16);
      font-weight: bold;
      color: #fff;
      background-color: #2f4858;
      text-align: center;
      padding: 13px;
      &.ic {
        position: relative;
        text-align: left;
        padding-left: 40px;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 15px;
          margin-top: -1.5px;
          width: 14px;
          height: 3px;
          background: #f78000;
          display: block;
        }
      }
    }
    dd {
      padding-top: 20px;
      figure {
        margin-bottom: 30px;
        margin-bottom: 60px;
        text-align: center;
        min-height: 104px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        &:after {
          content: '';
          min-height: inherit;
          font-size: 0;
        }
      }
    }
  }
}
.ex_step {
  display: flex;
  margin-top: 60px;
  margin-bottom: 70px;
  &_item {
    width: 320px;
    border: 4px solid #708498;
    border-radius: 18px;
    padding: 35px 20px;
    position: relative;
    &:not(:nth-child(3n+3)) {
      margin-right: 80px;
    }
    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -55px;
        transform: translateY(-50%);
        width: 23px;
        height: 24px;
        background: url(../img/page_second/08/ic_ar.png) center/contain no-repeat;
        display: block;
      }
    }
    h4 {
      font-size: rem(15);
      text-align: center;
      color: #2f4858;
      font-weight: bold;
      margin-bottom: 15px;
      letter-spacing: -1px;
    }
    p {
      font-size: rem(14);
      line-height: 24px;
    }
    span {
      font-size: rem(16);
      border-radius: 20px;
      color: #fff;
      font-weight: bold;
      background-color: $color1;
      display: inline-block;
      width: 160px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 50%;
      top: -20px;
      transform: translateX(-50%);
      letter-spacing: 0.025em;
    }
  }
}
.ex_note {
  counter-reset: div;
  margin-bottom: 70px;
  >dl {
    margin-bottom: 20px;
    >dt {
      font-size: rem(20);
      color: #2f4858;
      font-weight: bold;
      position: relative;
      display: flex;
      align-items: center;
      background-color: #f3f6f9;
      border: 1px solid #dbe4eb;
      &::before {
        counter-increment: div;
        content: "0"counter(div);
        background-color: #2f4858;
        color: #fff;
        font-size: rem(30);
        font-weight: bold;
        font-family: $bar;
        width: 50px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        letter-spacing: 0.025em;
        margin-right: 25px;
        margin-top: -1px;
      }
    }
    >dd {
      border: 1px solid #dbe4eb;
      padding: 40px;
      border-top: none;
      font-size: rem(16);
      line-height: 24px;
      .list_dot {
        li {
          position: relative;
          padding-left: 20px;
          >span {
            position: absolute;
            top: 0;
            left: 0;
            font-size: rem(12);
            color: #2f4858;
          }
        }
      }
      >p {
        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
      .ex_note_child {
        background-color: #f4f4f4;
        padding: 30px;
        margin-top: 30px;
        ul {
          li {
            font-size: rem(16);
            line-height: 24px;
            margin-bottom: 5px;
            span {
              color: #2f4858;
            }
          }
        }
        dl {
          &:not(:last-child) {
            margin-bottom: 22px;
          }
        }
        dt {
          font-size: rem(18);
          font-weight: bold;
          color: #2f4858;
          margin-bottom: 15px;
          display: flex;
          align-items: center;
          span {
            font-size: rem(12);
            margin-right: 6px;
          }
        }
      }
    }
  }
}
.ex_save_money {
  margin-top: 50px;
  margin-bottom: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .item {
    background-color: #f3f6f9;
    border-radius: 20px;
    width: 330px;
    padding: 30px;
    position: relative;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border-top: 110px solid #f78000;
      border-right: 110px solid transparent;
    }
    .num {
      position: absolute;
      padding-top: 10px;
      padding-left: 10px;
      top: 0;
      left: 0;
      font-size: rem(18);
      font-weight: bold;
      color: #fff;
      z-index: 1;
      line-height: 1;
      i {
        font-style: normal;
        font-size: rem(38);
        letter-spacing: 0.025em;
        font-family: $bar;
        font-weight: 600;
        display: block;
      }
    }
    h4 {
      font-size: rem(20);
      font-weight: bold;
      color: #2f4858;
      text-align: center;
      margin-bottom: 10px;
    }
    p {
      font-size: rem(14);
      line-height: 24px;
    }
  }
}
.ex_boximg {
  background-color: #f3f6f9;
  display: flex;
  padding: 45px;
  margin-bottom: 95px;
  figure {
    width: 280px;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .txt {
    width: calc(100% - 280px);
    padding-left: 40px;
    h4 {
      font-size: rem(20);
      font-weight: bold;
      color: #2f4858;
      margin-bottom: 10px;
    }
    p {
      font-size: rem(16);
      line-height: 24px;
      font-weight: 500;
    }
  }
}
.ex_note.mb {
  margin-bottom: 34px;
}
.table.table_bd {
  margin-top: 48px;
  margin-bottom: 40px;
  table {
    tr {
      &:last-child {
        td {
          border-bottom: 1px solid #dbe4eb;
        }
      }
    }
    th {
      border-right: 1px solid #dbe4eb;
      &:nth-of-type(1) {
        border-left: 1px solid #dbe4eb;
      }
    }
    td {
      font-weight: 500;
      border-right: 1px solid #dbe4eb;
      &:nth-of-type(1) {
        border-left: 1px solid #dbe4eb;
      }
    }
  }
}
.table.table_bd_l {
  margin-top: 48px;
  margin-bottom: 40px;
  table {
    tr {
      &:first-child {
        td {
          border-top: 1px solid #dbe4eb;
        }
      }
    }
    th {
      border-right: 1px solid #dbe4eb;
      &:nth-of-type(1) {
        border-left: 1px solid #dbe4eb;
      }
    }
    td {
      border-right: 1px solid #dbe4eb;
      border-bottom: 1px solid #dbe4eb;
    }
  }
}
.box_or {
  border: 5px solid #f3f6f9;
  padding: 30px;
  margin-bottom: 52px;
  &.mb {
    margin-bottom: 110px;
  }
  h4 {
    position: relative;
    padding-left: 30px;
    font-size: rem(16);
    font-weight: bold;
    color: #2f4858;
    margin-bottom: 10px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 23px;
      height: 22px;
      background: url(../img/ic_i.png) center/contain no-repeat;
      display: block;
    }
  }
  p {
    font-size: rem(16);
    font-weight: 500;
  }
}
.list_qa {
  margin-bottom: 41px;
  li {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    span {
      background-color: #f78000;
      color: #fff;
      font-size: rem(16);
      font-family: $bar;
      font-weight: bold;
      letter-spacing: 0.05em;
      width: 68px;
      height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
    }
    a {
      position: relative;
      font-size: rem(16);
      font-weight: 500;
      text-decoration: underline;
      width: calc(100% - 68px);
      padding-left: 18px;
      display: inline-block;
      padding-top: 4px;
    }
  }
}
.qa_ex {
  counter-reset: dl;
  counter-reset: dll;
  margin-bottom: 150px;
  h4 {
    font-size: rem(24);
    font-weight: bold;
    color: #374c5a;
    padding-left: 30px;
    position: relative;
    border-bottom: 3px solid #374c5a;
    padding-bottom: 5px;
    margin-bottom: 35px;
    margin-top: 25px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 14px;
      height: 4px;
      margin-top: -2px;
      background: #f78000;
      display: block;
    }
  }
  dl {
    padding-left: 80px;
    margin-bottom: 33px;
    &:not(:last-child) {
      padding-bottom: 40px;
      border-bottom: 1px solid #dbe4eb;
    }
    dt {
      font-size: rem(18);
      font-weight: bold;
      color: #374c5a;
      position: relative;
      padding-top: 13px;
      margin-bottom: 20px;
      &::before {
        counter-increment: dl;
        content: "Q.0"counter(dl);
        font-size: rem(18);
        letter-spacing: 0.05em;
        color: #fff;
        font-weight: bold;
        font-family: $bar;
        background-color: #f78000;
        border-radius: 3px;
        width: 60px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -80px;
        top: 0;
      }
    }
    dd {
      position: relative;
      padding-top: 13px;
      p {
        font-size: rem(16);
        font-weight: 500;
        line-height: 24px;
        &:not(:last-child) {
          margin-bottom: 25px;
        }
      }
      &::before {
        counter-increment: dll;
        content: "A.0"counter(dll);
        font-size: rem(18);
        letter-spacing: 0.05em;
        color: #fff;
        font-weight: bold;
        font-family: $bar;
        background-color: #455581;
        border-radius: 3px;
        width: 60px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -80px;
        top: 0;
      }
    }
  }
}
.mt25 {
  margin-top: 25px;
}
.olist_img {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 17px;
  margin-bottom: 70px;
  .item {
    width: 560px;
    margin-bottom: 32px;
    h4 {
      font-size: rem(18);
      color: #2f4858;
      font-weight: bold;
      margin-bottom: 5px;
    }
    p {
      font-size: rem(16);
      font-weight: 500;
      line-height: 24px;
    }
    figure {
      margin-bottom: 20px;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}
.ex_step {
  &.type2 {
    margin-bottom: 160px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    .ex_step_item:not(:last-child)::after {
      top: 29%;
      right: -39px;
    }
    .ex_step_item {
      margin-right: 0;
      padding: 0;
      border: 0;
      width: 250px;
      h4 {
        font-size: rem(16);
        margin-top: 15px;
        margin-bottom: 10px;
      }
    }
    .img {
      background-color: #f4f4f4;
      border-radius: 15px;
      padding-top: 50px;
      padding-bottom: 40px;
      figure {
        min-height: 89px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        &:after {
          content: '';
          min-height: inherit;
          font-size: 0;
        }
      }
    }
  }
}
.p_policy .p_privacy_main dl dd {
  font-weight: 500;
}
.law {
  .table {
    margin-bottom: 120px;
  }
  a {
    color: #313131;
  }
  .table table th {
    background-color: transparent;
    font-weight: bold;
    color: #708498;
    text-align: left;
    border: none;
    padding: 15px;
    padding-left: 20px;
    width: 22%;
  }
  .table table td {
    font-weight: 500;
    text-align: left;
    padding: 15px;
    width: 78%;
  }
  .table table tr {
    &:nth-child(odd) {
      border-top: 1px solid #dbe4eb;
      border-bottom: 1px solid #dbe4eb;
      background-color: #f3f6f9;
    }
  }
}