.list_ex {
  margin-top: vw2(60);
  dl {
    &:nth-child(1) {
      margin-bottom: vw(60);
      dd {
        img {
          width: vw(320);
          min-width: 250px;
        }
      }
    }
    &:nth-child(2) {
      margin-bottom: vw(30);
      dd {
        img {
          width: vw(378);
          min-width: 250px;
        }
      }
    }
    dt {
      font-size: vw2(16);
      font-weight: bold;
      color: #fff;
      background-color: #2f4858;
      text-align: center;
      padding: vw2(13);
      &.ic {
        position: relative;
        text-align: left;
        padding-left: vw2(40);
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: vw2(15);
          margin-top: vw(-2);
          width: vw2(14);
          height: vw(4);
          background: #f78000;
          display: block;
        }
      }
    }
    dd {
      padding-top: vw2(20);
      figure {
        margin-bottom: vw(30);
        text-align: center;
        &:after {
          content: '';
          min-height: inherit;
          font-size: 0;
        }
      }
    }
  }
}
.ex_step {
  margin-top: vw2(60);
  margin-bottom: vw2(70);
  &_item {
    border: vw(4) solid #708498;
    border-radius: vw2(18);
    padding: vw2(35) vw2(20);
    position: relative;
    margin-bottom: vw(100);
    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: - vw(60);
        transform: translateX(-50%) rotate(90deg);
        width: vw2(23);
        height: vw2(24);
        background: url(../img/page_second/08/ic_ar.png) center/contain no-repeat;
        display: block;
      }
    }
    h4 {
      font-size: vw2(15);
      text-align: center;
      color: #2f4858;
      font-weight: bold;
      margin-bottom: vw2(15);
      letter-spacing: - 1px;
    }
    p {
      font-size: vw2(14);
      line-height: vw2(24);
    }
    span {
      font-size: vw2(16);
      border-radius: vw2(20);
      color: #fff;
      font-weight: bold;
      background-color: $color1;
      display: inline-block;
      width: vw2(160);
      height: vw2(40);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 50%;
      top: - vw2(20);
      transform: translateX(-50%);
      letter-spacing: 0.025em;
    }
  }
}
.ex_note {
  counter-reset: div;
  margin-bottom: vw2(70);
  >dl {
    margin-bottom: vw2(20);
    >dt {
      font-size: vw2(20);
      color: #2f4858;
      font-weight: bold;
      position: relative;
      display: flex;
      align-items: center;
      background-color: #f3f6f9;
      border: 1px solid #dbe4eb;
      &::before {
        counter-increment: div;
        content: "0"counter(div);
        background-color: #2f4858;
        color: #fff;
        font-size: vw2(30);
        font-weight: bold;
        font-family: $bar;
        width: vw2(50);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        letter-spacing: 0.025em;
        margin-right: vw2(25);
        margin-top: - 1px;
      }
    }
    >dd {
      border: 1px solid #dbe4eb;
      padding: vw(30);
      border-top: none;
      font-size: vw2(16);
      line-height: vw2(24);
      .list_dot {
        li {
          position: relative;
          padding-left: vw2(20);
          >span {
            position: absolute;
            top: 0;
            left: 0;
            font-size: vw2(12);
            color: #2f4858;
          }
        }
      }
      >p {
        &:not(:last-child) {
          margin-bottom: vw2(30);
        }
      }
      .ex_note_child {
        background-color: #f4f4f4;
        padding: vw(30);
        margin-top: vw2(30);
        ul {
          li {
            font-size: vw2(16);
            line-height: vw2(24);
            margin-bottom: vw2(5);
            span {
              color: #2f4858;
            }
          }
        }
        dl {
          &:not(:last-child) {
            margin-bottom: vw2(22);
          }
        }
        dt {
          font-size: vw2(18);
          font-weight: bold;
          color: #2f4858;
          margin-bottom: vw2(15);
          display: flex;
          align-items: center;
          span {
            font-size: vw2(12);
            margin-right: vw2(6);
          }
        }
      }
    }
  }
}
.ex_save_money {
  margin-top: vw(50);
  margin-bottom: vw(55);
  .item {
    background-color: #f3f6f9;
    border-radius: vw2(20);
    margin-bottom: vw(30);
    padding: vw(30) vw(40);
    position: relative;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border-top: vw2(110) solid #f78000;
      border-right: vw2(110) solid transparent;
    }
    .num {
      position: absolute;
      padding-top: vw2(10);
      padding-left: vw2(10);
      top: 0;
      left: 0;
      font-size: vw2(18);
      font-weight: bold;
      color: #fff;
      z-index: 1;
      line-height: 1;
      i {
        font-style: normal;
        font-size: vw2(38);
        letter-spacing: 0.025em;
        font-family: $bar;
        font-weight: 600;
        display: block;
      }
    }
    h4 {
      font-size: vw2(20);
      font-weight: bold;
      color: #2f4858;
      text-align: center;
      margin-bottom: vw2(10);
    }
    p {
      font-size: vw2(14);
      line-height: vw2(24);
    }
  }
}
.ex_boximg {
  background-color: #f3f6f9;
  padding: vw(30);
  margin-bottom: vw(95);
  figure {
    margin-bottom: vw(30);
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .txt {
    h4 {
      font-size: vw2(20);
      font-weight: bold;
      color: #2f4858;
      margin-bottom: vw2(10);
    }
    p {
      font-size: vw2(16);
      line-height: vw2(24);
      font-weight: 500;
    }
  }
}
.ex_note.mb {
  margin-bottom: vw2(34);
}
.table.table_bd {
  margin-top: vw(48);
  margin-bottom: vw(40);
  table {
    tr {
      &:last-child {
        td {
          border-bottom: 1px solid #dbe4eb;
        }
      }
    }
    th {
      border-right: 1px solid #dbe4eb;
      &:nth-of-type(1) {
        border-left: 1px solid #dbe4eb;
      }
    }
    td {
      font-weight: 500;
      border-right: 1px solid #dbe4eb;
      &:nth-of-type(1) {
        border-left: 1px solid #dbe4eb;
      }
    }
  }
}
.table.table_bd_l {
  margin-top: vw(48);
  margin-bottom: vw(40);
  table {
    tr {
      &:first-child {
        td {
          border-top: 1px solid #dbe4eb;
        }
      }
    }
    th {
      border-right: 1px solid #dbe4eb;
      &:nth-of-type(1) {
        border-left: 1px solid #dbe4eb;
      }
    }
    td {
      border-right: 1px solid #dbe4eb;
      border-bottom: 1px solid #dbe4eb;
    }
  }
}
.box_or {
  border: vw2(5) solid #f3f6f9;
  padding: vw(30);
  margin-bottom: vw(52);
  &.mb {
    margin-bottom: vw(110);
  }
  h4 {
    position: relative;
    padding-left: vw2(30);
    font-size: vw2(16);
    font-weight: bold;
    color: #2f4858;
    margin-bottom: vw2(10);
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: vw2(23);
      height: vw2(22);
      background: url(../img/ic_i.png) center/contain no-repeat;
      display: block;
    }
  }
  p {
    font-size: vw2(16);
    font-weight: 500;
  }
}
.list_qa {
  margin-bottom: vw2(41);
  li {
    display: flex;
    &:not(:last-child) {
      margin-bottom: vw2(12);
    }
    span {
      background-color: #f78000;
      color: #fff;
      font-size: vw2(16);
      font-family: $bar;
      font-weight: bold;
      letter-spacing: 0.05em;
      width: vw2(68);
      height: vw2(28);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: vw2(3);
    }
    a {
      position: relative;
      font-size: vw2(16);
      font-weight: 500;
      text-decoration: underline;
      width: calc(100% - vw2(68));
      padding-left: vw2(18);
      display: inline-block;
      padding-top: vw2(4);
    }
  }
}
.qa_ex {
  counter-reset: dl;
  counter-reset: dll;
  margin-bottom: vw(100);
  h4 {
    font-size: vw2(24);
    font-weight: bold;
    color: #374c5a;
    padding-left: vw2(30);
    position: relative;
    border-bottom: vw2(3) solid #374c5a;
    padding-bottom: vw2(5);
    margin-bottom: vw2(35);
    margin-top: vw2(25);
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: vw2(14);
      height: vw2(4);
      margin-top: - vw2(2);
      background: #f78000;
      display: block;
    }
  }
  dl {
    padding-left: vw2(80);
    margin-bottom: vw2(33);
    &:not(:last-child) {
      padding-bottom: vw2(40);
      border-bottom: 1px solid #dbe4eb;
    }
    dt {
      font-size: vw2(18);
      font-weight: bold;
      color: #374c5a;
      position: relative;
      padding-top: vw2(13);
      margin-bottom: vw2(35);
      &::before {
        counter-increment: dl;
        content: "Q.0"counter(dl);
        font-size: vw2(18);
        letter-spacing: 0.05em;
        color: #fff;
        font-weight: bold;
        font-family: $bar;
        background-color: #f78000;
        border-radius: vw2(3);
        width: vw2(60);
        height: vw2(50);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: - vw2(80);
        top: 0;
      }
    }
    dd {
      position: relative;
      padding-top: vw2(13);
      p {
        font-size: vw2(16);
        font-weight: 500;
        line-height: vw2(24);
        &:not(:last-child) {
          margin-bottom: vw2(25);
        }
      }
      &::before {
        counter-increment: dll;
        content: "A.0"counter(dll);
        font-size: vw2(18);
        letter-spacing: 0.05em;
        color: #fff;
        font-weight: bold;
        font-family: $bar;
        background-color: #455581;
        border-radius: vw2(3);
        width: vw2(60);
        height: vw2(50);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: - vw2(80);
        top: 0;
      }
    }
  }
}
.mt25 {
  margin-top: vw2(25);
}
.olist_img {
  margin-top: vw2(17);
  margin-bottom: vw2(70);
  .item {
    figure {
      img {
        display: block !important;
        width: 100% !important;
        height: auto !important;
      }
    }
    margin-bottom: vw2(32);
    h4 {
      font-size: vw2(18);
      color: #2f4858;
      font-weight: bold;
      margin-bottom: vw2(5);
    }
    p {
      font-size: vw2(16);
      font-weight: 500;
      line-height: vw2(24);
    }
    figure {
      margin-bottom: vw2(20);
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
}
.ex_step {
  &.type2 {
    margin-bottom: vw(100);
    margin-top: vw2(40);
    .ex_step_item {
      margin-right: 0;
      padding: 0;
      border: 0;
      h4 {
        font-size: vw2(16);
        margin-top: vw2(15);
        margin-bottom: vw2(10);
      }
    }
    .img {
      background-color: #f4f4f4;
      border-radius: vw2(15);
      padding-top: vw(80);
      padding-bottom: vw(40);
      figure {
        text-align: center;
        img {
          display: inline-block;
          width: auto;
          height: auto;
          min-width: auto;
        }
      }
    }
  }
}
.p_policy .p_privacy_main dl dd {
  font-weight: 500;
}
.law {
  .table {
    margin-bottom: vw(100);
  }
  a {
    color: #313131;
  }
  .table table th {
    background-color: transparent;
    font-weight: bold;
    color: #708498;
    text-align: left;
    border: none;
    width: 35%;
  }
  .table table td {
    font-weight: 500;
    text-align: left;
    width: 65%;
  }
  .table table tr {
    &:nth-child(odd) {
      border-top: 1px solid #dbe4eb;
      border-bottom: 1px solid #dbe4eb;
      background-color: #f3f6f9;
    }
  }
}