@media screen and (min-width: 769px), print {
  .category .aside_banner01 a {
    background-color: #f78000;
    color: #fff;
  }
  .category .aside_banner01 a::after {
    border-left-color: #fff;
  }
  .products .ttl_head {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 38px;
  }
  .products .ttl_head span {
    color: #f78000;
    font-size: 2rem;
  }
  .products .p_nav {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .products .p_nav.center {
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 65px;
    margin-bottom: 130px;
  }
  .products .p_nav.center .page_wr {
    margin-left: auto;
    margin-right: auto;
  }
  .products .p_nav .page_wr {
    margin-left: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .products .p_nav .page_wr > span {
    font-size: 1.4rem;
    font-weight: bold;
    margin-right: 10px;
  }
  .products .p_nav .sl1 {
    margin-right: 20px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .products .p_nav .sl1 span {
    font-size: 1.4rem;
    font-weight: bold;
    margin-right: 15px;
  }
  .products .p_nav .sl1 .select {
    width: 150px;
  }
  .products .p_nav .sl2 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .products .p_nav .sl2 span {
    font-size: 1.4rem;
    font-weight: bold;
    margin-right: 15px;
  }
  .products .p_nav .sl2 .select {
    width: 100px;
  }
  .products_list_item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .products_list_item.style02 {
    display: block;
  }
  .products_list_item.style02.style03 .df .item_r .btn01 {
    margin-top: 20px;
  }
  .products_list_item.style02.style03 .df .item_r .btn01.btn03 {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .products_list_item.style02 .products_txt_head {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .products_list_item.style02 .products_txt_head > span {
    -moz-border-radius: 50%;
         border-radius: 50%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f5555a;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 20px;
    width: 70px;
    height: 70px;
    color: #fff;
    margin-right: 10px;
  }
  .products_list_item.style02 .products_txt_head ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 400px;
  }
  .products_list_item.style02 .products_txt_head ul li {
    margin: 3px;
  }
  .products_list_item.style02 .products_txt_head ul li a {
    background: #dbe4eb;
    color: #708498;
    padding: 8px;
    display: inline-block;
    -moz-border-radius: 15px;
         border-radius: 15px;
    min-width: 110px;
    font-weight: bold;
    text-align: center;
  }
  .products_list_item.style02 .products_txt_head a {
    margin-left: auto;
  }
  .products_list_item.style02 .df {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .products_list_item.style02 .df figure {
    width: 440px;
    border: 1px solid #ccc;
    padding: 60px 30px 30px;
  }
  .products_list_item.style02 .df .item_l {
    width: 360px;
  }
  .products_list_item.style02 .df .item_l .table th {
    color: #000;
  }
  .products_list_item.style02 .df .item_l .table th:nth-of-type(2) {
    text-align: left;
    font-weight: 500;
  }
  .products_list_item.style02 .df .item_l .table td {
    color: #000;
  }
  .products_list_item.style02 .df .item_l .table td:nth-of-type(2) {
    text-align: left;
    font-weight: 500;
  }
  .products_list_item.style02 .df .item_l .p_price {
    margin-bottom: 30px;
  }
  .products_list_item.style02 .df .item_r {
    width: 320px;
    padding-left: 34px;
    padding-top: 12px;
  }
  .products_list_item.style02 .df .item_r .btn01 {
    width: 270px;
    margin-top: 30px;
  }
  .products_list_item.style02 .df .item_r .btn01.btn02 {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .products_list_item.style02 .df .item_r a.link_mail {
    position: relative;
    padding-left: 23px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #666666;
  }
  .products_list_item.style02 .df .item_r a.link_mail::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 18px;
    height: 14px;
    background: url(../img/ic_mail.png) center/contain no-repeat;
    display: block;
  }
  .products_list_item.style02 .df .item_r a.link_fav {
    position: relative;
    padding-left: 23px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #666666;
  }
  .products_list_item.style02 .df .item_r a.link_fav::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: url(../img/ic_star01.png) center/contain no-repeat;
    display: block;
  }
  .products_list_item.style02 .df .item_r .rank {
    text-decoration: underline;
    font-size: 1.6rem;
    font-weight: bold;
    color: #708498;
  }
  .products_list_item.style02 .df .item_r .rank img {
    margin-right: 15px;
    margin-bottom: -10px;
  }
  .products_list_item.style02 .txt_detail {
    margin-top: 50px;
  }
  .products_list_item.style02 .txt_detail p {
    font-size: 1.6rem;
    line-height: 24px;
  }
  .products_list_item.style02 .txt_detail p:not(:last-child) {
    margin-bottom: 30px;
  }
  .products_list_item.style02 .txt_detail .list_func {
    margin-top: 60px;
    margin-bottom: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .products_list_item.style02 .txt_detail .list_func li {
    width: 50%;
    background-color: #f3f6f9;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px;
  }
  .products_list_item.style02 .txt_detail .list_func li.bg {
    background-color: #e9eff4;
  }
  .products_list_item.style02 .txt_detail .list_func li img {
    margin-right: auto;
    margin-left: auto;
  }
  .products_list_item.style02 .txt_detail .list_func li .txt {
    width: 400px;
  }
  .products_list_item.style02 .txt_detail .list_func li .txt h4 {
    font-size: 1.6rem;
    font-weight: bold;
  }
  .products_list_item.style02 .txt_detail .list_func li .txt p {
    font-size: 1.4rem;
    line-height: 24px;
  }
  .products_list_item.style02 .txt_detail .table02 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 150px;
  }
  .products_list_item.style02 .txt_detail .table02 dl {
    width: 50%;
  }
  .products_list_item.style02 .txt_detail .table02 dl:nth-last-child(2) {
    background-color: transparent;
    border: none;
  }
  .products_list_item.style02 .txt_detail .table02 dl.w100 {
    width: 100%;
  }
  .products_list_item figure {
    width: 340px;
  }
  .products_list_item figure img {
    display: block;
    width: 100%;
    height: auto;
  }
  .products_list_item .products_txt {
    width: 680px;
  }
  .products_list_item .products_txt h3 {
    font-size: 2rem;
    line-height: 1.6;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .products_list_item .products_txt h3 span {
    padding: 5px 15px;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    background-color: #f78000;
    margin-right: 15px;
  }
  .products_list_item .products_txt > p {
    font-size: 1.6rem;
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .products_list_item .products_txt .table table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  .products_list_item .products_txt .table table th {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: #708498;
    background-color: #f3f6f9;
    border-top: 1px solid #dbe4eb;
    border-bottom: 1px solid #dbe4eb;
    padding: 10px;
    width: 25%;
  }
  .products_list_item .products_txt .table table th:first-child {
    width: 18%;
  }
  .products_list_item .products_txt .table table th:last-child {
    width: 32%;
  }
  .products_list_item .products_txt .table table td {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 10px;
  }
  .products_list_item .products_txt_bot {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .products_list_item .products_txt_bot p {
    font-size: 2rem;
    color: #f5555a;
    font-weight: bold;
  }
  .products_list_item .products_txt_bot p span {
    font-size: 3.6rem;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 0.025em;
  }
  .products_list_item .products_txt_bot a {
    background-color: #f78000;
    font-size: 1.4rem;
    color: #fff;
    padding: 8px 35px;
    -moz-border-radius: 22px;
         border-radius: 22px;
    position: relative;
    display: inline-block;
  }
  .products_list_item .products_txt_bot a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 5px solid #fff;
  }
  .boxoverlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1900;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 680px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  .modal form {
    position: relative;
  }
  .modal .btn_close {
    position: absolute;
    top: -82px;
    right: -34px;
    width: 68px;
    height: 68px;
    cursor: pointer;
  }
  .modal .m_in {
    -moz-border-radius: 5px;
         border-radius: 5px;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    background: #fff;
    -webkit-transform: scale(2);
       -moz-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .modal.open {
    visibility: visible;
  }
  .modal.open .m_in {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  .modal .m_in {
    padding-top: 60px;
    padding-left: 80px;
    padding-bottom: 50px;
    -moz-border-radius: 10px;
         border-radius: 10px;
    background: #fff;
  }
  .modal .main_modal .m_df {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 18px;
  }
  .modal .main_modal .m_df:last-child {
    border-color: #000;
  }
  .modal .main_modal .m_df > span {
    font-size: 1.8rem;
    font-weight: bold;
  }
  .modal .main_modal .m_df .checkbox label {
    font-size: 1.8rem;
    line-height: 30px;
    padding-left: 48px;
  }
  .modal .main_modal .m_df .checkbox label::before {
    width: 27px;
    height: 27px;
    border: 3px solid #eee;
    -moz-border-radius: 3px;
         border-radius: 3px;
  }
  .modal .main_modal .m_df .checkbox label::after {
    width: 10px;
    height: 20px;
    left: 11px;
  }
  .modal .main_modal .total {
    text-align: right;
    font-size: 1.6rem;
  }
  .modal .main_modal .total span {
    color: #f5555a;
    font-weight: bold;
  }
  .modal .main_modal .total span:nth-of-type(1) {
    font-size: 2.4rem;
  }
  .modal .main_modal .total span:nth-of-type(2) {
    font-size: 1.8rem;
  }
  .modal .main_modal .btn_modal {
    text-align: center;
    margin-top: 30px;
  }
  .modal .main_modal .btn_modal .btn01 {
    min-width: 240px;
  }
  .scrollable {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 380px;
  }
  .scrollable.showScroll::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 17px;
  }
  .scrollable.showScroll::before {
    position: absolute;
    content: '';
    top: 0;
    right: 8px;
    height: 100%;
    width: 6px;
    background: #DDE2E6;
    -moz-border-radius: 8px;
         border-radius: 8px;
    z-index: 1;
  }
  .scrollable .content-wrapper {
    width: -webkit-calc(100% + 50px);
    width: -moz-calc(100% + 50px);
    width: calc(100% + 50px);
    height: 100%;
    overflow-y: scroll;
    padding-right: 120px;
  }
  .scroller {
    z-index: 5;
    cursor: pointer;
    position: absolute;
    width: 6px;
    height: 90px;
    -moz-border-radius: 8px;
         border-radius: 8px;
    background: #f78000;
    top: 0px;
    right: 8px;
    -webkit-transition: top .08s;
    -moz-transition: top .08s;
    transition: top .08s;
  }
  .content {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .p_user_guide p {
    font-size: 1.6rem;
    line-height: 24px;
  }
  .p_user_guide_list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 75px;
    margin-bottom: 133px;
  }
  .p_user_guide_list .item {
    text-align: center;
    background-color: #f3f6f9;
    padding: 50px 35px 40px 35px;
    width: 280px;
    margin-bottom: 12px;
  }
  .p_user_guide_list .item.big {
    width: 378px;
  }
  .p_user_guide_list .item.big p {
    min-height: 72px;
  }
  .p_user_guide_list .item figure {
    margin-bottom: 30px;
    min-height: 81px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .p_user_guide_list .item figure:after {
    content: '';
    min-height: inherit;
    font-size: 0;
  }
  .p_user_guide_list .item h4 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .p_user_guide_list .item p {
    font-size: 1.4rem;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 25px;
  }
  .p_user_guide_list .item a {
    background-color: #2f4858;
    color: #fff;
    -moz-border-radius: 30px;
         border-radius: 30px;
    padding: 10px 20px;
    width: 200px;
    height: 40px;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    font-weight: bold;
    font-size: 1.4rem;
  }
  .p_user_guide_list .item a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 22px;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 5px solid #fff;
  }
  .adv .main_content p {
    font-size: 1.6rem;
    line-height: 24px;
  }
  .adv .list_point {
    margin-bottom: 130px;
    margin-top: 40px;
    counter-reset: div;
  }
  .adv .list_point li > p {
    color: #374c5a;
    font-weight: bold;
    font-size: 3rem;
    font-family: "Barlow Condensed", sans-serif;
    position: relative;
    margin-top: 50px;
    margin-bottom: 30px;
    letter-spacing: 0.025em;
  }
  .adv .list_point li > p span {
    background-color: #fff;
    position: relative;
    padding-right: 10px;
  }
  .adv .list_point li > p span::after {
    counter-increment: div;
    content: "0" counter(div);
    font-size: 4.8rem;
    margin-left: 10px;
  }
  .adv .list_point li > p:after {
    border-top: 1px solid #708498;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
  }
  .adv .list_point .l_df {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .adv .list_point .l_df figure {
    width: 400px;
  }
  .adv .list_point .l_df figure img {
    display: block;
    width: 100%;
    height: auto;
  }
  .adv .list_point .l_df .txt {
    width: -webkit-calc(100% - 400px);
    width: -moz-calc(100% - 400px);
    width: calc(100% - 400px);
    padding-left: 35px;
  }
  .adv .list_point .l_df .txt h4 {
    font-size: 2.4rem;
    line-height: 30px;
    font-weight: bold;
    color: #2f4858;
    margin-bottom: 20px;
  }
  .adv .list_point .l_df .txt p:not(:last-child) {
    margin-bottom: 30px;
  }
  .about .table {
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .about .table table td {
    border-bottom: 1px solid #eee;
    font-size: 1.4rem;
    line-height: 24px;
    vertical-align: top;
    text-align: left;
    padding: 15px;
    font-weight: 500;
  }
  .about .table table td .list_img {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .table table th {
    padding: 15px;
    background-color: #f3f6f9;
    border-top: none;
    border-bottom: none;
    color: #2f4858;
    font-weight: bold;
    font-size: 1.6rem;
  }
  .about .table table th:nth-of-type(1) {
    width: 320px;
  }
  .about .table table th:nth-of-type(2) {
    width: 190px;
  }
  .about .table table th:nth-of-type(3) {
    width: 330px;
  }
  .about .table table th:nth-of-type(4) {
    width: 200px;
  }
  .about .table table th:not(:last-child) {
    border-right: 1px solid #fff;
  }
  .about .a_tt4 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #2f4858;
    margin-bottom: 25px;
  }
  .about .a_tt4 + p {
    margin-bottom: 110px;
  }
  .list_ex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 60px;
  }
  .list_ex dl {
    width: 510px;
  }
  .list_ex dl.w100 {
    width: 100%;
  }
  .list_ex dl dt {
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    background-color: #2f4858;
    text-align: center;
    padding: 13px;
  }
  .list_ex dl dt.ic {
    position: relative;
    text-align: left;
    padding-left: 40px;
  }
  .list_ex dl dt.ic::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -1.5px;
    width: 14px;
    height: 3px;
    background: #f78000;
    display: block;
  }
  .list_ex dl dd {
    padding-top: 20px;
  }
  .list_ex dl dd figure {
    margin-bottom: 30px;
    margin-bottom: 60px;
    text-align: center;
    min-height: 104px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .list_ex dl dd figure:after {
    content: '';
    min-height: inherit;
    font-size: 0;
  }
  .ex_step {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
    margin-bottom: 70px;
  }
  .ex_step_item {
    width: 320px;
    border: 4px solid #708498;
    -moz-border-radius: 18px;
         border-radius: 18px;
    padding: 35px 20px;
    position: relative;
  }
  .ex_step_item:not(:nth-child(3n+3)) {
    margin-right: 80px;
  }
  .ex_step_item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -55px;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 23px;
    height: 24px;
    background: url(../img/page_second/08/ic_ar.png) center/contain no-repeat;
    display: block;
  }
  .ex_step_item h4 {
    font-size: 1.5rem;
    text-align: center;
    color: #2f4858;
    font-weight: bold;
    margin-bottom: 15px;
    letter-spacing: -1px;
  }
  .ex_step_item p {
    font-size: 1.4rem;
    line-height: 24px;
  }
  .ex_step_item span {
    font-size: 1.6rem;
    -moz-border-radius: 20px;
         border-radius: 20px;
    color: #fff;
    font-weight: bold;
    background-color: #f78000;
    display: inline-block;
    width: 160px;
    height: 40px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    left: 50%;
    top: -20px;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    letter-spacing: 0.025em;
  }
  .ex_note {
    counter-reset: div;
    margin-bottom: 70px;
  }
  .ex_note > dl {
    margin-bottom: 20px;
  }
  .ex_note > dl > dt {
    font-size: 2rem;
    color: #2f4858;
    font-weight: bold;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f3f6f9;
    border: 1px solid #dbe4eb;
  }
  .ex_note > dl > dt::before {
    counter-increment: div;
    content: "0" counter(div);
    background-color: #2f4858;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    font-family: "Barlow Condensed", sans-serif;
    width: 50px;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #ccc;
    letter-spacing: 0.025em;
    margin-right: 25px;
    margin-top: -1px;
  }
  .ex_note > dl > dd {
    border: 1px solid #dbe4eb;
    padding: 40px;
    border-top: none;
    font-size: 1.6rem;
    line-height: 24px;
  }
  .ex_note > dl > dd .list_dot li {
    position: relative;
    padding-left: 20px;
  }
  .ex_note > dl > dd .list_dot li > span {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.2rem;
    color: #2f4858;
  }
  .ex_note > dl > dd > p:not(:last-child) {
    margin-bottom: 30px;
  }
  .ex_note > dl > dd .ex_note_child {
    background-color: #f4f4f4;
    padding: 30px;
    margin-top: 30px;
  }
  .ex_note > dl > dd .ex_note_child ul li {
    font-size: 1.6rem;
    line-height: 24px;
    margin-bottom: 5px;
  }
  .ex_note > dl > dd .ex_note_child ul li span {
    color: #2f4858;
  }
  .ex_note > dl > dd .ex_note_child dl:not(:last-child) {
    margin-bottom: 22px;
  }
  .ex_note > dl > dd .ex_note_child dt {
    font-size: 1.8rem;
    font-weight: bold;
    color: #2f4858;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ex_note > dl > dd .ex_note_child dt span {
    font-size: 1.2rem;
    margin-right: 6px;
  }
  .ex_save_money {
    margin-top: 50px;
    margin-bottom: 55px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .ex_save_money .item {
    background-color: #f3f6f9;
    -moz-border-radius: 20px;
         border-radius: 20px;
    width: 330px;
    padding: 30px;
    position: relative;
    overflow: hidden;
  }
  .ex_save_money .item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 110px solid #f78000;
    border-right: 110px solid transparent;
  }
  .ex_save_money .item .num {
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
    top: 0;
    left: 0;
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
    z-index: 1;
    line-height: 1;
  }
  .ex_save_money .item .num i {
    font-style: normal;
    font-size: 3.8rem;
    letter-spacing: 0.025em;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    display: block;
  }
  .ex_save_money .item h4 {
    font-size: 2rem;
    font-weight: bold;
    color: #2f4858;
    text-align: center;
    margin-bottom: 10px;
  }
  .ex_save_money .item p {
    font-size: 1.4rem;
    line-height: 24px;
  }
  .ex_boximg {
    background-color: #f3f6f9;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 45px;
    margin-bottom: 95px;
  }
  .ex_boximg figure {
    width: 280px;
  }
  .ex_boximg figure img {
    display: block;
    width: 100%;
    height: auto;
  }
  .ex_boximg .txt {
    width: -webkit-calc(100% - 280px);
    width: -moz-calc(100% - 280px);
    width: calc(100% - 280px);
    padding-left: 40px;
  }
  .ex_boximg .txt h4 {
    font-size: 2rem;
    font-weight: bold;
    color: #2f4858;
    margin-bottom: 10px;
  }
  .ex_boximg .txt p {
    font-size: 1.6rem;
    line-height: 24px;
    font-weight: 500;
  }
  .ex_note.mb {
    margin-bottom: 34px;
  }
  .table.table_bd {
    margin-top: 48px;
    margin-bottom: 40px;
  }
  .table.table_bd table tr:last-child td {
    border-bottom: 1px solid #dbe4eb;
  }
  .table.table_bd table th {
    border-right: 1px solid #dbe4eb;
  }
  .table.table_bd table th:nth-of-type(1) {
    border-left: 1px solid #dbe4eb;
  }
  .table.table_bd table td {
    font-weight: 500;
    border-right: 1px solid #dbe4eb;
  }
  .table.table_bd table td:nth-of-type(1) {
    border-left: 1px solid #dbe4eb;
  }
  .table.table_bd_l {
    margin-top: 48px;
    margin-bottom: 40px;
  }
  .table.table_bd_l table tr:first-child td {
    border-top: 1px solid #dbe4eb;
  }
  .table.table_bd_l table th {
    border-right: 1px solid #dbe4eb;
  }
  .table.table_bd_l table th:nth-of-type(1) {
    border-left: 1px solid #dbe4eb;
  }
  .table.table_bd_l table td {
    border-right: 1px solid #dbe4eb;
    border-bottom: 1px solid #dbe4eb;
  }
  .box_or {
    border: 5px solid #f3f6f9;
    padding: 30px;
    margin-bottom: 52px;
  }
  .box_or.mb {
    margin-bottom: 110px;
  }
  .box_or h4 {
    position: relative;
    padding-left: 30px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #2f4858;
    margin-bottom: 10px;
  }
  .box_or h4::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 23px;
    height: 22px;
    background: url(../img/ic_i.png) center/contain no-repeat;
    display: block;
  }
  .box_or p {
    font-size: 1.6rem;
    font-weight: 500;
  }
  .list_qa {
    margin-bottom: 41px;
  }
  .list_qa li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .list_qa li:not(:last-child) {
    margin-bottom: 12px;
  }
  .list_qa li span {
    background-color: #f78000;
    color: #fff;
    font-size: 1.6rem;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: bold;
    letter-spacing: 0.05em;
    width: 68px;
    height: 28px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -moz-border-radius: 3px;
         border-radius: 3px;
  }
  .list_qa li a {
    position: relative;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: underline;
    width: -webkit-calc(100% - 68px);
    width: -moz-calc(100% - 68px);
    width: calc(100% - 68px);
    padding-left: 18px;
    display: inline-block;
    padding-top: 4px;
  }
  .qa_ex {
    counter-reset: dl;
    counter-reset: dll;
    margin-bottom: 150px;
  }
  .qa_ex h4 {
    font-size: 2.4rem;
    font-weight: bold;
    color: #374c5a;
    padding-left: 30px;
    position: relative;
    border-bottom: 3px solid #374c5a;
    padding-bottom: 5px;
    margin-bottom: 35px;
    margin-top: 25px;
  }
  .qa_ex h4::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 4px;
    margin-top: -2px;
    background: #f78000;
    display: block;
  }
  .qa_ex dl {
    padding-left: 80px;
    margin-bottom: 33px;
  }
  .qa_ex dl:not(:last-child) {
    padding-bottom: 40px;
    border-bottom: 1px solid #dbe4eb;
  }
  .qa_ex dl dt {
    font-size: 1.8rem;
    font-weight: bold;
    color: #374c5a;
    position: relative;
    padding-top: 13px;
    margin-bottom: 20px;
  }
  .qa_ex dl dt::before {
    counter-increment: dl;
    content: "Q.0" counter(dl);
    font-size: 1.8rem;
    letter-spacing: 0.05em;
    color: #fff;
    font-weight: bold;
    font-family: "Barlow Condensed", sans-serif;
    background-color: #f78000;
    -moz-border-radius: 3px;
         border-radius: 3px;
    width: 60px;
    height: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    left: -80px;
    top: 0;
  }
  .qa_ex dl dd {
    position: relative;
    padding-top: 13px;
  }
  .qa_ex dl dd p {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 24px;
  }
  .qa_ex dl dd p:not(:last-child) {
    margin-bottom: 25px;
  }
  .qa_ex dl dd::before {
    counter-increment: dll;
    content: "A.0" counter(dll);
    font-size: 1.8rem;
    letter-spacing: 0.05em;
    color: #fff;
    font-weight: bold;
    font-family: "Barlow Condensed", sans-serif;
    background-color: #455581;
    -moz-border-radius: 3px;
         border-radius: 3px;
    width: 60px;
    height: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    left: -80px;
    top: 0;
  }
  .mt25 {
    margin-top: 25px;
  }
  .olist_img {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 17px;
    margin-bottom: 70px;
  }
  .olist_img .item {
    width: 560px;
    margin-bottom: 32px;
  }
  .olist_img .item h4 {
    font-size: 1.8rem;
    color: #2f4858;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .olist_img .item p {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 24px;
  }
  .olist_img .item figure {
    margin-bottom: 20px;
  }
  .olist_img .item figure img {
    display: block;
    width: 100%;
    height: auto;
  }
  .ex_step.type2 {
    margin-bottom: 160px;
    margin-top: 40px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .ex_step.type2 .ex_step_item:not(:last-child)::after {
    top: 29%;
    right: -39px;
  }
  .ex_step.type2 .ex_step_item {
    margin-right: 0;
    padding: 0;
    border: 0;
    width: 250px;
  }
  .ex_step.type2 .ex_step_item h4 {
    font-size: 1.6rem;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .ex_step.type2 .img {
    background-color: #f4f4f4;
    -moz-border-radius: 15px;
         border-radius: 15px;
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .ex_step.type2 .img figure {
    min-height: 89px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  .ex_step.type2 .img figure:after {
    content: '';
    min-height: inherit;
    font-size: 0;
  }
  .p_policy .p_privacy_main dl dd {
    font-weight: 500;
  }
  .law .table {
    margin-bottom: 120px;
  }
  .law a {
    color: #313131;
  }
  .law .table table th {
    background-color: transparent;
    font-weight: bold;
    color: #708498;
    text-align: left;
    border: none;
    padding: 15px;
    padding-left: 20px;
    width: 22%;
  }
  .law .table table td {
    font-weight: 500;
    text-align: left;
    padding: 15px;
    width: 78%;
  }
  .law .table table tr:nth-child(odd) {
    border-top: 1px solid #dbe4eb;
    border-bottom: 1px solid #dbe4eb;
    background-color: #f3f6f9;
  }
  .p_step .table02 {
    margin-top: 34px;
    margin-bottom: 145px;
  }
  .p_step .table02 dl {
    background-color: #fff;
  }
  .p_step .table02 dl:not(:last-child) {
    border-bottom: none;
  }
  .p_step .table02 dl dt {
    font-size: 1.4rem;
    color: #708498;
    font-weight: bold;
    background-color: #f3f6f9;
    border-right: 1px solid #dbe4eb;
    border-left: 1px solid #dbe4eb;
    text-align: center;
    width: 216px;
    display: block;
  }
  .p_step .table02 dl dd {
    width: -webkit-calc(100% - 216px);
    width: -moz-calc(100% - 216px);
    width: calc(100% - 216px);
    font-size: 1.4rem;
    border-right: 1px solid #dbe4eb;
  }
  .p_company .table02 {
    margin-top: 34px;
    margin-bottom: 145px;
  }
  .p_company .table02 dl {
    background-color: transparent;
  }
  .p_company .table02 dl:nth-child(odd) {
    background-color: #f3f6f9;
  }
  .p_company .table02 dl:not(:last-child) {
    border-bottom: none;
  }
  .p_company .table02 dl dt {
    font-size: 1.4rem;
    color: #708498;
    font-weight: bold;
    border-right: 1px solid #dbe4eb;
    width: 216px;
    display: block;
    padding-left: 30px;
  }
  .p_company .table02 dl dd {
    width: -webkit-calc(100% - 216px);
    width: -moz-calc(100% - 216px);
    width: calc(100% - 216px);
    font-size: 1.4rem;
    padding-left: 40px;
    color: #313131;
  }
  .p_privacy {
    margin-bottom: 80px;
  }
  .p_privacy_main dl {
    margin-bottom: 45px;
    color: #313131;
  }
  .p_privacy_main dl dt {
    font-size: 1.6rem;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .p_privacy_main dl dd {
    font-size: 1.6rem;
    line-height: 30px;
  }
  .p_privacy_main dl dd .mt {
    margin-top: 30px;
  }
  .p_privacy_main dl dd ul li ul {
    padding-left: 20px;
    margin-top: 10px;
  }
  .p_contact {
    margin-bottom: 110px;
  }
  .p_contact_main > p {
    font-size: 1.6rem;
    line-height: 24px;
  }
  .p_contact .box_cl {
    border: 4px solid #dbe4eb;
    background-color: #f3f6f9;
    text-align: center;
    padding: 100px 30px;
    margin-bottom: 76px;
    font-size: 1.6rem;
    line-height: 30px;
    color: #313131;
  }
  .p_contact .btn_wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .p_contact .btn_wrap a.btn01.btn02, .p_contact .btn_wrap button.btn01.btn02 {
    min-width: 200px;
  }
  .p_contact .btn_wrap a.btn01.btn02::before, .p_contact .btn_wrap button.btn01.btn02::before {
    display: none;
  }
  .p_contact form {
    margin-top: 40px;
  }
  .p_contact form .form_ex:not(:last-of-type) {
    margin-bottom: 100px;
  }
  .p_contact form .form_ex:nth-of-type(2) {
    margin-bottom: 45px;
  }
  .p_contact form .form_ex h4 {
    font-size: 1.8rem;
    color: #313131;
    font-weight: bold;
    margin-bottom: 12px;
  }
  .p_contact form dl {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 15px 0 25px;
  }
  .p_contact form dl:nth-child(even) {
    background-color: #f3f6f9;
    border-top: 1px solid #dbe4eb;
    border-bottom: 1px solid #dbe4eb;
  }
  .p_contact form dl .select {
    width: 401px;
  }
  .p_contact form dl .select label {
    height: 36px;
    border: 4px solid #dbe4eb;
    -moz-border-radius: 5px;
         border-radius: 5px;
    line-height: 28px;
    position: relative;
  }
  .p_contact form dl .select label::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 13px;
    height: 9px;
    background: url(../img/ic_ar_bot.png) center/contain no-repeat;
    display: block;
    border-color: none;
    border-width: 0;
  }
  .p_contact form dl .select label select {
    padding-left: 10px;
    color: #313131;
  }
  .p_contact form dl .c_df {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .p_contact form dl .c_df_item {
    width: 300px;
  }
  .p_contact form dl .c_df_item input {
    margin-left: 15px;
  }
  .p_contact form dl dt {
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 40px;
    width: 280px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1.4rem;
    color: #708498;
    font-weight: bold;
  }
  .p_contact form dl dt .required {
    color: #fff;
    -moz-border-radius: 15px;
         border-radius: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #f78000;
    width: 70px;
    height: 24px;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .p_contact form dl dd {
    width: -webkit-calc(100% - 280px);
    width: -moz-calc(100% - 280px);
    width: calc(100% - 280px);
    font-size: 1.4rem;
    color: #313131;
    line-height: 24px;
  }
  .p_contact form dl dd p {
    margin-top: 12px;
  }
  .p_contact form dl dd input {
    border: 4px solid #dbe4eb;
    -moz-border-radius: 5px;
         border-radius: 5px;
    width: 220px;
    min-height: 36px;
    padding: 0 10px;
    outline: none;
    font-size: 1.4rem;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  .p_contact form dl dd input.mr {
    margin-right: 15px;
  }
  .p_contact form dl dd input.w100 {
    width: 100px;
  }
  .p_contact form dl dd input.w320 {
    width: 320px;
  }
  .p_contact form dl dd input.w401 {
    width: 401px;
  }
  .p_contact form dl dd input::-ms-clear {
    display: none;
  }
  .p_contact form dl dd textarea {
    font-size: 1.4rem;
    border: 4px solid #dbe4eb;
    -moz-border-radius: 5px;
         border-radius: 5px;
    width: 850px;
    min-height: 117px;
    padding: 8px 10px;
    outline: none;
    resize: vertical;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  .p_news {
    margin-bottom: 160px;
  }
  .p_news p {
    font-size: 1.6rem;
    line-height: 24px;
  }
  .p_news .news_list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 70px;
  }
  .p_news .news_list_item {
    width: 360px;
    margin-bottom: 45px;
    display: block;
  }
  .p_news .news_list_item:hover .txt h3 {
    text-decoration: none;
  }
  .p_news .news_list_item:not(:nth-child(3n+3)) {
    margin-right: 40px;
  }
  .p_news .news_list_item figure {
    height: 230px;
    width: 100%;
  }
  .p_news .news_list_item figure img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .p_news .news_list_item .txt {
    margin-top: 15px;
  }
  .p_news .news_list_item .txt time {
    font-size: 1.8rem;
    font-weight: 600;
    color: #2f4858;
    font-family: "Barlow Condensed", sans-serif;
    display: block;
    letter-spacing: 0.025em;
    margin-bottom: 3px;
  }
  .p_news .news_list_item .txt h3 {
    font-size: 1.6rem;
    line-height: 24px;
    font-weight: 500;
    color: #2f4858;
    text-decoration: underline;
  }
  .p_news_detail {
    margin-bottom: 155px;
  }
  .p_news_detail .ttl3_st2 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .p_news_detail .ttl3_st2 time {
    font-size: 1.6rem;
    font-weight: 600;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 0.025em;
    margin-left: 20px;
  }
  .p_news_detail h4 {
    font-size: 1.8rem;
    color: #2f4858;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .p_news_detail p {
    font-size: 1.6rem;
    line-height: 24px;
  }
  .p_news_detail p:not(:last-child) {
    margin-bottom: 25px;
  }
  .p_news_detail figure {
    margin-bottom: 30px;
  }
  .p_news_detail a.link_cm {
    font-size: 1.6rem;
    font-weight: bold;
    color: #708498;
    text-decoration: underline;
  }
  .p_news_detail a.link_cm:hover {
    text-decoration: none;
  }
  .p_news_detail .p_dt_nav {
    margin-top: 80px;
  }
  .p_news_detail .p_dt_nav ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .p_news_detail .p_dt_nav li.prev a {
    position: relative;
  }
  .p_news_detail .p_dt_nav li.prev a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 20px;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 6px;
    height: 9px;
    background: url(../img/ic_ar_dt.png) center/contain no-repeat;
    display: block;
  }
  .p_news_detail .p_dt_nav li.next a {
    position: relative;
  }
  .p_news_detail .p_dt_nav li.next a::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%) rotate(180deg);
       -moz-transform: translateY(-50%) rotate(180deg);
        -ms-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg);
    width: 6px;
    height: 9px;
    background: url(../img/ic_ar_dt.png) center/contain no-repeat;
    display: block;
  }
  .p_news_detail .p_dt_nav li a {
    font-size: 1.8rem;
    color: #313131;
    font-family: "Barlow Condensed", sans-serif;
    background-color: #f3f6f9;
    display: inline-block;
    padding: 8px 35px;
    -moz-border-radius: 15px;
         border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 500;
    letter-spacing: 0.025em;
  }
}

@media screen and (max-width: 768px) {
  .category .aside_banner01 a {
    background-color: #f78000;
    color: #fff;
  }
  .category .aside_banner01 a::after {
    border-left-color: #fff;
  }
  .products {
    padding-top: 6.51042vw;
  }
  .products .ttl_head {
    font-size: 3.33333vw;
    font-weight: bold;
    margin-bottom: 7.91667vw;
  }
  .products .ttl_head span {
    color: #f78000;
    font-size: 4.16667vw;
  }
  .products .p_nav {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: 4.16667vw;
    padding-bottom: 4.16667vw;
  }
  .products .p_nav.center {
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 6.51042vw;
    margin-bottom: 6.51042vw;
  }
  .products .p_nav.center .page_wr {
    margin-left: auto;
    margin-right: auto;
  }
  .products .p_nav .page_wr {
    margin-left: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .products .p_nav .page_wr > span {
    font-size: 2.91667vw;
    font-weight: bold;
    margin-right: 2.08333vw;
    white-space: nowrap;
  }
  .products .p_nav .sl1 {
    margin-bottom: 1.95312vw;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .products .p_nav .sl1 span {
    font-size: 2.91667vw;
    font-weight: bold;
    margin-right: 3.125vw;
    white-space: nowrap;
  }
  .products .p_nav .sl2 {
    margin-bottom: 1.95312vw;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .products .p_nav .sl2 span {
    font-size: 2.91667vw;
    font-weight: bold;
    margin-right: 3.125vw;
    white-space: nowrap;
  }
  .products_list_item {
    border-bottom: 1px solid #eee;
    padding-top: 6.25vw;
    padding-bottom: 6.25vw;
  }
  .products_list_item.style02 {
    display: block;
    padding-top: 0;
  }
  .products_list_item.style02.style03 .df .item_r .btn01 {
    margin-top: 4.16667vw;
  }
  .products_list_item.style02.style03 .df .item_r .btn01.btn03 {
    margin-top: 2.08333vw;
    margin-bottom: 4.16667vw;
  }
  .products_list_item.style02 .products_txt_head {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .products_list_item.style02 .products_txt_head > span {
    -moz-border-radius: 50%;
         border-radius: 50%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f5555a;
    font-size: 3.75vw;
    font-weight: bold;
    line-height: 4.16667vw;
    width: 14.58333vw;
    height: 14.58333vw;
    color: #fff;
    margin-right: 1.95312vw;
  }
  .products_list_item.style02 .products_txt_head ul {
    -webkit-box-ordinal-group: 4;
       -moz-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin-top: 3.90625vw;
  }
  .products_list_item.style02 .products_txt_head ul li {
    margin-bottom: 1.95312vw;
  }
  .products_list_item.style02 .products_txt_head ul li a {
    background: #dbe4eb;
    color: #708498;
    padding: 1.66667vw;
    display: inline-block;
    -moz-border-radius: 3.125vw;
         border-radius: 3.125vw;
    min-width: 44.92188vw;
    font-weight: bold;
    text-align: center;
    font-size: 3.33333vw;
  }
  .products_list_item.style02 .products_txt_head > a {
    -webkit-box-ordinal-group: 3;
       -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 9.11458vw;
    height: 9.11458vw;
    margin-left: auto;
  }
  .products_list_item.style02 .df figure {
    margin-bottom: 3.90625vw;
    border: 1px solid #ccc;
    padding: 12.5vw 6.25vw 6.25vw;
  }
  .products_list_item.style02 .df .item_l .table th {
    color: #000;
  }
  .products_list_item.style02 .df .item_l .table th:nth-of-type(2) {
    text-align: left;
    font-weight: 500;
  }
  .products_list_item.style02 .df .item_l .table td {
    color: #000;
  }
  .products_list_item.style02 .df .item_l .table td:nth-of-type(2) {
    text-align: left;
    font-weight: 500;
  }
  .products_list_item.style02 .df .item_l .p_price {
    margin-bottom: 6.25vw;
  }
  .products_list_item.style02 .df .item_r .btn01 {
    width: 56.25vw;
    margin-top: 6.25vw;
  }
  .products_list_item.style02 .df .item_r .btn01.btn02 {
    margin-top: 2.08333vw;
    margin-bottom: 4.16667vw;
  }
  .products_list_item.style02 .df .item_r a.link_mail {
    position: relative;
    padding-left: 4.79167vw;
    font-size: 2.91667vw;
    font-weight: bold;
    color: #666666;
  }
  .products_list_item.style02 .df .item_r a.link_mail::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 3.75vw;
    height: 2.91667vw;
    background: url(../img/ic_mail.png) center/contain no-repeat;
    display: block;
  }
  .products_list_item.style02 .df .item_r a.link_fav {
    position: relative;
    padding-left: 4.79167vw;
    font-size: 2.91667vw;
    font-weight: bold;
    color: #666666;
  }
  .products_list_item.style02 .df .item_r a.link_fav::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 3.33333vw;
    height: 3.33333vw;
    background: url(../img/ic_star01.png) center/contain no-repeat;
    display: block;
  }
  .products_list_item.style02 .df .item_r .rank {
    text-decoration: underline;
    font-size: 3.33333vw;
    font-weight: bold;
    color: #708498;
  }
  .products_list_item.style02 .df .item_r .rank img {
    margin-right: 3.125vw;
    margin-bottom: -2.08333vw;
    margin-top: 2.60417vw;
    width: 15.625vw;
  }
  .products_list_item.style02 .txt_detail {
    margin-top: 10.41667vw;
  }
  .products_list_item.style02 .txt_detail p {
    font-size: 3.33333vw;
    line-height: 5vw;
  }
  .products_list_item.style02 .txt_detail p:not(:last-child) {
    margin-bottom: 6.25vw;
  }
  .products_list_item.style02 .txt_detail .list_func {
    margin-top: 12.5vw;
    margin-bottom: 10.41667vw;
  }
  .products_list_item.style02 .txt_detail .list_func li {
    background-color: #f3f6f9;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5.20833vw;
  }
  .products_list_item.style02 .txt_detail .list_func li:nth-child(even) {
    background-color: #e9eff4;
  }
  .products_list_item.style02 .txt_detail .list_func li img {
    margin-right: auto;
    margin-left: auto;
    width: 13.02083vw;
  }
  .products_list_item.style02 .txt_detail .list_func li .txt {
    width: 83.33333vw;
    padding-left: 3.90625vw;
  }
  .products_list_item.style02 .txt_detail .list_func li .txt h4 {
    font-size: 3.33333vw;
    font-weight: bold;
  }
  .products_list_item.style02 .txt_detail .list_func li .txt p {
    font-size: 2.91667vw;
    line-height: 5vw;
  }
  .products_list_item.style02 .txt_detail .table02 {
    margin-bottom: 6.51042vw;
  }
  .products_list_item figure img {
    display: block;
    width: 100%;
    height: auto;
  }
  .products_list_item .products_txt h3 {
    font-size: 4.16667vw;
    line-height: 1.6;
    font-weight: bold;
    margin-bottom: 4.16667vw;
  }
  .products_list_item .products_txt h3 span {
    padding: 1.04167vw 3.125vw;
    color: #fff;
    font-size: 3.125vw;
    letter-spacing: 0.1em;
    background-color: #f78000;
    margin-right: 3.125vw;
  }
  .products_list_item .products_txt > p {
    font-size: 3.33333vw;
    line-height: 5vw;
    margin-top: 3.90625vw;
    margin-bottom: 3.90625vw;
  }
  .products_list_item .products_txt .table table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  .products_list_item .products_txt .table table th {
    text-align: center;
    font-size: 2.91667vw;
    font-weight: bold;
    color: #708498;
    background-color: #f3f6f9;
    border-top: 1px solid #dbe4eb;
    border-bottom: 1px solid #dbe4eb;
    padding: 2.08333vw;
    width: 25%;
  }
  .products_list_item .products_txt .table table th:first-child {
    width: 18%;
  }
  .products_list_item .products_txt .table table th:last-child {
    width: 32%;
  }
  .products_list_item .products_txt .table table td {
    text-align: center;
    font-size: 2.91667vw;
    font-weight: bold;
    padding: 2.08333vw;
  }
  .products_list_item .products_txt_bot p {
    font-size: 4.16667vw;
    color: #f5555a;
    font-weight: bold;
    margin-bottom: 2.60417vw;
  }
  .products_list_item .products_txt_bot p span {
    font-size: 7.5vw;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 0.025em;
  }
  .products_list_item .products_txt_bot a {
    background-color: #f78000;
    font-size: 2.91667vw;
    color: #fff;
    padding: 3.125vw 7.29167vw;
    -moz-border-radius: 5.83333vw;
         border-radius: 5.83333vw;
    position: relative;
    display: inline-block;
  }
  .products_list_item .products_txt_bot a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 4.16667vw;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 0.83333vw solid transparent;
    border-bottom: 0.83333vw solid transparent;
    border-left: 1.04167vw solid #fff;
  }
  .boxoverlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1900;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    -webkit-transform: translateX(-50%) translateY(-50%);
       -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  .modal form {
    position: relative;
  }
  .modal .btn_close {
    position: absolute;
    top: -9.11458vw;
    right: -3.25521vw;
    width: 6.51042vw;
    height: 6.51042vw;
    cursor: pointer;
  }
  .modal .m_in {
    -moz-border-radius: 1.04167vw;
         border-radius: 1.04167vw;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    background: #fff;
    -webkit-transform: scale(2);
       -moz-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .modal.open {
    visibility: visible;
  }
  .modal.open .m_in {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  .modal .m_in {
    padding-top: 5.20833vw;
    padding-left: 2.60417vw;
    padding-bottom: 2.60417vw;
    -moz-border-radius: 2.08333vw;
         border-radius: 2.08333vw;
    background: #fff;
  }
  .modal .main_modal .m_df {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 3.75vw;
  }
  .modal .main_modal .m_df:last-child {
    border-color: #000;
  }
  .modal .main_modal .m_df > span {
    font-size: 3.75vw;
    font-weight: bold;
  }
  .modal .main_modal .m_df .checkbox label {
    font-size: 3.75vw;
    line-height: 6.25vw;
    padding-left: 10vw;
  }
  .modal .main_modal .m_df .checkbox label::before {
    width: 5.625vw;
    height: 5.625vw;
    border: 0.625vw solid #eee;
    -moz-border-radius: 0.625vw;
         border-radius: 0.625vw;
  }
  .modal .main_modal .m_df .checkbox label::after {
    width: 2.08333vw;
    height: 4.16667vw;
    left: 2.29167vw;
  }
  .modal .main_modal .total {
    text-align: right;
    font-size: 3.33333vw;
  }
  .modal .main_modal .total span {
    color: #f5555a;
    font-weight: bold;
  }
  .modal .main_modal .total span:nth-of-type(1) {
    font-size: 5vw;
  }
  .modal .main_modal .total span:nth-of-type(2) {
    font-size: 3.75vw;
  }
  .modal .main_modal .btn_modal {
    text-align: center;
    margin-top: 6.25vw;
  }
  .modal .main_modal .btn_modal .btn01 {
    min-width: 50vw;
  }
  .scrollable {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 79.16667vw;
  }
  .scrollable.showScroll::after {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 3.54167vw;
  }
  .scrollable.showScroll::before {
    position: absolute;
    content: '';
    top: 0;
    right: 1.66667vw;
    height: 100%;
    width: 1.25vw;
    background: #DDE2E6;
    -moz-border-radius: 1.66667vw;
         border-radius: 1.66667vw;
    z-index: 1;
  }
  .scrollable .content-wrapper {
    width: -webkit-calc(100% + 3.90625vw);
    width: -moz-calc(100% + 3.90625vw);
    width: calc(100% + 3.90625vw);
    height: 100%;
    overflow-y: scroll;
    padding-right: 6.51042vw;
  }
  .scroller {
    z-index: 5;
    cursor: pointer;
    position: absolute;
    width: 1.25vw;
    height: 18.75vw;
    -moz-border-radius: 1.66667vw;
         border-radius: 1.66667vw;
    background: #f78000;
    top: 0vw;
    right: 1.66667vw;
    -webkit-transition: top .08s;
    -moz-transition: top .08s;
    transition: top .08s;
  }
  .content {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .p_user_guide p {
    font-size: 3.33333vw;
    line-height: 5vw;
  }
  .p_user_guide_list {
    margin-top: 9.76562vw;
    margin-bottom: 17.31771vw;
  }
  .p_user_guide_list .item {
    text-align: center;
    background-color: #f3f6f9;
    padding: 6.51042vw;
    margin-bottom: 3.90625vw;
  }
  .p_user_guide_list .item figure {
    margin-bottom: 6.25vw;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .p_user_guide_list .item figure img {
    width: auto;
    height: auto;
  }
  .p_user_guide_list .item figure:after {
    content: '';
    min-height: inherit;
    font-size: 0;
  }
  .p_user_guide_list .item h4 {
    font-size: 3.33333vw;
    font-weight: bold;
    margin-bottom: 1.04167vw;
  }
  .p_user_guide_list .item p {
    font-size: 2.91667vw;
    line-height: 5vw;
    font-weight: 500;
    margin-bottom: 5.20833vw;
  }
  .p_user_guide_list .item a {
    background-color: #2f4858;
    color: #fff;
    -moz-border-radius: 6.25vw;
         border-radius: 6.25vw;
    padding: 2.08333vw 4.16667vw;
    width: 41.66667vw;
    height: 8.33333vw;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    font-weight: bold;
    font-size: 2.91667vw;
  }
  .p_user_guide_list .item a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 4.58333vw;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 0.83333vw solid transparent;
    border-bottom: 0.83333vw solid transparent;
    border-left: 1.04167vw solid #fff;
  }
  .adv .main_content p {
    font-size: 3.33333vw;
    line-height: 5vw;
  }
  .adv .list_point {
    margin-bottom: 16.92708vw;
    margin-top: 8.33333vw;
    counter-reset: div;
  }
  .adv .list_point li > p {
    color: #374c5a;
    font-weight: bold;
    font-size: 6.25vw;
    font-family: "Barlow Condensed", sans-serif;
    position: relative;
    margin-top: 10.41667vw;
    margin-bottom: 6.25vw;
    letter-spacing: 0.025em;
  }
  .adv .list_point li > p span {
    background-color: #fff;
    position: relative;
    padding-right: 2.08333vw;
  }
  .adv .list_point li > p span::after {
    counter-increment: div;
    content: "0" counter(div);
    font-size: 10vw;
    margin-left: 2.08333vw;
  }
  .adv .list_point li > p:after {
    border-top: 1px solid #708498;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
  }
  .adv .list_point .l_df figure img {
    display: block;
    width: 100%;
    height: auto;
  }
  .adv .list_point .l_df .txt {
    margin-top: 3.90625vw;
  }
  .adv .list_point .l_df .txt h4 {
    font-size: 5vw;
    line-height: 6.25vw;
    font-weight: bold;
    color: #2f4858;
    margin-bottom: 4.16667vw;
  }
  .adv .list_point .l_df .txt p:not(:last-child) {
    margin-bottom: 3.90625vw;
  }
  .about .table {
    margin-top: 10.41667vw;
    margin-bottom: 5.20833vw;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-right: -3.90625vw;
    padding-bottom: 1px;
  }
  .about .table table {
    width: 182.29167vw;
    -webkit-box-flex: 0;
       -moz-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .about .table table td {
    border-bottom: 1px solid #eee;
    font-size: 2.91667vw;
    line-height: 5vw;
    vertical-align: top;
    text-align: left;
    padding: 3.125vw;
    font-weight: 500;
  }
  .about .table table td .list_img {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .table table th {
    padding: 3.125vw;
    background-color: #f3f6f9;
    border-top: none;
    border-bottom: none;
    color: #2f4858;
    font-weight: bold;
    font-size: 3.33333vw;
  }
  .about .table table th:nth-of-type(1) {
    width: 66.66667vw;
  }
  .about .table table th:nth-of-type(2) {
    width: 39.58333vw;
  }
  .about .table table th:nth-of-type(3) {
    width: 68.75vw;
  }
  .about .table table th:nth-of-type(4) {
    width: 41.66667vw;
  }
  .about .table table th:not(:last-child) {
    border-right: 1px solid #fff;
  }
  .about .a_tt4 {
    font-size: 3.75vw;
    font-weight: bold;
    color: #2f4858;
    margin-bottom: 5.20833vw;
  }
  .about .a_tt4 + p {
    margin-bottom: 13.02083vw;
  }
  .list_ex {
    margin-top: 12.5vw;
  }
  .list_ex dl:nth-child(1) {
    margin-bottom: 7.8125vw;
  }
  .list_ex dl:nth-child(1) dd img {
    width: 41.66667vw;
    min-width: 250px;
  }
  .list_ex dl:nth-child(2) {
    margin-bottom: 3.90625vw;
  }
  .list_ex dl:nth-child(2) dd img {
    width: 49.21875vw;
    min-width: 250px;
  }
  .list_ex dl dt {
    font-size: 3.33333vw;
    font-weight: bold;
    color: #fff;
    background-color: #2f4858;
    text-align: center;
    padding: 2.70833vw;
  }
  .list_ex dl dt.ic {
    position: relative;
    text-align: left;
    padding-left: 8.33333vw;
  }
  .list_ex dl dt.ic::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 3.125vw;
    margin-top: -0.26042vw;
    width: 2.91667vw;
    height: 0.52083vw;
    background: #f78000;
    display: block;
  }
  .list_ex dl dd {
    padding-top: 4.16667vw;
  }
  .list_ex dl dd figure {
    margin-bottom: 3.90625vw;
    text-align: center;
  }
  .list_ex dl dd figure:after {
    content: '';
    min-height: inherit;
    font-size: 0;
  }
  .ex_step {
    margin-top: 12.5vw;
    margin-bottom: 14.58333vw;
  }
  .ex_step_item {
    border: 0.52083vw solid #708498;
    -moz-border-radius: 3.75vw;
         border-radius: 3.75vw;
    padding: 7.29167vw 4.16667vw;
    position: relative;
    margin-bottom: 13.02083vw;
  }
  .ex_step_item:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -7.8125vw;
    -webkit-transform: translateX(-50%) rotate(90deg);
       -moz-transform: translateX(-50%) rotate(90deg);
        -ms-transform: translateX(-50%) rotate(90deg);
            transform: translateX(-50%) rotate(90deg);
    width: 4.79167vw;
    height: 5vw;
    background: url(../img/page_second/08/ic_ar.png) center/contain no-repeat;
    display: block;
  }
  .ex_step_item h4 {
    font-size: 3.125vw;
    text-align: center;
    color: #2f4858;
    font-weight: bold;
    margin-bottom: 3.125vw;
    letter-spacing: -1px;
  }
  .ex_step_item p {
    font-size: 2.91667vw;
    line-height: 5vw;
  }
  .ex_step_item span {
    font-size: 3.33333vw;
    -moz-border-radius: 4.16667vw;
         border-radius: 4.16667vw;
    color: #fff;
    font-weight: bold;
    background-color: #f78000;
    display: inline-block;
    width: 33.33333vw;
    height: 8.33333vw;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    left: 50%;
    top: -4.16667vw;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    letter-spacing: 0.025em;
  }
  .ex_note {
    counter-reset: div;
    margin-bottom: 14.58333vw;
  }
  .ex_note > dl {
    margin-bottom: 4.16667vw;
  }
  .ex_note > dl > dt {
    font-size: 4.16667vw;
    color: #2f4858;
    font-weight: bold;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f3f6f9;
    border: 1px solid #dbe4eb;
  }
  .ex_note > dl > dt::before {
    counter-increment: div;
    content: "0" counter(div);
    background-color: #2f4858;
    color: #fff;
    font-size: 6.25vw;
    font-weight: bold;
    font-family: "Barlow Condensed", sans-serif;
    width: 10.41667vw;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #ccc;
    letter-spacing: 0.025em;
    margin-right: 5.20833vw;
    margin-top: -1px;
  }
  .ex_note > dl > dd {
    border: 1px solid #dbe4eb;
    padding: 3.90625vw;
    border-top: none;
    font-size: 3.33333vw;
    line-height: 5vw;
  }
  .ex_note > dl > dd .list_dot li {
    position: relative;
    padding-left: 4.16667vw;
  }
  .ex_note > dl > dd .list_dot li > span {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2.5vw;
    color: #2f4858;
  }
  .ex_note > dl > dd > p:not(:last-child) {
    margin-bottom: 6.25vw;
  }
  .ex_note > dl > dd .ex_note_child {
    background-color: #f4f4f4;
    padding: 3.90625vw;
    margin-top: 6.25vw;
  }
  .ex_note > dl > dd .ex_note_child ul li {
    font-size: 3.33333vw;
    line-height: 5vw;
    margin-bottom: 1.04167vw;
  }
  .ex_note > dl > dd .ex_note_child ul li span {
    color: #2f4858;
  }
  .ex_note > dl > dd .ex_note_child dl:not(:last-child) {
    margin-bottom: 4.58333vw;
  }
  .ex_note > dl > dd .ex_note_child dt {
    font-size: 3.75vw;
    font-weight: bold;
    color: #2f4858;
    margin-bottom: 3.125vw;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ex_note > dl > dd .ex_note_child dt span {
    font-size: 2.5vw;
    margin-right: 1.25vw;
  }
  .ex_save_money {
    margin-top: 6.51042vw;
    margin-bottom: 7.16146vw;
  }
  .ex_save_money .item {
    background-color: #f3f6f9;
    -moz-border-radius: 4.16667vw;
         border-radius: 4.16667vw;
    margin-bottom: 3.90625vw;
    padding: 3.90625vw 5.20833vw;
    position: relative;
    overflow: hidden;
  }
  .ex_save_money .item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 22.91667vw solid #f78000;
    border-right: 22.91667vw solid transparent;
  }
  .ex_save_money .item .num {
    position: absolute;
    padding-top: 2.08333vw;
    padding-left: 2.08333vw;
    top: 0;
    left: 0;
    font-size: 3.75vw;
    font-weight: bold;
    color: #fff;
    z-index: 1;
    line-height: 1;
  }
  .ex_save_money .item .num i {
    font-style: normal;
    font-size: 7.91667vw;
    letter-spacing: 0.025em;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    display: block;
  }
  .ex_save_money .item h4 {
    font-size: 4.16667vw;
    font-weight: bold;
    color: #2f4858;
    text-align: center;
    margin-bottom: 2.08333vw;
  }
  .ex_save_money .item p {
    font-size: 2.91667vw;
    line-height: 5vw;
  }
  .ex_boximg {
    background-color: #f3f6f9;
    padding: 3.90625vw;
    margin-bottom: 12.36979vw;
  }
  .ex_boximg figure {
    margin-bottom: 3.90625vw;
  }
  .ex_boximg figure img {
    display: block;
    width: 100%;
    height: auto;
  }
  .ex_boximg .txt h4 {
    font-size: 4.16667vw;
    font-weight: bold;
    color: #2f4858;
    margin-bottom: 2.08333vw;
  }
  .ex_boximg .txt p {
    font-size: 3.33333vw;
    line-height: 5vw;
    font-weight: 500;
  }
  .ex_note.mb {
    margin-bottom: 7.08333vw;
  }
  .table.table_bd {
    margin-top: 6.25vw;
    margin-bottom: 5.20833vw;
  }
  .table.table_bd table tr:last-child td {
    border-bottom: 1px solid #dbe4eb;
  }
  .table.table_bd table th {
    border-right: 1px solid #dbe4eb;
  }
  .table.table_bd table th:nth-of-type(1) {
    border-left: 1px solid #dbe4eb;
  }
  .table.table_bd table td {
    font-weight: 500;
    border-right: 1px solid #dbe4eb;
  }
  .table.table_bd table td:nth-of-type(1) {
    border-left: 1px solid #dbe4eb;
  }
  .table.table_bd_l {
    margin-top: 6.25vw;
    margin-bottom: 5.20833vw;
  }
  .table.table_bd_l table tr:first-child td {
    border-top: 1px solid #dbe4eb;
  }
  .table.table_bd_l table th {
    border-right: 1px solid #dbe4eb;
  }
  .table.table_bd_l table th:nth-of-type(1) {
    border-left: 1px solid #dbe4eb;
  }
  .table.table_bd_l table td {
    border-right: 1px solid #dbe4eb;
    border-bottom: 1px solid #dbe4eb;
  }
  .box_or {
    border: 1.04167vw solid #f3f6f9;
    padding: 3.90625vw;
    margin-bottom: 6.77083vw;
  }
  .box_or.mb {
    margin-bottom: 14.32292vw;
  }
  .box_or h4 {
    position: relative;
    padding-left: 6.25vw;
    font-size: 3.33333vw;
    font-weight: bold;
    color: #2f4858;
    margin-bottom: 2.08333vw;
  }
  .box_or h4::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 4.79167vw;
    height: 4.58333vw;
    background: url(../img/ic_i.png) center/contain no-repeat;
    display: block;
  }
  .box_or p {
    font-size: 3.33333vw;
    font-weight: 500;
  }
  .list_qa {
    margin-bottom: 8.54167vw;
  }
  .list_qa li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .list_qa li:not(:last-child) {
    margin-bottom: 2.5vw;
  }
  .list_qa li span {
    background-color: #f78000;
    color: #fff;
    font-size: 3.33333vw;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: bold;
    letter-spacing: 0.05em;
    width: 14.16667vw;
    height: 5.83333vw;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -moz-border-radius: 0.625vw;
         border-radius: 0.625vw;
  }
  .list_qa li a {
    position: relative;
    font-size: 3.33333vw;
    font-weight: 500;
    text-decoration: underline;
    width: -webkit-calc(100% - vw2(68));
    width: -moz-calc(100% - vw2(68));
    width: calc(100% - vw2(68));
    padding-left: 3.75vw;
    display: inline-block;
    padding-top: 0.83333vw;
  }
  .qa_ex {
    counter-reset: dl;
    counter-reset: dll;
    margin-bottom: 13.02083vw;
  }
  .qa_ex h4 {
    font-size: 5vw;
    font-weight: bold;
    color: #374c5a;
    padding-left: 6.25vw;
    position: relative;
    border-bottom: 0.625vw solid #374c5a;
    padding-bottom: 1.04167vw;
    margin-bottom: 7.29167vw;
    margin-top: 5.20833vw;
  }
  .qa_ex h4::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 2.91667vw;
    height: 0.83333vw;
    margin-top: -0.41667vw;
    background: #f78000;
    display: block;
  }
  .qa_ex dl {
    padding-left: 16.66667vw;
    margin-bottom: 6.875vw;
  }
  .qa_ex dl:not(:last-child) {
    padding-bottom: 8.33333vw;
    border-bottom: 1px solid #dbe4eb;
  }
  .qa_ex dl dt {
    font-size: 3.75vw;
    font-weight: bold;
    color: #374c5a;
    position: relative;
    padding-top: 2.70833vw;
    margin-bottom: 7.29167vw;
  }
  .qa_ex dl dt::before {
    counter-increment: dl;
    content: "Q.0" counter(dl);
    font-size: 3.75vw;
    letter-spacing: 0.05em;
    color: #fff;
    font-weight: bold;
    font-family: "Barlow Condensed", sans-serif;
    background-color: #f78000;
    -moz-border-radius: 0.625vw;
         border-radius: 0.625vw;
    width: 12.5vw;
    height: 10.41667vw;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    left: -16.66667vw;
    top: 0;
  }
  .qa_ex dl dd {
    position: relative;
    padding-top: 2.70833vw;
  }
  .qa_ex dl dd p {
    font-size: 3.33333vw;
    font-weight: 500;
    line-height: 5vw;
  }
  .qa_ex dl dd p:not(:last-child) {
    margin-bottom: 5.20833vw;
  }
  .qa_ex dl dd::before {
    counter-increment: dll;
    content: "A.0" counter(dll);
    font-size: 3.75vw;
    letter-spacing: 0.05em;
    color: #fff;
    font-weight: bold;
    font-family: "Barlow Condensed", sans-serif;
    background-color: #455581;
    -moz-border-radius: 0.625vw;
         border-radius: 0.625vw;
    width: 12.5vw;
    height: 10.41667vw;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    left: -16.66667vw;
    top: 0;
  }
  .mt25 {
    margin-top: 5.20833vw;
  }
  .olist_img {
    margin-top: 3.54167vw;
    margin-bottom: 14.58333vw;
  }
  .olist_img .item {
    margin-bottom: 6.66667vw;
  }
  .olist_img .item figure img {
    display: block !important;
    width: 100% !important;
    height: auto !important;
  }
  .olist_img .item h4 {
    font-size: 3.75vw;
    color: #2f4858;
    font-weight: bold;
    margin-bottom: 1.04167vw;
  }
  .olist_img .item p {
    font-size: 3.33333vw;
    font-weight: 500;
    line-height: 5vw;
  }
  .olist_img .item figure {
    margin-bottom: 4.16667vw;
  }
  .olist_img .item figure img {
    display: block;
    width: 100%;
    height: auto;
  }
  .ex_step.type2 {
    margin-bottom: 13.02083vw;
    margin-top: 8.33333vw;
  }
  .ex_step.type2 .ex_step_item {
    margin-right: 0;
    padding: 0;
    border: 0;
  }
  .ex_step.type2 .ex_step_item h4 {
    font-size: 3.33333vw;
    margin-top: 3.125vw;
    margin-bottom: 2.08333vw;
  }
  .ex_step.type2 .img {
    background-color: #f4f4f4;
    -moz-border-radius: 3.125vw;
         border-radius: 3.125vw;
    padding-top: 10.41667vw;
    padding-bottom: 5.20833vw;
  }
  .ex_step.type2 .img figure {
    text-align: center;
  }
  .ex_step.type2 .img figure img {
    display: inline-block;
    width: auto;
    height: auto;
    min-width: auto;
  }
  .p_policy .p_privacy_main dl dd {
    font-weight: 500;
  }
  .law .table {
    margin-bottom: 13.02083vw;
  }
  .law a {
    color: #313131;
  }
  .law .table table th {
    background-color: transparent;
    font-weight: bold;
    color: #708498;
    text-align: left;
    border: none;
    width: 35%;
  }
  .law .table table td {
    font-weight: 500;
    text-align: left;
    width: 65%;
  }
  .law .table table tr:nth-child(odd) {
    border-top: 1px solid #dbe4eb;
    border-bottom: 1px solid #dbe4eb;
    background-color: #f3f6f9;
  }
  .p_step .table02 {
    margin-top: 7.08333vw;
    margin-bottom: 30.20833vw;
  }
  .p_step .table02 dl {
    background-color: #fff;
  }
  .p_step .table02 dl:not(:last-child) {
    border-bottom: none;
  }
  .p_step .table02 dl:first-child {
    border-bottom: 1px solid #dbe4eb;
  }
  .p_step .table02 dl dt {
    font-size: 2.91667vw;
    color: #708498;
    font-weight: bold;
    background-color: #f3f6f9;
    border-right: 1px solid #dbe4eb;
    border-left: 1px solid #dbe4eb;
    text-align: center;
    display: block;
  }
  .p_step .table02 dl dd {
    font-size: 2.91667vw;
    border-right: 1px solid #dbe4eb;
  }
  .p_company .table02 {
    margin-top: 7.08333vw;
    margin-bottom: 30.20833vw;
  }
  .p_company .table02 dl {
    background-color: transparent;
  }
  .p_company .table02 dl:nth-child(odd) {
    background-color: #f3f6f9;
    border-bottom: 1px solid #dbe4eb !important;
  }
  .p_company .table02 dl:not(:last-child) {
    border-bottom: none;
  }
  .p_company .table02 dl dt {
    font-size: 2.91667vw;
    color: #708498;
    font-weight: bold;
    border-right: 1px solid #dbe4eb;
    text-align: center;
    display: block;
  }
  .p_company .table02 dl dd {
    font-size: 2.91667vw;
    color: #313131;
  }
  .p_privacy {
    margin-bottom: 16.66667vw;
  }
  .p_privacy_main dl {
    color: #313131;
    margin-bottom: 9.375vw;
  }
  .p_privacy_main dl dt {
    font-size: 3.33333vw;
    margin-bottom: 4.16667vw;
    font-weight: bold;
  }
  .p_privacy_main dl dd {
    font-size: 3.33333vw;
    line-height: 6.25vw;
  }
  .p_privacy_main dl dd .mt {
    margin-top: 6.25vw;
  }
  .p_privacy_main dl dd ul li ul {
    padding-left: 2.60417vw;
    margin-top: 2.08333vw;
  }
  .p_privacy {
    margin-bottom: 16.66667vw;
  }
  .p_privacy_main dl {
    color: #313131;
    margin-bottom: 9.375vw;
  }
  .p_privacy_main dl dt {
    font-size: 3.33333vw;
    margin-bottom: 4.16667vw;
    font-weight: bold;
  }
  .p_privacy_main dl dd {
    font-size: 3.33333vw;
    line-height: 6.25vw;
  }
  .p_privacy_main dl dd .mt {
    margin-top: 6.25vw;
  }
  .p_privacy_main dl dd ul li ul {
    padding-left: 2.60417vw;
    margin-top: 2.08333vw;
  }
  .p_contact {
    margin-bottom: 22.91667vw;
  }
  .p_contact_main > p {
    font-size: 3.33333vw;
    line-height: 5vw;
  }
  .p_contact .box_cl {
    border: 0.83333vw solid #dbe4eb;
    background-color: #f3f6f9;
    text-align: center;
    padding: 20.83333vw 1.95312vw;
    margin-bottom: 15.83333vw;
    font-size: 3.33333vw;
    line-height: 6.25vw;
    color: #313131;
  }
  .p_contact .btn_wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .p_contact .btn_wrap a.btn01.btn02, .p_contact .btn_wrap button.btn01.btn02 {
    min-width: 41.66667vw;
  }
  .p_contact .btn_wrap a.btn01.btn02::before, .p_contact .btn_wrap button.btn01.btn02::before {
    display: none;
  }
  .p_contact form {
    margin-top: 8.33333vw;
  }
  .p_contact form .form_ex:not(:last-of-type) {
    margin-bottom: 20.83333vw;
  }
  .p_contact form .form_ex:nth-of-type(2) {
    margin-bottom: 9.375vw;
  }
  .p_contact form .form_ex h4 {
    font-size: 3.75vw;
    color: #313131;
    font-weight: bold;
    margin-bottom: 2.5vw;
  }
  .p_contact form dl {
    padding: 3.125vw 0 5.20833vw;
  }
  .p_contact form dl:nth-child(even) {
    background-color: #f3f6f9;
    border-top: 1px solid #dbe4eb;
    border-bottom: 1px solid #dbe4eb;
  }
  .p_contact form dl .select {
    width: 83.54167vw;
  }
  .p_contact form dl .select label {
    height: 7.5vw;
    border: 0.83333vw solid #dbe4eb;
    -moz-border-radius: 1.04167vw;
         border-radius: 1.04167vw;
    line-height: 5.83333vw;
    position: relative;
  }
  .p_contact form dl .select label::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 3.33333vw;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 2.70833vw;
    height: 1.875vw;
    background: url(../img/ic_ar_bot.png) center/contain no-repeat;
    display: block;
    border-color: none;
    border-width: 0;
  }
  .p_contact form dl .select label select {
    padding-left: 2.08333vw;
    color: #313131;
  }
  .p_contact form dl .c_df_item input {
    margin-left: 3.125vw;
  }
  .p_contact form dl dt {
    padding-left: 4.16667vw;
    padding-top: 2.08333vw;
    padding-right: 8.33333vw;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 2.91667vw;
    color: #708498;
    font-weight: bold;
  }
  .p_contact form dl dt .required {
    color: #fff;
    -moz-border-radius: 3.125vw;
         border-radius: 3.125vw;
    font-size: 2.5vw;
    font-weight: bold;
    background-color: #f78000;
    width: 14.58333vw;
    height: 5vw;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .p_contact form dl dd {
    padding-left: 4.16667vw;
    padding-top: 2.08333vw;
    padding-right: 4.16667vw;
    font-size: 2.91667vw;
    color: #313131;
    line-height: 5vw;
  }
  .p_contact form dl dd p {
    margin-top: 2.5vw;
  }
  .p_contact form dl dd input {
    border: 0.83333vw solid #dbe4eb;
    -moz-border-radius: 1.04167vw;
         border-radius: 1.04167vw;
    width: 90%;
    min-height: 7.5vw;
    padding: 0 2.08333vw;
    outline: none;
    font-size: 2.91667vw;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  .p_contact form dl dd input.mr {
    margin-right: 3.125vw;
  }
  .p_contact form dl dd input.w100 {
    width: 20.83333vw;
  }
  .p_contact form dl dd input.w320 {
    width: 41.66667vw;
  }
  .p_contact form dl dd input.w401 {
    width: 83.54167vw;
  }
  .p_contact form dl dd input::-ms-clear {
    display: none;
  }
  .p_contact form dl dd textarea {
    font-size: 2.91667vw;
    border: 0.83333vw solid #dbe4eb;
    -moz-border-radius: 1.04167vw;
         border-radius: 1.04167vw;
    width: 100%;
    min-height: 24.375vw;
    padding: 1.66667vw 2.08333vw;
    outline: none;
    resize: vertical;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  .p_news {
    margin-bottom: 20.83333vw;
  }
  .p_news p {
    font-size: 3.33333vw;
    line-height: 5vw;
  }
  .p_news .news_list {
    margin-top: 10.41667vw;
    margin-bottom: 14.58333vw;
  }
  .p_news .news_list_item {
    margin-bottom: 9.375vw;
    display: block;
  }
  .p_news .news_list_item:hover .txt h3 {
    text-decoration: none;
  }
  .p_news .news_list_item:not(:nth-child(3n+3)) {
    margin-right: 8.33333vw;
  }
  .p_news .news_list_item figure img {
    display: block;
    width: 100%;
  }
  .p_news .news_list_item .txt {
    margin-top: 3.125vw;
  }
  .p_news .news_list_item .txt time {
    font-size: 3.75vw;
    font-weight: 600;
    color: #2f4858;
    font-family: "Barlow Condensed", sans-serif;
    display: block;
    letter-spacing: 0.025em;
    margin-bottom: 0.625vw;
  }
  .p_news .news_list_item .txt h3 {
    font-size: 3.33333vw;
    line-height: 5vw;
    font-weight: 500;
    color: #2f4858;
    text-decoration: underline;
  }
  .p_news_detail {
    margin-bottom: 20.18229vw;
  }
  .p_news_detail .ttl3_st2 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .p_news_detail .ttl3_st2 time {
    font-size: 3.33333vw;
    font-weight: 600;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 0.025em;
    margin-left: 4.16667vw;
  }
  .p_news_detail h4 {
    font-size: 3.75vw;
    color: #2f4858;
    font-weight: bold;
    margin-bottom: 6.25vw;
  }
  .p_news_detail p {
    font-size: 3.33333vw;
    line-height: 5vw;
  }
  .p_news_detail p:not(:last-child) {
    margin-bottom: 5.20833vw;
  }
  .p_news_detail figure {
    margin-bottom: 6.25vw;
  }
  .p_news_detail a.link_cm {
    font-size: 3.33333vw;
    font-weight: bold;
    color: #708498;
    text-decoration: underline;
  }
  .p_news_detail a.link_cm:hover {
    text-decoration: none;
  }
  .p_news_detail .p_dt_nav {
    margin-top: 16.66667vw;
  }
  .p_news_detail .p_dt_nav ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .p_news_detail .p_dt_nav li.prev a {
    position: relative;
  }
  .p_news_detail .p_dt_nav li.prev a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 4.16667vw;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 1.25vw;
    height: 1.875vw;
    background: url(../img/ic_ar_dt.png) center/contain no-repeat;
    display: block;
  }
  .p_news_detail .p_dt_nav li.next a {
    position: relative;
  }
  .p_news_detail .p_dt_nav li.next a::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 4.16667vw;
    -webkit-transform: translateY(-50%) rotate(180deg);
       -moz-transform: translateY(-50%) rotate(180deg);
        -ms-transform: translateY(-50%) rotate(180deg);
            transform: translateY(-50%) rotate(180deg);
    width: 1.25vw;
    height: 1.875vw;
    background: url(../img/ic_ar_dt.png) center/contain no-repeat;
    display: block;
  }
  .p_news_detail .p_dt_nav li a {
    font-size: 3.75vw;
    color: #313131;
    font-family: "Barlow Condensed", sans-serif;
    background-color: #f3f6f9;
    display: inline-block;
    padding: 1.66667vw 7.29167vw;
    -moz-border-radius: 3.125vw;
         border-radius: 3.125vw;
    margin-left: 1.04167vw;
    margin-right: 1.04167vw;
    font-weight: 500;
    letter-spacing: 0.025em;
  }
}
