@media screen and (min-width: 769px), print {
  .slider {
    position: relative;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .slider_banner {
    height: 100%;
  }
  .slider_banner .swiper-slide {
    line-height: 0;
    position: relative;
  }
  .slider_banner .swiper-slide > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .slider_banner .swiper-slide .txt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .slider_banner .swiper-slide .txt img {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .slider_banner .swiper-slide .txt p {
    font-size: 2rem;
    font-weight: bold;
    line-height: 34px;
  }
  .slider_banner .swiper-slide .txt p.bg {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    padding: 10px 50px;
    font-size: 2rem;
  }
  .slider_banner .swiper-slide .txt p.bg span {
    font-size: 2.4rem;
    margin-left: 20px;
  }
  .slider .swiper-pagination-bullet {
    background-color: #72a19a;
    outline: none;
    width: 14px;
    height: 14px;
  }
  .slider .swiper-pagination-bullet-active {
    background-color: #f78000;
  }
  .slider .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
  .featured_products {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 35px;
  }
  .featured_products a {
    display: block;
    width: 500px;
    margin-bottom: 40px;
  }
  .featured_products a figure {
    width: 100%;
    height: 260px;
    position: relative;
    margin-bottom: 15px;
  }
  .featured_products a figure figcaption {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #f78000;
    font-size: 1.5rem;
    padding: 15px 20px;
    color: #fff;
    font-weight: bold;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 0.1em;
  }
  .featured_products a figure img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .featured_products a h2 {
    font-size: 1.8rem;
    line-height: 24px;
    font-weight: bold;
  }
  .featured_products a p {
    color: #845696;
    font-size: 1.4rem;
    font-weight: bold;
  }
  .t_ttl3 {
    font-size: 2rem;
    font-weight: bold;
    position: relative;
    margin-bottom: 50px;
  }
  .t_ttl3 span {
    background-color: #fff;
    position: relative;
    padding-right: 15px;
    padding-left: 20px;
    z-index: 2;
  }
  .t_ttl3::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 10px;
    height: 4px;
    background: #f78000;
    display: block;
    z-index: 3;
  }
  .t_ttl3:after {
    border-top: 1px solid #000;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
  }
  .t_product_list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .t_product_list_item {
    margin-bottom: 50px;
  }
  .t_product_list_item:not(:nth-child(3n+3)) {
    margin-right: 40px;
  }
  .t_product_list_item a {
    display: block;
    width: 320px;
    margin-bottom: 40px;
  }
  .t_product_list_item a figure {
    width: 100%;
    height: 213px;
    position: relative;
    margin-bottom: 15px;
  }
  .t_product_list_item a figure img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .t_product_list_item a h3 {
    font-size: 1.6rem;
    line-height: 24px;
    font-weight: bold;
    min-height: 48px;
  }
  .t_product_list_item a p {
    font-size: 1.6rem;
    font-weight: bold;
    color: #f5555a;
  }
  .t_product_list_item a p span {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 2.4rem;
    letter-spacing: 0.1em;
  }
  .t_product_list_item a ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
    margin-top: 15px;
  }
  .t_product_list_item a ul li {
    border: 1px solid #dbe4eb;
    background-color: #f3f6f9;
    -moz-border-radius: 5px;
         border-radius: 5px;
    text-align: center;
    min-height: 60px;
    min-width: 74px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-bottom: 8px;
    padding: 4px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 1.2rem;
    line-height: 16px;
    color: #708498;
    font-weight: bold;
  }
  .t_product_list_item a ul li:after {
    content: '';
    min-height: inherit;
    font-size: 0;
  }
  .news {
    padding-bottom: 75px;
  }
  .news .t_ttl3 {
    margin-bottom: 20px;
  }
  .news ul li a {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #ccc;
    padding-bottom: 14px;
    padding-top: 26px;
  }
  .news ul li a:hover span {
    text-decoration: none;
  }
  .news ul li time {
    width: 120px;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 0.1em;
  }
  .news ul li span {
    width: -webkit-calc(100% - 120px);
    width: -moz-calc(100% - 120px);
    width: calc(100% - 120px);
    font-size: 1.6rem;
    color: #2f4858;
    font-weight: 500;
    text-decoration: underline;
  }
}

@media screen and (max-width: 768px) {
  .slider {
    position: relative;
    overflow: hidden;
    margin-top: 8.33333vw;
    margin-bottom: 12.5vw;
    height: 78.125vw;
  }
  .slider_banner {
    height: 100%;
  }
  .slider_banner .swiper-slide {
    line-height: 0;
    position: relative;
  }
  .slider_banner .swiper-slide > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .slider_banner .swiper-slide .txt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 3.90625vw;
  }
  .slider_banner .swiper-slide .txt img {
    margin-top: 3.90625vw;
    margin-bottom: 5.20833vw;
    width: 65.10417vw;
  }
  .slider_banner .swiper-slide .txt p {
    font-size: 4.16667vw;
    font-weight: bold;
    line-height: 1.5;
  }
  .slider_banner .swiper-slide .txt p.bg {
    background-color: #000;
    color: #fff;
    font-weight: bold;
    padding: 2.08333vw 10.41667vw;
    font-size: 3.75vw;
    width: 65.10417vw;
  }
  .slider_banner .swiper-slide .txt p.bg span {
    font-size: 3.75vw;
    margin-left: 4.16667vw;
  }
  .slider .swiper-pagination-bullet {
    background-color: #72a19a;
    outline: none;
    width: 2.91667vw;
    height: 2.91667vw;
  }
  .slider .swiper-pagination-bullet-active {
    background-color: #f78000;
  }
  .slider .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 1.04167vw;
  }
  .featured_products {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 7.29167vw;
  }
  .featured_products a {
    display: block;
    width: 100%;
    margin-bottom: 8.33333vw;
  }
  .featured_products a figure {
    width: 100%;
    position: relative;
    margin-bottom: 3.125vw;
  }
  .featured_products a figure figcaption {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #f78000;
    font-size: 3.125vw;
    padding: 3.125vw 4.16667vw;
    color: #fff;
    font-weight: bold;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 0.1em;
  }
  .featured_products a figure img {
    display: block;
    width: 100%;
    height: auto;
  }
  .featured_products a h2 {
    font-size: 3.75vw;
    line-height: 5vw;
    font-weight: bold;
  }
  .featured_products a p {
    color: #845696;
    font-size: 2.91667vw;
    font-weight: bold;
  }
  .t_ttl3 {
    font-size: 3.75vw;
    font-weight: bold;
    position: relative;
    margin-bottom: 10.41667vw;
  }
  .t_ttl3 span {
    padding-left: 4.16667vw;
    background-color: #fff;
    position: relative;
    padding-right: 1.95312vw;
    display: inline-block;
    max-width: 94%;
  }
  .t_ttl3::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 2.08333vw;
    height: 0.83333vw;
    background: #f78000;
    display: block;
    z-index: 2;
  }
  .t_ttl3:after {
    border-top: 1px solid #000;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
  }
  .t_product_list_item {
    margin-bottom: 10.41667vw;
  }
  .t_product_list_item:not(:nth-child(3n+3)) {
    margin-right: 8.33333vw;
  }
  .t_product_list_item a {
    display: block;
    width: 100%;
    margin-bottom: 8.33333vw;
  }
  .t_product_list_item a figure {
    width: 100%;
    position: relative;
    margin-bottom: 3.125vw;
  }
  .t_product_list_item a figure img {
    display: block;
    width: 100%;
    height: auto;
  }
  .t_product_list_item a h2 {
    font-size: 3.33333vw;
    line-height: 5vw;
    font-weight: bold;
  }
  .t_product_list_item a p {
    font-size: 3.33333vw;
    font-weight: bold;
    color: #f5555a;
  }
  .t_product_list_item a p span {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 5vw;
    letter-spacing: 0.1em;
  }
  .t_product_list_item a ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -0.83333vw;
    margin-right: -0.83333vw;
    margin-top: 3.125vw;
  }
  .t_product_list_item a ul li {
    border: 1px solid #dbe4eb;
    background-color: #f3f6f9;
    -moz-border-radius: 1.04167vw;
         border-radius: 1.04167vw;
    text-align: center;
    min-height: 12.5vw;
    min-width: 15.41667vw;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-bottom: 1.66667vw;
    padding: 0.83333vw;
    margin-left: 0.83333vw;
    margin-right: 0.83333vw;
    font-size: 2.5vw;
    line-height: 3.33333vw;
    color: #708498;
    font-weight: bold;
  }
  .t_product_list_item a ul li:after {
    content: '';
    min-height: inherit;
    font-size: 0;
  }
  .news {
    padding-bottom: 15.625vw;
  }
  .news .t_ttl3 {
    margin-bottom: 4.16667vw;
  }
  .news ul li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .news ul li a {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5.41667vw;
    padding-top: 5.41667vw;
  }
  .news ul li a:hover span {
    text-decoration: none;
  }
  .news ul li time {
    font-size: 3.33333vw;
    font-weight: bold;
    font-family: "Barlow Condensed", sans-serif;
    letter-spacing: 0.1em;
    display: block;
    margin-bottom: 1.30208vw;
  }
  .news ul li span {
    display: inline-block;
    font-size: 3.33333vw;
    color: #2f4858;
    font-weight: 500;
    position: relative;
  }
  .news ul li span::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #2f4858;
    display: block;
  }
}
