<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="eccube-csrf-token" content="{{ csrf_token(constant('Eccube\\Common\\Constant::TOKEN_NAME')) }}">
    <title>{{ BaseInfo.shop_name }}{% if subtitle is defined and subtitle is not empty %} / {{ subtitle }}{% elseif title is defined and title is not empty %} / {{ title }}{% endif %}</title>
    {% if Page.author is not empty %}
        <meta name="author" content="{{ Page.author }}">
    {% endif %}
    {% if Page.description is not empty %}
        <meta name="description" content="{{ Page.description }}">
    {% endif %}
    {% if Page.keyword is not empty %}
        <meta name="keywords" content="{{ Page.keyword }}">
    {% endif %}
    {% if Page.meta_robots is not empty %}
        <meta name="robots" content="{{ Page.meta_robots }}">
    {% endif %}
    {% if Page.meta_tags is not empty %}
        {{ include(template_from_string(Page.meta_tags)) }}
    {% endif %}

    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/common.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/page.css') }}">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
        $(function() {
            $.ajaxSetup({
                'headers': {
                    'ECCUBE-CSRF-TOKEN': $('meta[name="eccube-csrf-token"]').attr('content')
                }
            });
        });
    </script>
</head>

<body>
<div id="container" class="container">
    {{ include_dispatch('Block/header.twig') }}
    <!-- end header -->
    <main class="category">
        <div class="row">
            <ul class="breadcrumb show_pc">
                <li><a href="">中古パソコン通販専門ショップ UsedFun TOP</a></li>
                <li>デスクトップパソコン</li>
            </ul>
        </div>
        <div class="row">
            <div class="main">
                <h1 class="ttl1 show_sp">中古デスクトップパソコン（PC）の通販ならUsedFun</h1>
                <h2 class="ttl2 show_sp">デスクトップパソコン</h2>
                <aside id="aside" class="aside">
                    <div class="aside_banner01">
                        <p>取扱商品<span>1922</span>点</p>
                        <a href="">全商品を見る</a>
                    </div>
                    <div class="aside_filter">
                        <h3>絞り込み検索</h3>
                        <dl>
                            <dt>パソコン種別</dt>
                            <dd>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox">
                                    <label for="checkbox">新品パソコン</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox1">
                                    <label for="checkbox1">新品パソコン</label>
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>パソコン種別</dt>
                            <dd>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox2">
                                    <label for="checkbox2">ノートパソコン</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox3">
                                    <label for="checkbox3">デスクトップパソコン</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox4">
                                    <label for="checkbox4">ミニパソコン</label>
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>金額</dt>
                            <dd>
                                <div class="select">
                                    <label>
                                        <select>
                                            <option value="Message">下限なし</option>
                                            <option value="Message">下限なし</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="select">
                                    <label>
                                        <select>
                                            <option value="Message">下限なし</option>
                                            <option value="Message">下限なし</option>
                                        </select>
                                    </label>
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>メーカーで探す</dt>
                            <dd>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox5">
                                    <label for="checkbox5">GM-JAPAN</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox6">
                                    <label for="checkbox6">NEC</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox7">
                                    <label for="checkbox7">FUJITSU (富士通)</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox8">
                                    <label for="checkbox8">TOSHIBA (東芝)</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox9">
                                    <label for="checkbox9">Panasonic (パナソニック)</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox10">
                                    <label for="checkbox10">SONY (ソニー)</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox11">
                                    <label for="checkbox11">HP (ヒューレットパッカード)</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox12">
                                    <label for="checkbox12">DELL (デル)</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox13">
                                    <label for="checkbox13">Lenovo (レノボ・IBM)</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox14">
                                    <label for="checkbox14">Acer</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox15">
                                    <label for="checkbox15">Asus</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox16">
                                    <label for="checkbox16">Microsoft</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox17">
                                    <label for="checkbox17">Apple</label>
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>CPU</dt>
                            <dd>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox18">
                                    <label for="checkbox18">Intel Core i9</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox19">
                                    <label for="checkbox19">Intel Core i7</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox20">
                                    <label for="checkbox20">Intel Core i5</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox21">
                                    <label for="checkbox21">Intel Core i3</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox22">
                                    <label for="checkbox22">Intel Xeon</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox23">
                                    <label for="checkbox23">Intel Pentium Dual-Core</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox24">
                                    <label for="checkbox24">Intel Core2 Extreme</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox25">
                                    <label for="checkbox25">Intel Core2Quad</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox26">
                                    <label for="checkbox26">Intel Celeron</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox27">
                                    <label for="checkbox27">Intel Core2Duo</label>
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>メモリ</dt>
                            <dd>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox28">
                                    <label for="checkbox28">2GB未満</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox129">
                                    <label for="checkbox29">2GB以上</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox30">
                                    <label for="checkbox30">4GB以上</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox31">
                                    <label for="checkbox31">8GB以上</label>
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>液晶サイズ</dt>
                            <dd>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox32">
                                    <label for="checkbox32">12～14インチ</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox33">
                                    <label for="checkbox33">15～17インチ</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox34">
                                    <label for="checkbox34">17インチ以上</label>
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>OS</dt>
                            <dd>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox35">
                                    <label for="checkbox35">Windows10</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox36">
                                    <label for="checkbox36">Windows8</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox37">
                                    <label for="checkbox37">Windows7</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox38">
                                    <label for="checkbox38">Mac OS</label>
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>機能</dt>
                            <dd>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox39">
                                    <label for="checkbox39">MS Office付き</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox40">
                                    <label for="checkbox40">ゲーミングPC</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox41">
                                    <label for="checkbox41">Wi-Fi</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox42">
                                    <label for="checkbox42">テンキー付き</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox43">
                                    <label for="checkbox43">SSD搭載</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox44">
                                    <label for="checkbox44">Webカメラ</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox45">
                                    <label for="checkbox45">高解像度</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox46">
                                    <label for="checkbox46">CD作成・書き込み</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox47">
                                    <label for="checkbox47">DVD作成・書き込み</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox48">
                                    <label for="checkbox48">ブルーレイ対応</label>
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>その他</dt>
                            <dd>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox49">
                                    <label for="checkbox49">訳ありパソコン</label>
                                </div>
                                <div class="checkbox">
                                    <input type="checkbox" id="checkbox50">
                                    <label for="checkbox50">ジャンクパソコン</label>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </aside>

                {% block main %}{% endblock %}
            </div>
        </div>
    </main>
    <!-- end main -->
    {{ include_dispatch('Block/footer.twig') }}
</div>
<script src="{{ asset('assets/js/libs.js') }}"></script>
<script src="{{ asset('assets/js/base.js') }}"></script>
</body>

</html>