{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'top_default_frame.twig' %}

{% set body_class = 'front_page' %}

{% block main %}
    <div id="main_content" class="main_content">
        <div class="featured_products">
            {% for topProduct in topProducts %}
                <a href="{{ url('product_detail', {'id': topProduct.id}) }}">
                    <figure>
                        <img src="{{ asset(topProduct.main_list_image|no_image_product, 'save_image') }}" alt="{{ topProduct.name }}">
                        <figcaption>RECOMMEND</figcaption>
                    </figure>
                    <h2>{{ topProduct.name }}</h2>
                    <p>{{ topProduct.Tags | join(' , ') }}</p>
                </a>
            {% endfor %}
        </div>
        <section class="t_product">
            <h3 class="t_ttl3"><span>春のタイムセール中古パソコン</span></h3>
            <div class="t_product_list">
                {% for topProduct in topProducts %}
                    <div class="t_product_list_item">
                        <a href="{{ url('product_detail', {'id': topProduct.id}) }}">
                            <figure>
                                <img src="{{ asset(topProduct.main_list_image|no_image_product, 'save_image') }}" alt="{{ topProduct.name }}">
                            </figure>
                            <h2>{{ topProduct.name }}</h2>
                            <p><span>{{ topProduct.getPrice01IncTaxMin |number_format }}</span>円（税込）</p>

                            <ul>
                                <li>メモリ<br> 4GB</li>
                                <li>SSD<br> 240GB</li>
                                <li>12.1 <br> インチ</li>
                                <li>Windows <br> 10</li>
                            </ul>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="t_product">
            <h3 class="t_ttl3"><span>スタッフオススメの中古デスクトップパソコン</span></h3>
            <div class="t_product_list">
                {% for topProduct in topProducts %}
                    <div class="t_product_list_item">
                        <a href="{{ url('product_detail', {'id': topProduct.id}) }}">
                            <figure>
                                <img src="{{ asset(topProduct.main_list_image|no_image_product, 'save_image') }}" alt="{{ topProduct.name }}">
                            </figure>
                            <h2>{{ topProduct.name }}</h2>
                            <p><span>{{ topProduct.getPrice01IncTaxMin |number_format }}</span>円（税込）</p>

                            <ul>
                                <li>メモリ<br> 4GB</li>
                                <li>SSD<br> 240GB</li>
                                <li>12.1 <br> インチ</li>
                                <li>Windows <br> 10</li>
                            </ul>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </section>
        <section class="t_product">
            <h3 class="t_ttl3"><span>スタッフオススメの中古ノートパソコン</span></h3>
            <div class="t_product_list">
                {% for topProduct in topProducts %}
                    <div class="t_product_list_item">
                        <a href="{{ url('product_detail', {'id': topProduct.id}) }}">
                            <figure>
                                <img src="{{ asset(topProduct.main_list_image|no_image_product, 'save_image') }}" alt="{{ topProduct.name }}">
                            </figure>
                            <h2>{{ topProduct.name }}</h2>
                            <p><span>{{ topProduct.getPrice01IncTaxMin |number_format }}</span>円（税込）</p>

                            <ul>
                                <li>メモリ<br> 4GB</li>
                                <li>SSD<br> 240GB</li>
                                <li>12.1 <br> インチ</li>
                                <li>Windows <br> 10</li>
                            </ul>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </section>

        {{ include_dispatch('Block/news.twig') }}

    </div>
{% endblock %}
