<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="eccube-csrf-token" content="{{ csrf_token(constant('Eccube\\Common\\Constant::TOKEN_NAME')) }}">
    <title>{{ BaseInfo.shop_name }}{% if subtitle is defined and subtitle is not empty %} / {{ subtitle }}{% elseif title is defined and title is not empty %} / {{ title }}{% endif %}</title>
    {% if Page.author is not empty %}
        <meta name="author" content="{{ Page.author }}">
    {% endif %}
    {% if Page.description is not empty %}
        <meta name="description" content="{{ Page.description }}">
    {% endif %}
    {% if Page.keyword is not empty %}
        <meta name="keywords" content="{{ Page.keyword }}">
    {% endif %}
    {% if Page.meta_robots is not empty %}
        <meta name="robots" content="{{ Page.meta_robots }}">
    {% endif %}
    {% if Page.meta_tags is not empty %}
        {{ include(template_from_string(Page.meta_tags)) }}
    {% endif %}

    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('assets/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/common.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/swiper.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
        $(function() {
            $.ajaxSetup({
                'headers': {
                    'ECCUBE-CSRF-TOKEN': $('meta[name="eccube-csrf-token"]').attr('content')
                }
            });
        });
    </script>
</head>

<body>
<div id="container" class="container">
    {{ include_dispatch('Block/header.twig') }}
    <main>
        <div class="row">
            {{ include_dispatch('Block/top_slider.twig') }}
        </div>
        <div class="row">
            <div class="main">

                {# MAIN AREA #}
                {% block main %}{% endblock %}

                <aside id="aside" class="aside">
                    {{ include_dispatch('Block/count_product.twig') }}
                    <div class="aside_banner02">
                        <div class="aside_banner02_in">
                            <img src="{{ asset('assets/img/ic_diadem.png') }}" alt="">
                            <p>全商品動作検証済み、<br> 中古商品3ヶ月保証、新品１年保証付き</p>
                        </div>
                    </div>

                    {{ include_dispatch('Block/top_category.twig') }}

                    {{ include_dispatch('Block/top_highlight_info.twig') }}

                    {{ include_dispatch('Block/top_for_new_member.twig') }}

                </aside>
            </div>
        </div>
    </main>
    {{ include_dispatch('Block/footer.twig') }}
</div>
<script src="{{ asset('assets/js/libs.js') }}"></script>
<script src="{{ asset('assets/js/base.js') }}"></script>
<script src="{{ asset('assets/js/swiper.js') }}"></script>
<script src="{{ asset('assets/js/scripts.js') }}"></script>
</body>

</html>