.p_company {
  .table02 {
    margin-top: vw2(34);
    margin-bottom: vw2(145);
    dl {
      background-color: transparent;
      &:nth-child(odd) {
        background-color: #f3f6f9;
        border-bottom: 1px solid #dbe4eb !important;
      }
      &:not(:last-child) {
        border-bottom: none;
      }
      dt {
        font-size: vw2(14);
        color: #708498;
        font-weight: bold;
        border-right: 1px solid #dbe4eb;
        text-align: center;
        display: block;
      }
      dd {
        font-size: vw2(14);
        color: #313131;
      }
    }
  }
}