.p_company {
  .table02 {
    margin-top: 34px;
    margin-bottom: 145px;
    dl {
      background-color: transparent;
      &:nth-child(odd) {
        background-color: #f3f6f9;
      }
      &:not(:last-child) {
        border-bottom: none;
      }
      dt {
        font-size: rem(14);
        color: #708498;
        font-weight: bold;
        border-right: 1px solid #dbe4eb;
        width: 216px;
        display: block;
        padding-left: 30px;
      }
      dd {
        width: calc(100% - 216px);
        font-size: rem(14);
        padding-left: 40px;
        color: #313131;
      }
    }
  }
}