.p_user_guide {
  p {
    font-size: rem(16);
    line-height: 24px;
  }
  &_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 75px;
    margin-bottom: 133px;
    .item {
      text-align: center;
      background-color: #f3f6f9;
      padding: 50px 35px 40px 35px;
      width: 280px;
      margin-bottom: 12px;
      &.big {
        width: 378px;
        p {
          min-height: 72px;
        }
      }
      figure {
        margin-bottom: 30px;
        min-height: 81px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:after {
          content: '';
          min-height: inherit;
          font-size: 0;
        }
      }
      h4 {
        font-size: rem(16);
        font-weight: bold;
        margin-bottom: 5px;
      }
      p {
        font-size: rem(14);
        line-height: 24px;
        font-weight: 500;
        margin-bottom: 25px;
      }
      a {
        background-color: #2f4858;
        color: #fff;
        border-radius: 30px;
        padding: 10px 20px;
        width: 200px;
        height: 40px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-weight: bold;
        font-size: rem(14);
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 22px;
          transform: translateY(-50%);
          width: 0;
          height: 0;
          border-top: 4px solid transparent;
          border-bottom: 4px solid transparent;
          border-left: 5px solid #fff;
        }
      }
    }
  }
}