.p_user_guide {
  p {
    font-size: vw2(16);
    line-height: vw2(24);
  }
  &_list {
    margin-top: vw(75);
    margin-bottom: vw(133);
    .item {
      text-align: center;
      background-color: #f3f6f9;
      padding: vw(50);
      margin-bottom: vw(30);
      figure {
        margin-bottom: vw2(30);
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: auto;
          height: auto;
        }
        &:after {
          content: '';
          min-height: inherit;
          font-size: 0;
        }
      }
      h4 {
        font-size: vw2(16);
        font-weight: bold;
        margin-bottom: vw2(5);
      }
      p {
        font-size: vw2(14);
        line-height: vw2(24);
        font-weight: 500;
        margin-bottom: vw2(25);
      }
      a {
        background-color: #2f4858;
        color: #fff;
        border-radius: vw2(30);
        padding: vw2(10) vw2(20);
        width: vw2(200);
        height: vw2(40);
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-weight: bold;
        font-size: vw2(14);
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: vw2(22);
          transform: translateY(-50%);
          width: 0;
          height: 0;
          border-top: vw2(4) solid transparent;
          border-bottom: vw2(4) solid transparent;
          border-left: vw2(5) solid #fff;
        }
      }
    }
  }
}