.p_news {
  margin-bottom: vw(160);
  p {
    font-size: vw2(16);
    line-height: vw2(24);
  }
  .news_list {
    margin-top: vw2(50);
    margin-bottom: vw2(70);
    &_item {
      margin-bottom: vw2(45);
      display: block;
      &:hover {
        .txt h3 {
          text-decoration: none;
        }
      }
      &:not(:nth-child(3n+3)) {
        margin-right: vw2(40);
      }
      figure {
        img {
          display: block;
          width: 100%;
        }
      }
      .txt {
        margin-top: vw2(15);
        time {
          font-size: vw2(18);
          font-weight: 600;
          color: #2f4858;
          font-family: $bar;
          display: block;
          letter-spacing: 0.025em;
          margin-bottom: vw2(3);
        }
        h3 {
          font-size: vw2(16);
          line-height: vw2(24);
          font-weight: 500;
          color: #2f4858;
          text-decoration: underline;
        }
      }
    }
  }
}
.p_news_detail {
  margin-bottom: vw(155);
  .ttl3_st2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    time {
      font-size: vw2(16);
      font-weight: 600;
      font-family: $bar;
      letter-spacing: 0.025em;
      margin-left: vw2(20);
    }
  }
  h4 {
    font-size: vw2(18);
    color: #2f4858;
    font-weight: bold;
    margin-bottom: vw2(30);
  }
  p {
    font-size: vw2(16);
    line-height: vw2(24);
    &:not(:last-child) {
      margin-bottom: vw2(25);
    }
  }
  figure {
    margin-bottom: vw2(30);
  }
  a.link_cm {
    font-size: vw2(16);
    font-weight: bold;
    color: #708498;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  .p_dt_nav {
    margin-top: vw2(80);
    ul {
      display: flex;
      justify-content: center;
    }
    li {
      &.prev {
        a {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: vw2(20);
            transform: translateY(-50%);
            width: vw2(6);
            height: vw2(9);
            background: url(../img/ic_ar_dt.png) center/contain no-repeat;
            display: block;
          }
        }
      }
      &.next {
        a {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: vw2(20);
            transform: translateY(-50%) rotate(180deg);
            width: vw2(6);
            height: vw2(9);
            background: url(../img/ic_ar_dt.png) center/contain no-repeat;
            display: block;
          }
        }
      }
      a {
        font-size: vw2(18);
        color: #313131;
        font-family: $bar;
        background-color: #f3f6f9;
        display: inline-block;
        padding: vw2(8) vw2(35);
        border-radius: vw2(15);
        margin-left: vw2(5);
        margin-right: vw2(5);
        font-weight: 500;
        letter-spacing: 0.025em;
      }
    }
  }
}