.p_news {
  margin-bottom: 160px;
  p {
    font-size: rem(16);
    line-height: 24px;
  }
  .news_list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 70px;
    &_item {
      width: 360px;
      margin-bottom: 45px;
      display: block;
      &:hover {
        .txt h3 {
          text-decoration: none;
        }
      }
      &:not(:nth-child(3n+3)) {
        margin-right: 40px;
      }
      figure {
        height: 230px;
        width: 100%;
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .txt {
        margin-top: 15px;
        time {
          font-size: rem(18);
          font-weight: 600;
          color: #2f4858;
          font-family: $bar;
          display: block;
          letter-spacing: 0.025em;
          margin-bottom: 3px;
        }
        h3 {
          font-size: rem(16);
          line-height: 24px;
          font-weight: 500;
          color: #2f4858;
          text-decoration: underline;
        }
      }
    }
  }
}
.p_news_detail {
  margin-bottom: 155px;
  .ttl3_st2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    time {
      font-size: rem(16);
      font-weight: 600;
      font-family: $bar;
      letter-spacing: 0.025em;
      margin-left: 20px;
    }
  }
  h4 {
    font-size: rem(18);
    color: #2f4858;
    font-weight: bold;
    margin-bottom: 30px;
  }
  p {
    font-size: rem(16);
    line-height: 24px;
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
  figure {
    margin-bottom: 30px;
  }
  a.link_cm {
    font-size: rem(16);
    font-weight: bold;
    color: #708498;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  .p_dt_nav {
    margin-top: 80px;
    ul {
      display: flex;
      justify-content: center;
    }
    li {
      &.prev {
        a {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%);
            width: 6px;
            height: 9px;
            background: url(../img/ic_ar_dt.png) center/contain no-repeat;
            display: block;
          }
        }
      }
      &.next {
        a {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%) rotate(180deg);
            width: 6px;
            height: 9px;
            background: url(../img/ic_ar_dt.png) center/contain no-repeat;
            display: block;
          }
        }
      }
      a {
        font-size: rem(18);
        color: #313131;
        font-family: $bar;
        background-color: #f3f6f9;
        display: inline-block;
        padding: 8px 35px;
        border-radius: 15px;
        margin-left: 5px;
        margin-right: 5px;
        font-weight: 500;
        letter-spacing: 0.025em;
      }
    }
  }
}