{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'detail_product_frame.twig' %}

{% set body_class = 'product_page' %}

{% block main %}
    <div class="row">
        <ul class="breadcrumb show_pc">
            <li><a href="">中古パソコン通販専門ショップ UsedFun TOP</a></li>
            <li><a href="">デスクトップパソコン</a></li>
            <li>東芝 〔中古〕dynabook L47 266E</li>
        </ul>
    </div>
    <div class="inner">
        <div class="products">
            <div class="products_list">
                <div class="products_list_item style02">
                    <h2 class="products_tit">{{ Product.name }}</h2>
                    <div class="df">
                        <figure>
                            <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}" alt="{{ Product.name }}">
                        </figure>
                        <div class="products_txt">
                            <div class="products_txt_head">
                                <span>送料<br> 無料</span>
                                <ul>
                                    <li><a href="">Windows 10</a></li>
                                    <li><a href="">MS Office 2016</a></li>
                                    <li><a href="">㐧三世帯Core i5</a></li>
                                    <li><a href="">メモリ4GB</a></li>
                                    <li><a href="">HDD320GB</a></li>
                                    <li><a href="">3ヶ月保証</a></li>
                                </ul>
                                <a href=""><img src="{{ asset('assets/img/ic_star.png') }}" alt=""></a>
                            </div>
                            <p>新品のR732に比べてお値段が安いのに、動作状態は新品に近くお買い得です。持ち運びに便利なノートパソコンをお探しの方へ、特におすすめしたい商品です。</p>
                            <div class="df">
                                <div class="item_l">
                                    <p class="p_price"><span>{{ Product.getPrice01IncTaxMin | number_format }}</span>円（税込）</p>
                                    <div class="table">
                                        <table>
                                            <tr>
                                                <th>ポイント</th>
                                                <th>29ポイント</th>
                                            </tr>
                                            <tr>
                                                <td>管理番号</td>
                                                <td>FU-19-422</td>
                                            </tr>
                                            <tr>
                                                <th>在庫状況</th>
                                                <th>在庫あり</th>
                                            </tr>
                                            <tr>
                                                <td>保証期間</td>
                                                <td>3ヶ月間</td>
                                            </tr>
                                            <tr>
                                                <th>商品発送</th>
                                                <th>2営業日以内</th>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="item_r">
                                    <a class="rank" href=""><img src="{{ asset('assets/img/rank.png') }}" alt="">商品ランク？</a>
                                    <a class="btn01" href="">このまま購入する</a>
                                    <a class="btn01 btn02 btn_modal" href="#modal01">オプションを追加して購入する</a>
                                    <p><a class="link_mail" href="">この商品について問い合わせる</a></p>
                                    <p><a class="link_fav" href="">お気に入りに追加する</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="txt_detail">
                        <h3 class="p_ttl3">{{ Product.name }}</h3>
                        {{ Product.description_detail|raw|nl2br }}
                </div>
            </div>
        </div>
    </div>

    <div id="modal01" class="modal">
        <div class="m_in">
            <form>
                <div class="wrap_modal scrollable">
                    <div class="content-wrapper">
                        <div class="content">
                            <div class="main_modal">
                                <div class="m_df">
                                    <div class="checkbox">
                                        <input type="checkbox" id="checkbox">
                                        <label for="checkbox">HDD増設（500G B）</label>
                                    </div>
                                    <span>＋5,000円</span>
                                </div>
                                <div class="m_df">
                                    <div class="checkbox">
                                        <input type="checkbox" id="checkbox1">
                                        <label for="checkbox1">メモリ増設（4GB）</label>
                                    </div>
                                    <span>＋5,000円</span>
                                </div>
                                <div class="m_df">
                                    <div class="checkbox">
                                        <input type="checkbox" id="checkbox2">
                                        <label for="checkbox2">マウス追加</label>
                                    </div>
                                    <span>＋5,000円</span>
                                </div>
                                <div class="m_df">
                                    <div class="checkbox">
                                        <input type="checkbox" id="checkbox3">
                                        <label for="checkbox3">Office追加（2016）</label>
                                    </div>
                                    <span>＋15,000円</span>
                                </div>
                                <p class="total">total：<span>84,000円</span><span>（税込）</span></p>
                                <p class="btn_modal"><a class="btn01" href="">購入する</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn_close closeModal"><img src="../assets/img/btn_close.png?v=d3e771dd39f4334fc856c76894e4296f" alt=""></div>
            </form>
        </div>
    </div>
{% endblock %}
