.p_contact {
  margin-bottom: vw2(110);
  &_main {
    >p {
      font-size: vw2(16);
      line-height: vw2(24);
    }
  }
  .box_cl {
    border: vw2(4) solid #dbe4eb;
    background-color: #f3f6f9;
    text-align: center;
    padding: vw2(100) vw(15);
    margin-bottom: vw2(76);
    font-size: vw2(16);
    line-height: vw2(30);
    color: #313131;
  }
  .btn_wrap {
    display: flex;
    justify-content: center;
    a.btn01.btn02, button.btn01.btn02 {
      min-width: vw2(200);
    }
    a.btn01.btn02::before, button.btn01.btn02::before {
      display: none;
    }
  }
  form {
    margin-top: vw2(40);
    .form_ex {
      &:not(:last-of-type) {
        margin-bottom: vw2(100);
      }
      &:nth-of-type(2) {
        margin-bottom: vw2(45);
      }
      h4 {
        font-size: vw2(18);
        color: #313131;
        font-weight: bold;
        margin-bottom: vw2(12);
      }
    }
    dl {
      padding: vw2(15) 0 vw2(25);
      &:nth-child(even) {
        background-color: #f3f6f9;
        border-top: 1px solid #dbe4eb;
        border-bottom: 1px solid #dbe4eb;
      }
      .select {
        width: vw2(401);
        label {
          height: vw2(36);
          border: vw2(4) solid #dbe4eb;
          border-radius: vw2(5);
          line-height: vw2(28);
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: vw2(16);
            transform: translateY(-50%);
            width: vw2(13);
            height: vw2(9);
            background: url(../img/ic_ar_bot.png) center/contain no-repeat;
            display: block;
            border-color: none;
            border-width: 0;
          }
          select {
            padding-left: vw2(10);
            color: #313131;
          }
        }
      }
      .c_df {
        &_item {
          input {
            margin-left: vw2(15);
          }
        }
      }
      dt {
        padding-left: vw2(20);
        padding-top: vw2(10);
        padding-right: vw2(40);
        display: flex;
        justify-content: space-between;
        font-size: vw2(14);
        color: #708498;
        font-weight: bold;
        .required {
          color: #fff;
          border-radius: vw2(15);
          font-size: vw2(12);
          font-weight: bold;
          background-color: $color1;
          width: vw2(70);
          height: vw2(24);
          display: inline-flex;
          justify-content: center;
          align-items: center;
        }
      }
      dd {
        padding-left: vw2(20);
        padding-top: vw2(10);
        padding-right: vw2(20);
        font-size: vw2(14);
        color: #313131;
        line-height: vw2(24);
        p {
          margin-top: vw2(12);
        }
        input {
          border: vw2(4) solid #dbe4eb;
          border-radius: vw2(5);
          width: 90%;
          min-height: vw2(36);
          padding: 0 vw2(10);
          outline: none;
          font-size: vw2(14);
          appearance: none;
          &.mr {
            margin-right: vw2(15);
          }
          &.w100 {
            width: vw2(100);
          }
          &.w320 {
            width: vw(320);
          }
          &.w401 {
            width: vw2(401);
          }
          &::-ms-clear {
            display: none;
          }
        }
        textarea {
          font-size: vw2(14);
          border: vw2(4) solid #dbe4eb;
          border-radius: vw2(5);
          width: 100%;
          min-height: vw2(117);
          padding: vw2(8) vw2(10);
          outline: none;
          resize: vertical;
          appearance: none;
        }
      }
    }
  }
}