.p_contact {
  margin-bottom: 110px;
  &_main {
    >p {
      font-size: rem(16);
      line-height: 24px;
    }
  }
  .box_cl {
    border: 4px solid #dbe4eb;
    background-color: #f3f6f9;
    text-align: center;
    padding: 100px 30px;
    margin-bottom: 76px;
    font-size: rem(16);
    line-height: 30px;
    color: #313131;
  }
  .btn_wrap {
    display: flex;
    justify-content: center;
    a.btn01.btn02, button.btn01.btn02 {
      min-width: 200px;
    }
    a.btn01.btn02::before, button.btn01.btn02::before {
      display: none;
    }
  }
  form {
    margin-top: 40px;
    .form_ex {
      &:not(:last-of-type) {
        margin-bottom: 100px;
      }
      &:nth-of-type(2) {
        margin-bottom: 45px;
      }
      h4 {
        font-size: rem(18);
        color: #313131;
        font-weight: bold;
        margin-bottom: 12px;
      }
    }
    dl {
      display: flex;
      width: 100%;
      padding: 15px 0 25px;
      &:nth-child(even) {
        background-color: #f3f6f9;
        border-top: 1px solid #dbe4eb;
        border-bottom: 1px solid #dbe4eb;
      }
      .select {
        width: 401px;
        label {
          height: 36px;
          border: 4px solid #dbe4eb;
          border-radius: 5px;
          line-height: 28px;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: 16px;
            transform: translateY(-50%);
            width: 13px;
            height: 9px;
            background: url(../img/ic_ar_bot.png) center/contain no-repeat;
            display: block;
            border-color: none;
            border-width: 0;
          }
          select {
            padding-left: 10px;
            color: #313131;
          }
        }
      }
      .c_df {
        display: flex;
        &_item {
          width: 300px;
          input {
            margin-left: 15px;
          }
        }
      }
      dt {
        padding-left: 20px;
        padding-top: 10px;
        padding-right: 40px;
        width: 280px;
        display: flex;
        justify-content: space-between;
        font-size: rem(14);
        color: #708498;
        font-weight: bold;
        .required {
          color: #fff;
          border-radius: 15px;
          font-size: rem(12);
          font-weight: bold;
          background-color: $color1;
          width: 70px;
          height: 24px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
        }
      }
      dd {
        width: calc(100% - 280px);
        font-size: rem(14);
        color: #313131;
        line-height: 24px;
        p {
          margin-top: 12px;
        }
        input {
          border: 4px solid #dbe4eb;
          border-radius: 5px;
          width: 220px;
          min-height: 36px;
          padding: 0 10px;
          outline: none;
          font-size: rem(14);
          appearance: none;
          &.mr {
            margin-right: 15px;
          }
          &.w100 {
            width: 100px;
          }
          &.w320 {
            width: 320px;
          }
          &.w401 {
            width: 401px;
          }
          &::-ms-clear {
            display: none;
          }
        }
        textarea {
          font-size: rem(14);
          border: 4px solid #dbe4eb;
          border-radius: 5px;
          width: 850px;
          min-height: 117px;
          padding: 8px 10px;
          outline: none;
          resize: vertical;
          appearance: none;
        }
      }
    }
  }
}