{% set NewsList = repository('Eccube\\Entity\\News').getList() %}

<section class="news">
    <h3 class="t_ttl3"><span>Used Funからのお知らせ</span></h3>
    <ul>
        {% for News in NewsList %}
            <li>
                {% if News.url %}
                    <a href="{{ News.url }}">
                {% else %}
                    <a href="">
                {% endif %}
                    <time>{{ News.publish_date | date('Y.m.d') }}</time>
                    <span>{{ News.title }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</section>
