.p_privacy {
  margin-bottom: vw2(80);
  &_main {
    dl {
      color: #313131;
      margin-bottom: vw2(45);
      dt {
        font-size: vw2(16);
        margin-bottom: vw2(20);
        font-weight: bold;
      }
      dd {
        font-size: vw2(16);
        line-height: vw2(30);
        .mt {
          margin-top: vw2(30);
        }
        ul {
          li {
            ul {
              padding-left: vw(20);
              margin-top: vw2(10);
            }
          }
        }
      }
    }
  }
}