.p_privacy {
  margin-bottom: 80px;
  &_main {
    dl {
      margin-bottom: 45px;
      color: #313131;
      dt {
        font-size: rem(16);
        margin-bottom: 20px;
        font-weight: bold;
      }
      dd {
        font-size: rem(16);
        line-height: 30px;
        .mt {
          margin-top: 30px;
        }
        ul {
          li {
            ul {
              padding-left: 20px;
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}