.category {
  .aside_banner01 a {
    background-color: #f78000;
    color: #fff;
  }
  .aside_banner01 a::after {
    border-left-color: #fff;
  }
}
.products {
  padding-top: vw(50);
  .ttl_head {
    font-size: vw2(16);
    font-weight: bold;
    margin-bottom: vw2(38);
    span {
      color: #f78000;
      font-size: vw2(20);
    }
  }
  .p_nav {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-top: vw2(20);
    padding-bottom: vw2(20);
    &.center {
      justify-content: center;
      margin-top: vw(50);
      margin-bottom: vw(50);
      .page_wr {
        margin-left: auto;
        margin-right: auto;
      }
    }
    .page_wr {
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      >span {
        font-size: vw2(14);
        font-weight: bold;
        margin-right: vw2(10);
        white-space: nowrap;
      }
    }
    .sl1 {
      margin-bottom: vw(15);
      display: flex;
      align-items: center;
      span {
        font-size: vw2(14);
        font-weight: bold;
        margin-right: vw2(15);
        white-space: nowrap;
      }
    }
    .sl2 {
      margin-bottom: vw(15);
      display: flex;
      align-items: center;
      span {
        font-size: vw2(14);
        font-weight: bold;
        margin-right: vw2(15);
        white-space: nowrap;
      }
    }
  }
  &_list {
    &_item {
      border-bottom: 1px solid #eee;
      padding-top: vw2(30);
      padding-bottom: vw2(30);
      &.style02 {
        &.style03 {
          .df .item_r {
            .btn01 {
              margin-top: vw2(20);
            }
            .btn01.btn03 {
              margin-top: vw2(10);
              margin-bottom: vw2(20);
            }
          }
        }
        display: block;
        padding-top: 0;
        .products_txt_head {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          >span {
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f5555a;
            font-size: vw2(18);
            font-weight: bold;
            line-height: vw2(20);
            width: vw2(70);
            height: vw2(70);
            color: #fff;
            margin-right: vw(15);
          }
          ul {
            order: 3;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            margin-top: vw(30);
            li {
              margin-bottom: vw(15);
              a {
                background: #dbe4eb;
                color: #708498;
                padding: vw2(8);
                display: inline-block;
                border-radius: vw2(15);
                min-width: vw(345);
                font-weight: bold;
                text-align: center;
                font-size: vw2(16);
              }
            }
          }
          >a {
            order: 2;
            width: vw(70);
            height: vw(70);
            margin-left: auto;
          }
        }
        .df {
          figure {
            margin-bottom: vw(30);
            border: 1px solid #ccc;
            padding: vw2(60) vw2(30) vw2(30);
          }
          .item_l {
            .table {
              th {
                color: #000;
                &:nth-of-type(2) {
                  text-align: left;
                  font-weight: 500;
                }
              }
              td {
                color: #000;
                &:nth-of-type(2) {
                  text-align: left;
                  font-weight: 500;
                }
              }
            }
            .p_price {
              margin-bottom: vw2(30);
            }
          }
          .item_r {
            .btn01 {
              width: vw2(270);
              margin-top: vw2(30);
              &.btn02 {
                margin-top: vw2(10);
                margin-bottom: vw2(20);
              }
            }
            a.link_mail {
              position: relative;
              padding-left: vw2(23);
              font-size: vw2(14);
              font-weight: bold;
              color: #666666;
              &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: vw2(18);
                height: vw2(14);
                background: url(../img/ic_mail.png) center/contain no-repeat;
                display: block;
              }
            }
            a.link_fav {
              position: relative;
              padding-left: vw2(23);
              font-size: vw2(14);
              font-weight: bold;
              color: #666666;
              &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: vw2(16);
                height: vw2(16);
                background: url(../img/ic_star01.png) center/contain no-repeat;
                display: block;
              }
            }
            .rank {
              text-decoration: underline;
              font-size: vw2(16);
              font-weight: bold;
              color: #708498;
              img {
                margin-right: vw2(15);
                margin-bottom: - vw2(10);
                margin-top: vw(20);
                width: vw(120);
              }
            }
          }
        }
        .txt_detail {
          margin-top: vw2(50);
          p {
            font-size: vw2(16);
            line-height: vw2(24);
            &:not(:last-child) {
              margin-bottom: vw2(30);
            }
          }
          .list_func {
            margin-top: vw2(60);
            margin-bottom: vw2(50);
            li {
              background-color: #f3f6f9;
              display: flex;
              align-items: center;
              padding: vw2(25);
              &:nth-child(even) {
                background-color: #e9eff4;
              }
              img {
                margin-right: auto;
                margin-left: auto;
                width: vw(100)
              }
              .txt {
                width: vw2(400);
                padding-left: vw(30);
                h4 {
                  font-size: vw2(16);
                  font-weight: bold;
                }
                p {
                  font-size: vw2(14);
                  line-height: vw2(24);
                }
              }
            }
          }
          .table02 {
            margin-bottom: vw(50);
            dl {}
          }
        }
      }
      figure {
        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
      .products_txt {
        h3 {
          font-size: vw2(20);
          line-height: 1.6;
          font-weight: bold;
          margin-bottom: vw2(20);
          span {
            padding: vw2(5) vw2(15);
            color: #fff;
            font-size: vw2(15);
            letter-spacing: 0.1em;
            background-color: $color1;
            margin-right: vw2(15);
          }
        }
        >p {
          font-size: vw2(16);
          line-height: vw2(24);
          margin-top: vw(30);
          margin-bottom: vw(30);
        }
        .table {
          table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            th {
              text-align: center;
              font-size: vw2(14);
              font-weight: bold;
              color: #708498;
              background-color: #f3f6f9;
              border-top: 1px solid #dbe4eb;
              border-bottom: 1px solid #dbe4eb;
              padding: vw2(10);
              width: 25%;
              &:first-child {
                width: 18%;
              }
              &:last-child {
                width: 32%;
              }
            }
            td {
              text-align: center;
              font-size: vw2(14);
              font-weight: bold;
              padding: vw2(10);
            }
          }
        }
        &_bot {
          p {
            font-size: vw2(20);
            color: #f5555a;
            font-weight: bold;
            margin-bottom: vw(20);
            span {
              font-size: vw2(36);
              font-family: $bar;
              letter-spacing: 0.025em;
            }
          }
          a {
            background-color: $color1;
            font-size: vw2(14);
            color: #fff;
            padding: vw2(15) vw2(35);
            border-radius: vw2(28);
            position: relative;
            display: inline-block;
            &::after {
              content: "";
              position: absolute;
              top: 50%;
              right: vw2(20);
              transform: translateY(-50%);
              width: 0;
              height: 0;
              border-top: vw2(4) solid transparent;
              border-bottom: vw2(4) solid transparent;
              border-left: vw2(5) solid #fff;
            }
          }
        }
      }
    }
  }
}
.boxoverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1900;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.5s;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  transform: translateX(-50%) translateY(-50%);
  form {
    position: relative;
  }
  .btn_close {
    position: absolute;
    top: - vw(70);
    right: - vw(25);
    width: vw(50);
    height: vw(50);
    cursor: pointer;
  }
}
.modal .m_in {
  border-radius: vw2(5);
  //padding: vw2(50) vw2(50) vw2(130) vw2(50);
  box-sizing: border-box;
  background: #fff;
  transform: scale(2);
  opacity: 0;
  transition: all 0.3s;
  //width: vw2(1100);
  // height: vw2(550);
}
.modal.open {
  visibility: visible;
}
.modal.open .m_in {
  transform: scale(1);
  opacity: 1;
}
.modal {
  .m_in {
    padding-top: vw(40);
    padding-left: vw(20);
    padding-bottom: vw(20);
    border-radius: vw2(10);
    background: #fff;
    //box-shadow: vw2(0) vw2(2) vw2(4) rgba(91, 112, 136, 0.1);
  }
  .main_modal {
    .m_df {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #eee;
      margin-bottom: vw2(18);
      &:last-child {
        border-color: #000;
      }
      >span {
        font-size: vw2(18);
        font-weight: bold;
      }
      .checkbox label {
        font-size: vw2(18);
        line-height: vw2(30);
        padding-left: vw2(48);
      }
      .checkbox label::before {
        width: vw2(27);
        height: vw2(27);
        border: vw2(3) solid #eee;
        border-radius: vw2(3);
      }
      .checkbox label::after {
        width: vw2(10);
        height: vw2(20);
        left: vw2(11);
      }
    }
    .total {
      text-align: right;
      font-size: vw2(16);
      span {
        color: #f5555a;
        font-weight: bold;
        &:nth-of-type(1) {
          font-size: vw2(24);
        }
        &:nth-of-type(2) {
          font-size: vw2(18);
        }
      }
    }
    .btn_modal {
      text-align: center;
      margin-top: vw2(30);
      .btn01 {
        min-width: vw2(240);
      }
    }
  }
}
.scrollable {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: vw2(380);
}
.scrollable.showScroll::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  height: 100%;
  width: vw2(17);
  //background: #fff;
}
.scrollable.showScroll {
  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: vw2(8);
    height: 100%;
    width: vw2(6);
    background: #DDE2E6;
    border-radius: vw2(8);
    z-index: 1;
  }
}
.scrollable .content-wrapper {
  width: calc(100% + #{vw(30)});
  height: 100%;
  overflow-y: scroll;
  padding-right: vw(50);
}
.scroller {
  z-index: 5;
  cursor: pointer;
  position: absolute;
  width: vw2(6);
  height: vw2(90);
  border-radius: vw2(8);
  background: #f78000;
  top: vw2(0);
  right: vw2(8);
  transition: top .08s;
}
.content {
  user-select: none;
}