.category {
  .aside_banner01 a {
    background-color: #f78000;
    color: #fff;
  }
  .aside_banner01 a::after {
    border-left-color: #fff;
  }
}
.products {
  .ttl_head {
    font-size: rem(16);
    font-weight: bold;
    margin-bottom: 38px;
    span {
      color: #f78000;
      font-size: rem(20);
    }
  }
  .p_nav {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    &.center {
      justify-content: center;
      margin-top: 65px;
      margin-bottom: 130px;
      .page_wr {
        margin-left: auto;
        margin-right: auto;
      }
    }
    .page_wr {
      margin-left: auto;
      display: flex;
      align-items: center;
      >span {
        font-size: rem(14);
        font-weight: bold;
        margin-right: 10px;
      }
    }
    .sl1 {
      margin-right: 20px;
      display: flex;
      align-items: center;
      span {
        font-size: rem(14);
        font-weight: bold;
        margin-right: 15px;
      }
      .select {
        width: 150px;
      }
    }
    .sl2 {
      display: flex;
      align-items: center;
      span {
        font-size: rem(14);
        font-weight: bold;
        margin-right: 15px;
      }
      .select {
        width: 100px;
      }
    }
  }
  &_list {
    &_item {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #eee;
      padding-top: 25px;
      padding-bottom: 25px;
      &.style02 {
        &.style03 {
          .df .item_r {
            .btn01 {
              margin-top: 20px;
            }
            .btn01.btn03 {
              margin-top: 10px;
              margin-bottom: 20px;
            }
          }
        }
        display: block;
        .products_txt_head {
          display: flex;
          align-items: center;
          >span {
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f5555a;
            font-size: rem(18);
            font-weight: bold;
            line-height: 20px;
            width: 70px;
            height: 70px;
            color: #fff;
            margin-right: 10px;
          }
          ul {
            display: flex;
            flex-wrap: wrap;
            width: 400px;
            li {
              margin: 3px;
              a {
                background: #dbe4eb;
                color: #708498;
                padding: 8px;
                display: inline-block;
                border-radius: 15px;
                min-width: 110px;
                font-weight: bold;
                text-align: center;
              }
            }
          }
          a {
            margin-left: auto;
          }
        }
        .df {
          display: flex;
          justify-content: space-between;
          figure {
            width: 440px;
            border: 1px solid #ccc;
            padding: 60px 30px 30px;
          }
          .item_l {
            width: 360px;
            .table {
              th {
                color: #000;
                &:nth-of-type(2) {
                  text-align: left;
                  font-weight: 500;
                }
              }
              td {
                color: #000;
                &:nth-of-type(2) {
                  text-align: left;
                  font-weight: 500;
                }
              }
            }
            .p_price {
              margin-bottom: 30px;
            }
          }
          .item_r {
            width: 320px;
            padding-left: 34px;
            padding-top: 12px;
            .btn01 {
              width: 270px;
              margin-top: 30px;
              &.btn02 {
                margin-top: 10px;
                margin-bottom: 20px;
              }
            }
            a.link_mail {
              position: relative;
              padding-left: 23px;
              font-size: rem(14);
              font-weight: bold;
              color: #666666;
              &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 18px;
                height: 14px;
                background: url(../img/ic_mail.png) center/contain no-repeat;
                display: block;
              }
            }
            a.link_fav {
              position: relative;
              padding-left: 23px;
              font-size: rem(14);
              font-weight: bold;
              color: #666666;
              &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 16px;
                height: 16px;
                background: url(../img/ic_star01.png) center/contain no-repeat;
                display: block;
              }
            }
            .rank {
              text-decoration: underline;
              font-size: rem(16);
              font-weight: bold;
              color: #708498;
              img {
                margin-right: 15px;
                margin-bottom: -10px;
              }
            }
          }
        }
        .txt_detail {
          margin-top: 50px;
          p {
            font-size: rem(16);
            line-height: 24px;
            &:not(:last-child) {
              margin-bottom: 30px;
            }
          }
          .list_func {
            margin-top: 60px;
            margin-bottom: 50px;
            display: flex;
            flex-wrap: wrap;
            li {
              width: 50%;
              background-color: #f3f6f9;
              display: flex;
              align-items: center;
              padding: 25px;
              &.bg {
                background-color: #e9eff4;
              }
              img {
                margin-right: auto;
                margin-left: auto;
              }
              .txt {
                width: 400px;
                h4 {
                  font-size: rem(16);
                  font-weight: bold;
                }
                p {
                  font-size: rem(14);
                  line-height: 24px;
                }
              }
            }
          }
          .table02 {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 150px;
            dl {
              width: 50%;
              &:nth-last-child(2) {
                background-color: transparent;
                border: none;
              }
              &.w100 {
                width: 100%;
              }
            }
          }
        }
      }
      figure {
        width: 340px;
        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
      .products_txt {
        width: 680px;
        h3 {
          font-size: rem(20);
          line-height: 1.6;
          font-weight: bold;
          margin-bottom: 20px;
          span {
            padding: 5px 15px;
            color: #fff;
            font-size: rem(15);
            letter-spacing: 0.1em;
            background-color: $color1;
            margin-right: 15px;
          }
        }
        >p {
          font-size: rem(16);
          line-height: 24px;
          margin-top: 30px;
          margin-bottom: 30px;
        }
        .table {
          table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            th {
              text-align: center;
              font-size: rem(14);
              font-weight: bold;
              color: #708498;
              background-color: #f3f6f9;
              border-top: 1px solid #dbe4eb;
              border-bottom: 1px solid #dbe4eb;
              padding: 10px;
              width: 25%;
              &:first-child {
                width: 18%;
              }
              &:last-child {
                width: 32%;
              }
            }
            td {
              text-align: center;
              font-size: rem(14);
              font-weight: bold;
              padding: 10px;
            }
          }
        }
        &_bot {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          p {
            font-size: rem(20);
            color: #f5555a;
            font-weight: bold;
            span {
              font-size: rem(36);
              font-family: $bar;
              letter-spacing: 0.025em;
            }
          }
          a {
            background-color: $color1;
            font-size: rem(14);
            color: #fff;
            padding: 8px 35px;
            border-radius: 22px;
            position: relative;
            display: inline-block;
            &::after {
              content: "";
              position: absolute;
              top: 50%;
              right: 20px;
              transform: translateY(-50%);
              width: 0;
              height: 0;
              border-top: 4px solid transparent;
              border-bottom: 4px solid transparent;
              border-left: 5px solid #fff;
            }
          }
        }
      }
    }
  }
}
.boxoverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1900;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.5s;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 680px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  transform: translateX(-50%) translateY(-50%);
  form {
    position: relative;
  }
  .btn_close {
    position: absolute;
    top: -82px;
    right: -34px;
    width: 68px;
    height: 68px;
    cursor: pointer;
  }
}
.modal .m_in {
  border-radius: 5px;
  //padding: 50px 50px 130px 50px;
  box-sizing: border-box;
  background: #fff;
  transform: scale(2);
  opacity: 0;
  transition: all 0.3s;
  //width: 1100px;
  // height: 550px;
}
.modal.open {
  visibility: visible;
}
.modal.open .m_in {
  transform: scale(1);
  opacity: 1;
}
.modal {
  .m_in {
    padding-top: 60px;
    padding-left: 80px;
    padding-bottom: 50px;
    border-radius: 10px;
    background: #fff;
    //box-shadow: 0px 2px 4px rgba(91, 112, 136, 0.1);
  }
  .main_modal {
    .m_df {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #eee;
      margin-bottom: 18px;
      &:last-child {
        border-color: #000;
      }
      >span {
        font-size: rem(18);
        font-weight: bold;
      }
      .checkbox label {
        font-size: rem(18);
        line-height: 30px;
        padding-left: 48px;
      }
      .checkbox label::before {
        width: 27px;
        height: 27px;
        border: 3px solid #eee;
        border-radius: 3px;
      }
      .checkbox label::after {
        width: 10px;
        height: 20px;
        left: 11px;
      }
    }
    .total {
      text-align: right;
      font-size: rem(16);
      span {
        color: #f5555a;
        font-weight: bold;
        &:nth-of-type(1) {
          font-size: rem(24);
        }
        &:nth-of-type(2) {
          font-size: rem(18);
        }
      }
    }
    .btn_modal {
      text-align: center;
      margin-top: 30px;
      .btn01 {
        min-width: 240px;
      }
    }
  }
}
.scrollable {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 380px;
}
.scrollable.showScroll::after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  height: 100%;
  width: 17px;
  //background: #fff;
}
.scrollable.showScroll {
  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: 8px;
    height: 100%;
    width: 6px;
    background: #DDE2E6;
    border-radius: 8px;
    z-index: 1;
  }
}
.scrollable .content-wrapper {
  width: calc(100% + 50px);
  height: 100%;
  overflow-y: scroll;
  padding-right: 120px;
}
.scroller {
  z-index: 5;
  cursor: pointer;
  position: absolute;
  width: 6px;
  height: 90px;
  border-radius: 8px;
  background: #f78000;
  top: 0px;
  right: 8px;
  transition: top .08s;
}
.content {
  user-select: none;
}