.p_step {
  .table02 {
    margin-top: vw2(34);
    margin-bottom: vw2(145);
    dl {
      background-color: #fff;
      &:not(:last-child) {
        border-bottom: none;
      }
      &:first-child {
        border-bottom: 1px solid #dbe4eb;
      }
      dt {
        font-size: vw2(14);
        color: #708498;
        font-weight: bold;
        background-color: #f3f6f9;
        border-right: 1px solid #dbe4eb;
        border-left: 1px solid #dbe4eb;
        text-align: center;
        display: block;
      }
      dd {
        font-size: vw2(14);
        border-right: 1px solid #dbe4eb;
      }
    }
  }
}