.p_step {
  .table02 {
    margin-top: 34px;
    margin-bottom: 145px;
    dl {
      background-color: #fff;
      &:not(:last-child) {
        border-bottom: none;
      }
      dt {
        font-size: rem(14);
        color: #708498;
        font-weight: bold;
        background-color: #f3f6f9;
        border-right: 1px solid #dbe4eb;
        border-left: 1px solid #dbe4eb;
        text-align: center;
        width: 216px;
        display: block;
      }
      dd {
        width: calc(100% - 216px);
        font-size: rem(14);
        border-right: 1px solid #dbe4eb;
      }
    }
  }
}