.adv {
  .main_content {
    p {
      font-size: vw2(16);
      line-height: vw2(24);
    }
  }
  .list_point {
    margin-bottom: vw(130);
    margin-top: vw2(40);
    counter-reset: div;
    li {
      >p {
        color: #374c5a;
        font-weight: bold;
        font-size: vw2(30);
        font-family: $bar;
        position: relative;
        margin-top: vw2(50);
        margin-bottom: vw2(30);
        letter-spacing: 0.025em;
        span {
          background-color: #fff;
          position: relative;
          padding-right: vw2(10);
          &::after {
            counter-increment: div;
            content: "0"counter(div);
            font-size: vw2(48);
            margin-left: vw2(10);
          }
        }
        &:after {
          border-top: 1px solid #708498;
          content: "";
          margin: 0 auto;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          bottom: 0;
          width: 95%;
          z-index: -1;
        }
      }
    }
    .l_df {
      figure {
        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
      .txt {
        margin-top: vw(30);
        h4 {
          font-size: vw2(24);
          line-height: vw2(30);
          font-weight: bold;
          color: #2f4858;
          margin-bottom: vw2(20);
        }
        p {
          &:not(:last-child) {
            margin-bottom: vw(30);
          }
        }
      }
    }
  }
}
.about {
  .table {
    margin-top: vw2(50);
    margin-bottom: vw2(25);
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    margin-right: vw(-30);
    padding-bottom: 1px;
    table {
      width: vw(1400);
      flex: 0 0 auto;
    }
  }
  .table table td {
    border-bottom: 1px solid #eee;
    font-size: vw2(14);
    line-height: vw2(24);
    vertical-align: top;
    text-align: left;
    padding: vw2(15);
    font-weight: 500;
    .list_img {
      display: flex;
      align-items: center;
    }
  }
  .table table th {
    padding: vw2(15);
    background-color: #f3f6f9;
    border-top: none;
    border-bottom: none;
    color: #2f4858;
    font-weight: bold;
    font-size: vw2(16);
    &:nth-of-type(1) {
      width: vw2(320);
    }
    &:nth-of-type(2) {
      width: vw2(190);
    }
    &:nth-of-type(3) {
      width: vw2(330);
    }
    &:nth-of-type(4) {
      width: vw2(200);
    }
    &:not(:last-child) {
      border-right: 1px solid #fff;
    }
  }
  .a_tt4 {
    font-size: vw2(18);
    font-weight: bold;
    color: #2f4858;
    margin-bottom: vw2(25);
    &+p {
      margin-bottom: vw(100);
    }
  }
}