.adv {
  .main_content {
    p {
      font-size: rem(16);
      line-height: 24px;
    }
  }
  .list_point {
    margin-bottom: 130px;
    margin-top: 40px;
    counter-reset: div;
    li {
      >p {
        color: #374c5a;
        font-weight: bold;
        font-size: rem(30);
        font-family: $bar;
        position: relative;
        margin-top: 50px;
        margin-bottom: 30px;
        letter-spacing: 0.025em;
        span {
          background-color: #fff;
          position: relative;
          padding-right: 10px;
          &::after {
            counter-increment: div;
            content: "0"counter(div);
            font-size: rem(48);
            margin-left: 10px;
          }
        }
        &:after {
          border-top: 1px solid #708498;
          content: "";
          margin: 0 auto;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          bottom: 0;
          width: 95%;
          z-index: -1;
        }
      }
    }
    .l_df {
      display: flex;
      figure {
        width: 400px;
        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
      .txt {
        width: calc(100% - 400px);
        padding-left: 35px;
        h4 {
          font-size: rem(24);
          line-height: 30px;
          font-weight: bold;
          color: #2f4858;
          margin-bottom: 20px;
        }
        p {
          &:not(:last-child) {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}
.about {
  .table {
    margin-top: 50px;
    margin-bottom: 25px;
  }
  .table table td {
    border-bottom: 1px solid #eee;
    font-size: rem(14);
    line-height: 24px;
    vertical-align: top;
    text-align: left;
    padding: 15px;
    font-weight: 500;
    .list_img {
      display: flex;
      align-items: center;
    }
  }
  .table table th {
    padding: 15px;
    background-color: #f3f6f9;
    border-top: none;
    border-bottom: none;
    color: #2f4858;
    font-weight: bold;
    font-size: rem(16);
    &:nth-of-type(1) {
      width: 320px;
    }
    &:nth-of-type(2) {
      width: 190px;
    }
    &:nth-of-type(3) {
      width: 330px;
    }
    &:nth-of-type(4) {
      width: 200px;
    }
    &:not(:last-child) {
      border-right: 1px solid #fff;
    }
  }
  .a_tt4 {
    font-size: rem(18);
    font-weight: bold;
    color: #2f4858;
    margin-bottom: 25px;
    &+p {
      margin-bottom: 110px;
    }
  }
}