{% extends 'default_frame.twig' %}

{% set body_class = 'product_page' %}

{% block javascript %}
    <script>
        eccube.productsClassCategories = {
            {% for Product in pagination %}
            "{{ Product.id|escape('js') }}": {{ class_categories_as_json(Product)|raw }}{% if loop.last == false %}, {% endif %}
            {% endfor %}
        };

        $(function() {

            // 表示件数を変更
            $('.disp-number').change(function() {
                var dispNumber = $(this).val();
                $('#disp_number').val(dispNumber);
                $('#pageno').val(1);
                $("#form1").submit();
            });

            // 並び順を変更
            $('.order-by').change(function() {
                var orderBy = $(this).val();
                $('#orderby').val(orderBy);
                $('#pageno').val(1);
                $("#form1").submit();
            });

            $('.add-cart').on('click', function(e) {
                var $form = $(this).parents('li').find('form');

                // 個数フォームのチェック
                var $quantity = $form.parent().find('.quantity');
                if ($quantity.val() < 1) {
                    $quantity[0].setCustomValidity('{{ 'front.product.invalid_quantity'|trans }}');
                    setTimeout(function() {
                        loadingOverlay('hide');
                    }, 100);
                    return true;
                } else {
                    $quantity[0].setCustomValidity('');
                }
                e.preventDefault();
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: $form.serialize(),
                    dataType: 'json',
                    beforeSend: function(xhr, settings) {
                        // Buttonを無効にする
                        $('.add-cart').prop('disabled', true);
                    }
                }).done(function(data) {
                    // レスポンス内のメッセージをalertで表示
                    $.each(data.messages, function() {
                        $('#ec-modal-header').html(this);
                    });

                    $('#ec-modal-checkbox').prop('checked', true);

                    // カートブロックを更新する
                    $.ajax({
                        url: '{{ url('block_cart') }}',
                        type: 'GET',
                        dataType: 'html'
                    }).done(function(html) {
                        $('.ec-headerRole__cart').html(html);
                    });
                }).fail(function(data) {
                    alert('{{ 'front.product.add_cart_error'|trans }}');
                }).always(function(data) {
                    // Buttonを有効にする
                    $('.add-cart').prop('disabled', false);
                });
            });
        });
    </script>
{% endblock %}

{% block main %}
    {% if search_form.category_id.vars.errors|length > 0 %}
        <div class="ec-searchnavRole">
            <p class="errormsg text-danger">{{ 'front.product.search__category_not_found'|trans }}</p>
        </div>
    {% else %}
        <div id="main_content" class="main_content products">
            <div class="main_ttl">
                <h2 class="ttl2 show_pc">デスクトップパソコン</h2>
            </div>
            {% if pagination.totalItemCount > 0 %}
                <p class="ttl_head">検索結果 <span>{{ pagination.totalItemCount }}</span> 件 ((在庫切れ含む)中 1-20件の製品が表示されています。)</p>
            {% else %}
                <p class="ttl_head">お探しの商品は見つかりませんでした</p>
            {% endif %}
            <div class="p_nav">
                <div class="sl1">
                    <span>並び替え</span>
                    <div class="select">
                        <label>
                            {{ form_widget(disp_number_form, {'id': '', 'attr': {'class': 'disp-number'}}) }}
                        </label>
                    </div>
                </div>
                <div class="sl2">
                    <span>表示件数</span>
                    <div class="select">
                        <label>
                            {{ form_widget(order_by_form, {'id': '', 'attr': {'class': 'order-by'}}) }}
                        </label>
                    </div>
                </div>
                <div class="page_wr">
                    <span>505件中1-10件表示</span>
                    <div class="pag">
                        <ul>
                            <li class="prev"><a href=""></a></li>
                            <li class="active"><a href="">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href="">4</a></li>
                            <li><a href="">5</a></li>
                            <li class="dots"><a href="">…</a></li>
                            <li><a href="">10</a></li>
                            <li class="next"><a href=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            {% if pagination.totalItemCount > 0 %}
                <div class="products_list">
                    {% for Product in pagination %}
                        <div class="products_list_item">
                            <figure>
                                <img src="{{ asset(Product.main_list_image|no_image_product, 'save_image') }}" alt="{{ Product.name }}">
                            </figure>
                            <div class="products_txt">
                                <h3><span>NEW</span>{{ Product.name }}</h3>
                                <div class="table">
                                    <table>
                                        <tr>
                                            <th>メーカー</th>
                                            <th>OS</th>
                                            <th>CPU</th>
                                            <th>インチ</th>
                                        </tr>
                                        <tr>
                                            <td>NEC</td>
                                            <td>Windows10</td>
                                            <td>Celeron 1.7 GHz</td>
                                            <td>15.6インチ</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="table">
                                    <table>
                                        <tr>
                                            <th>メモリ</th>
                                            <th>HDD/SSD</th>
                                            <th>光学ドライブ</th>
                                            <th>Office</th>
                                        </tr>
                                        <tr>
                                            <td>4 GB</td>
                                            <td>250 GB</td>
                                            <td>DVD マルチ</td>
                                            <td>Office2010 homeand business</td>
                                        </tr>
                                    </table>
                                </div>
                                {% if Product.description_list %}
                                    <p>{{ Product.description_list|raw|nl2br }}</p>
                                {% endif %}
                                <div class="products_txt_bot">
                                    <p><span>{{ Product.getPrice01IncTaxMin |number_format }}</span>円（税込）</p>
                                    <a href="">詳しい商品情報・購入はこちら</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="products_list_item">
                        <figure>
                            <img src="../assets/img/index_05.jpg?v=ac41bd377b401324d7e05f0a72534c83" alt="">
                        </figure>
                        <div class="products_txt">
                            <h3><span>NEW</span>VersaPro VK17EA-E Windows7搭載モデル</h3>
                            <div class="table">
                                <table>
                                    <tr>
                                        <th>メーカー</th>
                                        <th>OS</th>
                                        <th>CPU</th>
                                        <th>インチ</th>
                                    </tr>
                                    <tr>
                                        <td>NEC</td>
                                        <td>Windows10</td>
                                        <td>Celeron 1.7 GHz</td>
                                        <td>15.6インチ</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="table">
                                <table>
                                    <tr>
                                        <th>メモリ</th>
                                        <th>HDD/SSD</th>
                                        <th>光学ドライブ</th>
                                        <th>Office</th>
                                    </tr>
                                    <tr>
                                        <td>4 GB</td>
                                        <td>250 GB</td>
                                        <td>DVD マルチ</td>
                                        <td>Office2010 homeand business</td>
                                    </tr>
                                </table>
                            </div>
                            <p>コストパフォーマンスに優れたCore i3(第4世代)のビジネス汎用機｢VersaPro｣シリーズ。簡単な文書作成や表計算など、事務作業におすすめです。DVDマルチドライブ搭載しています。</p>
                            <div class="products_txt_bot">
                                <p><span>39,800</span>円（税込）</p>
                                <a href="">詳しい商品情報・購入はこちら</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="p_nav center">
                <div class="page_wr">
                    <span>505件中1-10件表示</span>
                    <div class="pag">
                        <ul>
                            <li class="prev"><a href=""></a></li>
                            <li class="active"><a href="">1</a></li>
                            <li><a href="">2</a></li>
                            <li><a href="">3</a></li>
                            <li><a href="">4</a></li>
                            <li><a href="">5</a></li>
                            <li class="dots"><a href="">…</a></li>
                            <li><a href="">10</a></li>
                            <li class="next"><a href=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
