@charset "utf-8";
// ===================================================================
//  common_pc.css
// ===================================================================
a[href^=tel] {
  pointer-events: none;
  text-decoration: none;
  cursor: default !important;
}
.show_sp {
  display: none !important;
}
.container {
  min-width: 1400px;
  overflow: hidden;
}
.row {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.inner {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}
img {
  max-width: 100%;
  width: auto;
  height: auto;
}
.main {
  display: flex;
  justify-content: space-between;
  .main_content {
    width: 1040px;
    order: 2;
  }
  .aside {
    width: 320px;
    order: 1;
  }
}
.products_tit {
  font-size: rem(20);
  line-height: 1.6;
  font-weight: bold;
  margin-bottom: 20px;
  span {
    padding: 5px 15px;
    color: #fff;
    font-size: rem(15);
    letter-spacing: 0.1em;
    background-color: $color1;
    margin-right: 15px;
  }
}
.table {
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    th {
      text-align: center;
      font-size: rem(14);
      font-weight: bold;
      color: #708498;
      background-color: #f3f6f9;
      border-top: 1px solid #dbe4eb;
      border-bottom: 1px solid #dbe4eb;
      padding: 10px;
      width: 25%;
      &:first-child {
        width: 18%;
      }
      &:last-child {
        width: 32%;
      }
    }
    td {
      text-align: center;
      font-size: rem(14);
      font-weight: bold;
      padding: 10px;
    }
  }
}
.table02 {
  dl {
    display: flex;
    background-color: #f3f6f9;
    border-top: 1px solid #dbe4eb;
    border-bottom: 1px solid #dbe4eb;
    &.no_bg {
      background-color: transparent;
      border: none;
      &.las {
        border-bottom: 1px solid #dbe4eb !important;
      }
    }
    dt {
      padding: 15px;
      font-size: rem(16);
      font-weight: bold;
      width: 260px;
      border-right: 1px solid #dbe4eb;
      display: flex;
      align-items: center;
      min-width: 260px;
      &.db {
        display: block;
      }
    }
    dd {
      padding: 15px;
      font-size: rem(16);
      width: calc(100% - 240px);
      &.br {
        border-right: 1px solid #dbe4eb;
      }
    }
  }
}
.p_price {
  font-size: rem(20);
  color: #f5555a;
  font-weight: bold;
  span {
    font-size: rem(36);
    font-family: $bar;
    letter-spacing: 0.025em;
  }
}
a.btn01, button.btn01 {
  background-color: $color1;
  font-size: rem(14);
  color: #fff;
  padding: 8px 35px;
  border-radius: 22px;
  position: relative;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 0;
  outline: none;
  &.btn02 {
    position: relative;
    background-color: #2f4858;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      background: url(../img/ic_plus.png) center/contain no-repeat;
      display: block;
    }
  }
  &.btn03 {
    position: relative;
    background-color: #f5555a;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      width: 19px;
      height: 16px;
      background: url(../img/ic_shop_white.png) center/contain no-repeat;
      display: block;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 5px solid #fff;
  }
}
.p_ttl3 {
  font-size: rem(20);
  color: #2f4858;
  font-weight: bold;
  border-bottom: 1px solid #708498;
  padding-bottom: 15px;
  margin-bottom: 35px;
}
.ttl3_st2 {
  font-size: rem(30);
  color: #2f4858;
  font-weight: bold;
  border-bottom: 2px solid #e8edf2;
  padding-bottom: 15px;
  margin-bottom: 35px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    transform: translateY(-50%);
    width: 120px;
    height: 2px;
    background: #2f4858;
    display: block;
  }
}