@charset "utf-8";
// ===================================================================
//  common_sp.css
// ===================================================================
// ===================================================================
img {
  width: 100%;
  height: auto;
}
.container {
  overflow: hidden;
}
.show_pc {
  display: none !important;
}
.inner, .row {
  padding-left: vw(30);
  padding-right: vw(30);
}
.products_tit {
  font-size: vw2(20);
  line-height: 1.6;
  font-weight: bold;
  margin-bottom: vw2(20);
  span {
    padding: vw2(5) vw2(15);
    color: #fff;
    font-size: vw2(15);
    letter-spacing: 0.1em;
    background-color: $color1;
    margin-right: vw2(15);
  }
}
.table {
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    th {
      text-align: center;
      font-size: vw2(14);
      font-weight: bold;
      color: #708498;
      background-color: #f3f6f9;
      border-top: 1px solid #dbe4eb;
      border-bottom: 1px solid #dbe4eb;
      padding: vw2(10);
      width: 25%;
      &:first-child {
        width: 18%;
      }
      &:last-child {
        width: 32%;
      }
    }
    td {
      text-align: center;
      font-size: vw2(14);
      font-weight: bold;
      padding: vw2(10);
    }
  }
}
.table02 {
  dl {
    display: flex;
    background-color: #f3f6f9;
    border-top: 1px solid #dbe4eb;
    border-bottom: 1px solid #dbe4eb;
    &:last-child {
      border-bottom: 1px solid #dbe4eb;
    }
    &:nth-child(even) {
      background-color: transparent;
      border: none;
      &:last-child {
        border-bottom: 1px solid #dbe4eb;
      }
    }
    dt {
      padding: vw2(15);
      font-size: vw2(16);
      font-weight: bold;
      width: 30%;
      border-right: 1px solid #dbe4eb;
      display: flex;
      align-items: center;
    }
    dd {
      padding: vw2(15);
      font-size: vw2(16);
      width: 70%;
    }
  }
}
.p_price {
  font-size: vw2(20);
  color: #f5555a;
  font-weight: bold;
  span {
    font-size: vw2(36);
    font-family: $bar;
    letter-spacing: 0.025em;
  }
}
a.btn01, button.btn01 {
  background-color: $color1;
  font-size: vw2(14);
  color: #fff;
  padding: vw2(8) vw2(35);
  border-radius: vw2(22);
  position: relative;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 0;
  outline: none;
  &.btn02 {
    position: relative;
    background-color: #2f4858;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: vw2(15);
      transform: translateY(-50%);
      width: vw2(18);
      height: vw2(18);
      background: url(../img/ic_plus.png) center/contain no-repeat;
      display: block;
    }
  }
  &.btn03 {
    position: relative;
    background-color: #f5555a;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: vw2(15);
      transform: translateY(-50%);
      width: vw2(19);
      height: vw2(16);
      background: url(../img/ic_shop_white.png) center/contain no-repeat;
      display: block;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: vw2(20);
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: vw2(4) solid transparent;
    border-bottom: vw2(4) solid transparent;
    border-left: vw2(5) solid #fff;
  }
}
.p_ttl3 {
  font-size: vw2(20);
  color: #2f4858;
  font-weight: bold;
  border-bottom: 1px solid #708498;
  padding-bottom: vw2(15);
  margin-bottom: vw2(35);
}
.ttl3_st2 {
  font-size: vw2(26);
  color: #2f4858;
  font-weight: bold;
  border-bottom: 2px solid #e8edf2;
  padding-bottom: vw2(15);
  margin-bottom: vw2(35);
  padding-top: vw(30);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    transform: translateY(-50%);
    width: vw2(120);
    height: 2px;
    background: #2f4858;
    display: block;
  }
}