.footer {
  background-color: #000;
  color: #fff;
  .row {
    display: flex;
  }
  a {
    color: #fff;
  }
  &_l {
    width: 360px;
    background-color: #2f4858;
    padding-top: 60px;
    position: relative;
    &_main {
      position: relative;
      z-index: 1;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 3000px;
      height: 100%;
      background: #2f4858;
      display: block;
    }
    a.footer_l_logo {
      display: block;
      img {
        width: 172px;
      }
      span {
        display: block;
      }
    }
    p {
      font-size: rem(14);
      line-height: 22px;
      margin-top: 23px;
      &:last-child {
        margin-top: 113px;
      }
    }
  }
  &_r {
    width: 1040px;
    padding-top: 60px;
    padding-bottom: 50px;
    padding-left: 95px;
    &_head {
      font-size: rem(16);
      font-weight: bold;
      margin-bottom: 7px;
    }
    .copyright {
      text-align: right;
      font-size: rem(12);
      margin-top: 50px;
    }
    &_link {
      display: flex;
      justify-content: space-between;
      dl {
        dt {
          padding-left: 20px;
          position: relative;
          font-size: rem(16);
          font-weight: bold;
          border-bottom: 1px solid #fff;
          padding-bottom: 21px;
          padding-top: 21px;
          margin-bottom: 27px;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 10px;
            height: 4px;
            background: #f78000;
            display: block;
          }
        }
        dd {
          ul {
            li {
              a {
                font-size: rem(14);
                line-height: 24px;
              }
            }
          }
        }
        &:nth-of-type(1) {
          width: percentage(300/940);
        }
        &:nth-of-type(2) {
          width: percentage(600/940);
          dd {
            display: flex;
            ul {
              width: 50%;
              &:nth-of-type(1) {
                padding-right: 40px;
              }
            }
          }
        }
      }
    }
  }
}