.footer {
  background-color: #000;
  color: #fff;
  .row {
    padding-left: 0;
    padding-right: 0;
  }
  a {
    color: #fff;
  }
  &_l {
    padding-left: vw(30);
    padding-right: vw(30);
    background-color: #2f4858;
    padding-top: vw(60);
    padding-bottom: vw(60);
    a.footer_l_logo {
      display: block;
      img {
        width: vw(172);
      }
      span {
        display: block;
      }
    }
    p {
      font-size: vw2(14);
      margin-top: vw2(20);
      &:last-child {
        margin-top: vw(40);
      }
    }
  }
  &_r {
    padding-top: vw(60);
    padding-bottom: vw(50);
    padding-left: vw(30);
    padding-right: vw(30);
    &_head {
      font-size: vw2(16);
      font-weight: bold;
      margin-bottom: vw2(7);
    }
    .copyright {
      text-align: center;
      font-size: vw2(12);
      margin-top: vw2(50);
    }
    &_link {
      dl {
        &:nth-of-type(1) {
          margin-bottom: vw(60);
        }
        dt {
          padding-left: vw2(20);
          position: relative;
          font-size: vw2(16);
          font-weight: bold;
          border-bottom: 1px solid #fff;
          padding-bottom: vw(21);
          padding-top: vw(21);
          margin-bottom: vw(27);
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: vw2(10);
            height: vw2(4);
            background: #f78000;
            display: block;
          }
        }
        dd {
          ul {
            li {
              a {
                font-size: vw2(14);
                line-height: vw2(24);
              }
            }
          }
        }
        &:nth-of-type(1) {}
        &:nth-of-type(2) {
          dd {
            ul {
              &:nth-of-type(1) {
                margin-bottom: vw(40);
              }
            }
          }
        }
      }
    }
  }
}