.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 115;
  background-color: #fff;
  &.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
  }
  &_top {
    background-color: #2f4858;
    &_in {
      position: relative;
      height: 100%;
    }
    .row {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      padding-right: 0;
      padding-left: 0;
    }
    &_fr {
      width: 100%;
      margin: vw(30) auto;
      form {
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        button {
          cursor: pointer;
          background-color: transparent;
          outline: none;
          border: 0;
          position: absolute;
          padding: 0;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: vw(45*1.6);
          height: vw(32*1.6);
          background: url(../img/ic_search.png) center no-repeat;
          background-size: vw(15*1.6) vw(16*1.6);
        }
        input {
          border-radius: vw(6);
          width: 100%;
          height: vw(32*2.2);
          outline: none;
          font-size: vw(14);
          background-color: #263a46;
          border: 0;
          color: #fff;
          padding: 0 vw(45) 0 vw(15);
          word-break: keep-all;
          &::-ms-clear {
            display: none;
          }
        }
      }
    }
    &_r {
      display: flex;
      align-items: center;
      width: 100%;
      height: vw(100);
      justify-content: flex-end;
      &_user {
        height: 100%;
        display: block;
        margin-left: vw(20);
        display: flex;
        align-items: center;
      }
      p {
        color: #fff;
        font-weight: bold;
        font-size: vw(14*1.6);
        margin-right: vw(28*1.6);
        width: 100%;
      }
      a {
        width: vw(100);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          &.ic_shop {
            width: vw(21*1.6);
            height: vw(22*1.6);
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(../img/ic_shop.png);
            background-size: vw(21*1.6) vw(22*1.6);
          }
        }
      }
      .func_shop {
        background-color: #f78000;
        display: flex;
        height: 100%;
        align-items: center;
        padding-left: vw(17*1.6);
        padding-right: vw(17*1.6);
        li {
          &:not(:last-child) {
            margin-right: vw(28*1.6);
          }
          a {
            width: vw(24*1.6);
            height: vw(24*1.6);
            display: block;
            i {
              width: 100%;
              height: 100%;
              display: block;
              background-repeat: no-repeat;
              background-position: center;
              &.ic_deal {
                background-image: url(../img/ic_deal.png);
                background-size: vw(17*1.6) vw(21*1.6);
              }
              &.ic_sale {
                background-image: url(../img/ic_sale.png);
                background-size: vw(24*1.6) vw(24*1.6);
              }
              &.ic_chat {
                background-image: url(../img/ic_chat.png);
                background-size: vw(21*1.6) vw(20*1.6);
              }
              &.ic_heart {
                background-image: url(../img/ic_heart.png);
                background-size: vw(19*1.6) vw(17*1.6);
              }
            }
          }
        }
      }
    }
  }
  &_bot {
    border-bottom: 1px solid #ccc;
  }
  .logo {
    height: vw(100);
    width: 100%;
    margin: 0;
    font-size: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    .logo_l {
      width: 50%;
    }
    .logo_r {
      display: flex;
      height: 100%;
      >a {
        width: vw(100);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #2f4858;
        margin-right: calc(23px + #{vw(30)});
        i {
          &.ic_shop {
            width: vw(21*1.6);
            height: vw(22*1.6);
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(../img/ic_shop.png);
            background-size: vw(21*1.6) vw(22*1.6);
          }
        }
      }
      .func_shop {
        background-color: #f78000;
        display: flex;
        height: 100%;
        align-items: center;
        li {
          &:not(:last-child) {
            margin-right: vw(28*1.6);
          }
          a {
            width: vw(100);
            height: vw(24*1.6);
            display: block;
            i {
              width: 100%;
              height: 100%;
              display: block;
              background-repeat: no-repeat;
              background-position: center;
              &.ic_deal {
                background-image: url(../img/ic_deal.png);
                background-size: vw(17*1.6) vw(21*1.6);
              }
              &.ic_sale {
                background-image: url(../img/ic_sale.png);
                background-size: vw(24*1.6) vw(24*1.6);
              }
              &.ic_chat {
                background-image: url(../img/ic_chat.png);
                background-size: vw(21*1.6) vw(20*1.6);
              }
              &.ic_heart {
                background-image: url(../img/ic_heart.png);
                background-size: vw(19*1.6) vw(17*1.6);
              }
            }
          }
        }
      }
    }
    h1 {
      font-weight: bold;
      font-size: vw2(12);
      display: block;
      margin-bottom: vw(10);
      width: 80%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    a.link_logo {
      display: block;
      img {
        width: vw(195);
      }
    }
    .menu_icon {
      position: fixed;
      right: vw(30);
      top: vw(50);
      margin-top: -8px;
      z-index: 200;
      width: 23px;
      height: 16px;
      background: transparent;
      border-top: 2px solid #000;
      border-bottom: 2px solid #000;
      font-size: 0;
      transition: all 0.25s ease-in-out;
      &:before, &:after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 0;
        background: #000;
        margin-top: -1px;
        transition: transform 0.25s ease-in-out;
      }
      &.active {
        border-color: transparent;
        &:before {
          transform: rotate(45deg);
          background: #000;
        }
        &:after {
          transform: rotate(-45deg);
          background: #000;
        }
      }
    }
  }
  .header_nav {
    position: absolute;
    top: vw(100);
    right: 0;
    width: vw(450);
    padding: vw(20) vw(20) vw(50) vw(20);
    overflow-y: auto;
    z-index: 999;
    height: 200vh;
    //opacity: 0;
    //visibility: hidden;
    //height: 0;
    background-color: #2f4858;
    color: #fff;
    transition: transform 0.3s ease;
    border-top: 1px solid #ccc;
    transform: translateX(100%);
    &.active {
      //opacity: 1;
      //visibility: visible;
      transform: translateX(0);
    }
    p {
      font-weight: 400;
      font-size: vw(30);
      margin-bottom: vw(40);
      &.mt {
        margin-top: vw(30);
      }
    }
    >ul {
      >li {
        padding-top: vw(5);
        padding-bottom: vw(5);
        a {
          text-decoration: none;
          font-weight: 400;
          font-size: vw(30);
          color: #fff;
        }
      }
    }
  }
}
.aside {
  margin-top: vw(30);
  &_banner01 {
    background-color: #2f4858;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: vw2(22);
    padding-bottom: vw2(22);
    margin-bottom: vw2(10);
    p {
      font-size: vw2(18);
      font-weight: bold;
      position: relative;
      padding-left: vw2(80);
      margin-bottom: vw2(10);
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: vw2(60);
        height: vw2(60);
        background: url(../img/ic_shop_dark.png) center no-repeat;
        display: block;
        background-size: vw2(26) vw2(32);
        background-color: #fff;
        border-radius: 50%;
      }
      span {
        font-family: $bar;
        font-weight: bold;
        font-size: vw2(36);
        margin-left: vw2(6);
        margin-right: vw2(6);
      }
    }
    a {
      background-color: #fff;
      font-size: vw2(14);
      color: #2f4858;
      border-radius: vw2(20);
      padding: vw2(5) vw2(30);
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: vw2(15);
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-top: vw2(4) solid transparent;
        border-bottom: vw2(4) solid transparent;
        border-left: vw2(5) solid #2f4858;
      }
    }
  }
  &_banner02 {
    background-color: #ef6f1d;
    padding: vw2(7);
    text-align: center;
    margin-bottom: vw2(10);
    &_in {
      border: 1px solid #f9c5a5;
      padding: vw2(7) vw2(10) vw2(15);
      img {
        width: 53px;
      }
      p {
        font-size: vw2(16);
        line-height: vw2(24);
        font-weight: bold;
        color: #fff;
      }
    }
  }
  &_item {
    background-color: #faf7f3;
    padding: vw2(24) vw2(30) vw2(50);
    margin-bottom: vw2(10);
    &.style02 {
      &.style03 {
        background-color: #f3f6f9;
        .aside_item_ex {
          h3 {
            &::before {
              background-color: #000;
            }
          }
          .aside_item_ex_child {
            background-color: #e0e8f1;
            border: none;
            a {
              color: #2f4858;
            }
          }
        }
      }
      dl {
        dt {
          padding-left: vw2(20);
          border-bottom: none;
          position: relative;
          margin-bottom: 0;
          padding-bottom: vw2(15);
          padding-top: vw2(15);
          font-weight: bold;
          font-size: vw2(14);
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: vw2(10);
            height: vw2(4);
            background: #f78000;
            display: block;
          }
        }
        dd {
          padding-left: 0;
          border: vw2(6) solid #eae3d9;
          padding: vw2(20) 0 vw2(20) vw2(20);
          min-height: vw2(100);
          a {
            display: block;
            position: relative;
            padding-left: vw2(52);
            font-size: vw2(14);
            line-height: vw2(24);
            font-weight: bold;
            color: #71675b;
            min-height: vw2(72);
            display: flex;
            align-items: center;
            &:after {
              content: '';
              min-height: inherit;
              font-size: 0;
            }
            &.ic_bag {
              &::before {
                background-image: url(../img/ic_bag.png);
              }
            }
            &.ic_car {
              &::before {
                background-image: url(../img/ic_car.png);
              }
            }
            &.ic_money {
              &::before {
                background-image: url(../img/ic_money.png);
              }
            }
            &.ic_card {
              &::before {
                background-image: url(../img/ic_card.png);
              }
            }
            &.ic_contact {
              &::before {
                background-image: url(../img/ic_contact.png);
              }
            }
            &.ic_paper {
              &::before {
                background-image: url(../img/ic_paper.png);
              }
            }
            &.ic_ques {
              &::before {
                background-image: url(../img/ic_ques.png);
              }
            }
            &.ic_bulding {
              &::before {
                background-image: url(../img/ic_bulding.png);
              }
            }
            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              width: vw2(52);
              height: 100%;
              background-position: left center;
              background-repeat: no-repeat;
              display: block;
            }
          }
        }
      }
    }
    .aside_item_tt {
      font-size: vw2(16);
      font-weight: bold;
      padding-bottom: vw2(20);
      margin-bottom: vw2(5);
      border-bottom: vw2(2) solid #000;
    }
    .aside_item_ex {
      &:not(:last-child) {
        margin-bottom: vw2(20);
      }
      h4 {
        border-bottom: 1px solid #ccc;
        padding-bottom: vw2(15);
        margin-bottom: vw2(15);
        padding-top: vw2(15);
        a {
          font-size: vw2(14);
          font-weight: bold;
        }
        font-weight: bold;
        font-size: vw2(14);
      }
      .aside_item_ex_child {
        padding-left: vw2(27);
        a {
          font-size: vw2(14);
          font-weight: bold;
        }
      }
    }
  }
  &_filter {
    background-color: #faf7f3;
    padding-bottom: vw(50);
    margin-bottom: vw(50);
    h3 {
      font-size: vw2(16);
      font-weight: bold;
      position: relative;
      background-color: #313131;
      color: #fff;
      padding: vw2(12) vw2(12) vw2(12) vw2(44);
      margin-bottom: vw2(20);
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: vw2(12);
        transform: translateY(-50%);
        width: vw2(14);
        height: vw2(15);
        background: url(../img/ic_filter.png) center/contain no-repeat;
        display: block;
      }
    }
    dl {
      padding-left: vw2(30);
      padding-right: vw2(30);
      dt {
        padding-left: vw2(20);
        border-bottom: none;
        position: relative;
        margin-bottom: vw2(20);
        border-bottom: 1px solid #000;
        padding-top: vw2(14);
        padding-bottom: vw2(14);
        font-size: vw2(16);
        font-weight: bold;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: vw2(10);
          height: vw2(10);
          background: #f78000;
          display: block;
          border-radius: 50%;
        }
      }
    }
    .select {
      margin-bottom: vw2(20);
    }
    .checkbox {
      margin-bottom: vw2(18);
      input[type="checkbox"] {
        display: none;
        &:checked~label::after {
          opacity: 1;
        }
      }
      label {
        display: inline-block;
        font-size: vw2(14);
        font-weight: bold;
        cursor: pointer;
        position: relative;
        padding-left: vw2(33);
        line-height: vw2(22);
        &:hover {
          >a {
            &::after {
              background: transparent;
            }
          }
        }
        >a {
          position: relative;
          text-decoration: none;
          color: #1d2088;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: #a8a8c9;
            display: block;
            transition: all 0.3s ease-in-out;
          }
        }
        &::before {
          content: "";
          display: block;
          width: vw2(20);
          height: vw2(20);
          border: 1px solid #ccc;
          background-color: #fff;
          position: absolute;
          left: 0;
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: vw2(6);
          width: vw2(7);
          height: vw2(12);
          border: solid $color1;
          border-width: 0 vw2(3) vw2(3) 0;
          transform: rotate(45deg);
          opacity: 0;
          transition: all .3s;
        }
      }
    }
  }
  &_guide {
    background-color: #faf7f3;
    padding-bottom: vw2(55);
    margin-bottom: vw(100);
    h3 {
      font-size: vw2(16);
      font-weight: bold;
      position: relative;
      background-color: #313131;
      color: #fff;
      padding: vw2(12) vw2(12) vw2(12) vw2(44);
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: vw2(12);
        transform: translateY(-50%);
        width: vw2(15);
        height: vw2(20);
        background: url(../img/ic_guide.png) center/contain no-repeat;
        display: block;
      }
    }
    ul {
      padding: vw2(20) vw2(35) 0;
      li {
        &.active, &:hover {
          a {
            font-weight: bold;
            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: vw2(4);
              transform: translateY(-50%);
              width: vw2(10);
              height: vw2(4);
              background: #f78000;
              display: block;
            }
          }
        }
        a {
          display: block;
          position: relative;
          font-size: vw2(16);
          color: #374c5a;
          border-bottom: 1px solid #ccc;
          padding: vw2(15) 0 vw2(15) vw2(25);
          transition: color 0.3s ease-in-out;
        }
      }
    }
  }
}