.header {
  border-bottom: 1px solid #ccc;
  position: relative;
  z-index: 99;
  background-color: #fff;
  &.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
  }
  &_top {
    background-color: #2f4858;
    height: 50px;
    &_in {
      position: relative;
      height: 100%;
    }
    .row {
      height: 100%;
    }
    &_fr {
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;
      width: 320px;
      button {
        cursor: pointer;
        background-color: transparent;
        outline: none;
        border: 0;
        position: absolute;
        padding: 0;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 45px;
        height: 32px;
        background: url(../img/ic_search.png) center no-repeat;
        background-size: 15px 16px;
      }
      input {
        border-radius: 6px;
        width: 320px;
        height: 32px;
        outline: none;
        font-size: rem(14);
        background-color: #263a46;
        border: 0;
        color: #fff;
        padding: 0 45px 0 15px;
        word-break: keep-all;
        &::-ms-clear {
          display: none;
        }
      }
    }
    &_r {
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;
      top: 0;
      height: 100%;
      p {
        color: #fff;
        font-weight: bold;
        font-size: rem(14);
        margin-right: 28px;
      }
      a {
        width: 50px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          &.ic_shop {
            width: 21px;
            height: 22px;
            display: block;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(../img/ic_shop.png);
            background-size: 21px 22px;
          }
        }
      }
      .func_shop {
        background-color: #f78000;
        display: flex;
        height: 100%;
        align-items: center;
        padding-left: 17px;
        padding-right: 17px;
        li {
          &:not(:last-child) {
            margin-right: 28px;
          }
          a {
            width: 24px;
            height: 24px;
            display: block;
            i {
              width: 100%;
              height: 100%;
              display: block;
              background-repeat: no-repeat;
              background-position: center;
              &.ic_deal {
                background-image: url(../img/ic_deal.png);
                background-size: 17px 21px;
              }
              &.ic_sale {
                background-image: url(../img/ic_sale.png);
                background-size: 24px 24px;
              }
              &.ic_chat {
                background-image: url(../img/ic_chat.png);
                background-size: 21px 20px;
              }
              &.ic_heart {
                background-image: url(../img/ic_heart.png);
                background-size: 19px 17px;
              }
            }
          }
        }
      }
    }
  }
  &_bot {
    padding-top: 30px;
    padding-bottom: 15px;
    .df{
      display: flex;
      align-items: flex-end;
    }
    .row {

      .logo {
        a {
          display: block;
        }
        h1 {
          font-weight: bold;
          font-size: rem(14);
          display: block;
          margin-bottom: 6px;
        }
        img {
          width: 195px;
        }
      }
      nav {
        padding-bottom: 12px;
        margin-left: 56px;
        ul {
          display: flex;
          li {
            &:not(:last-child) {
              margin-right: 40px;
            }
            a {
              font-size: rem(14);
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
.aside {
  &_banner01 {
    background-color: #2f4858;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-bottom: 10px;
    p {
      font-size: rem(18);
      font-weight: bold;
      position: relative;
      padding-left: 80px;
      margin-bottom: 10px;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 60px;
        height: 60px;
        background: url(../img/ic_shop_dark.png) center no-repeat;
        display: block;
        background-size: 26px 32px;
        background-color: #fff;
        border-radius: 50%;
      }
      span {
        font-family: $bar;
        font-weight: bold;
        font-size: rem(36);
        margin-left: 6px;
        margin-right: 6px;
      }
    }
    a {
      background-color: #fff;
      font-size: rem(14);
      color: #2f4858;
      border-radius: 20px;
      padding: 5px 30px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 5px solid #2f4858;
      }
    }
  }
  &_banner02 {
    background-color: #ef6f1d;
    padding: 7px;
    text-align: center;
    margin-bottom: 10px;
    &_in {
      border: 1px solid #f9c5a5;
      padding: 7px 10px 15px;
      p {
        font-size: rem(16);
        line-height: 24px;
        font-weight: bold;
        color: #fff;
      }
    }
  }
  &_item {
    background-color: #faf7f3;
    padding: 24px 30px 50px;
    margin-bottom: 10px;
    &.style02 {
      &.style03 {
        background-color: #f3f6f9;
        .aside_item_ex {
          h3 {
            &::before {
              background-color: #000;
            }
          }
          .aside_item_ex_child {
            background-color: #e0e8f1;
            border: none;
            a {
              color: #2f4858;
            }
          }
        }
      }
      dl {
        dt {
          padding-left: 20px;
          border-bottom: none;
          position: relative;
          margin-bottom: 0;
          padding-bottom: 15px;
          padding-top: 15px;
          font-weight: bold;
          font-size: 1.4rem;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 10px;
            height: 4px;
            background: #f78000;
            display: block;
          }
        }
        dd {
          padding-left: 0;
          border: 6px solid #eae3d9;
          padding: 20px 0 20px 20px;
          min-height: 100px;
          a {
            display: block;
            position: relative;
            padding-left: 52px;
            font-size: rem(14);
            line-height: 24px;
            font-weight: bold;
            color: #71675b;
            min-height: 72px;
            display: flex;
            align-items: center;
            &:after {
              content: '';
              min-height: inherit;
              font-size: 0;
            }
            &.ic_bag {
              &::before {
                background-image: url(../img/ic_bag.png);
              }
            }
            &.ic_car {
              &::before {
                background-image: url(../img/ic_car.png);
              }
            }
            &.ic_money {
              &::before {
                background-image: url(../img/ic_money.png);
              }
            }
            &.ic_card {
              &::before {
                background-image: url(../img/ic_card.png);
              }
            }
            &.ic_contact {
              &::before {
                background-image: url(../img/ic_contact.png);
              }
            }
            &.ic_paper {
              &::before {
                background-image: url(../img/ic_paper.png);
              }
            }
            &.ic_ques {
              &::before {
                background-image: url(../img/ic_ques.png);
              }
            }
            &.ic_bulding {
              &::before {
                background-image: url(../img/ic_bulding.png);
              }
            }
            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              width: 52px;
              height: 100%;
              background-position: left center;
              background-repeat: no-repeat;
              display: block;
            }
          }
        }
      }
    }
    .aside_item_tt {
      font-size: rem(16);
      font-weight: bold;
      padding-bottom: 20px;
      margin-bottom: 5px;
      border-bottom: 2px solid #000;
    }
    .aside_item_ex {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      h4 {
        border-bottom: 1px solid #ccc;
        padding-bottom: 15px;
        margin-bottom: 15px;
        padding-top: 15px;
        a {
          font-size: rem(14);
          font-weight: bold;
        }
        font-weight: bold;
        font-size: rem(14);
      }
      .aside_item_ex_child {
        padding-left: 27px;
        a {
          font-size: rem(14);
          font-weight: bold;
        }
      }
    }
  }
  &_filter {
    background-color: #faf7f3;
    padding-bottom: 55px;
    h3 {
      font-size: rem(16);
      font-weight: bold;
      position: relative;
      background-color: #313131;
      color: #fff;
      padding: 12px 12px 12px 44px;
      margin-bottom: 20px;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        width: 14px;
        height: 15px;
        background: url(../img/ic_filter.png) center/contain no-repeat;
        display: block;
      }
    }
    dl {
      padding-left: 30px;
      padding-right: 30px;
      dt {
        padding-left: 20px;
        border-bottom: none;
        position: relative;
        margin-bottom: 20px;
        border-bottom: 1px solid #000;
        padding-top: 14px;
        padding-bottom: 14px;
        font-size: rem(16);
        font-weight: bold;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 10px;
          height: 10px;
          background: #f78000;
          display: block;
          border-radius: 50%;
        }
      }
    }
    .select {
      margin-bottom: 20px;
    }
    .checkbox {
      margin-bottom: 18px;
      input[type="checkbox"] {
        display: none;
        &:checked~label::after {
          opacity: 1;
        }
      }
      label {
        display: inline-block;
        font-size: rem(14);
        font-weight: bold;
        cursor: pointer;
        position: relative;
        padding-left: 33px;
        line-height: 22px;
        &:hover {
          >a {
            &::after {
              background: transparent;
            }
          }
        }
        >a {
          position: relative;
          text-decoration: none;
          color: #1d2088;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: #a8a8c9;
            display: block;
            transition: all 0.3s ease-in-out;
          }
        }
        &::before {
          content: "";
          display: block;
          width: 20px;
          height: 20px;
          border: 1px solid #ccc;
          background-color: #fff;
          position: absolute;
          left: 0;
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 6px;
          width: 7px;
          height: 12px;
          border: solid $color1;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
          opacity: 0;
          transition: all .3s;
        }
      }
    }
  }
  &_guide {
    background-color: #faf7f3;
    padding-bottom: 55px;
    h3 {
      font-size: rem(16);
      font-weight: bold;
      position: relative;
      background-color: #313131;
      color: #fff;
      padding: 12px 12px 12px 44px;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        width: 15px;
        height: 20px;
        background: url(../img/ic_guide.png) center/contain no-repeat;
        display: block;
      }
    }
    ul {
      padding: 20px 35px 0;
      li {
        &.active, &:hover {
          a {
            font-weight: bold;
            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: 4px;
              transform: translateY(-50%);
              width: 10px;
              height: 4px;
              background: #f78000;
              display: block;
            }
          }
        }
        a {
          display: block;
          position: relative;
          font-size: rem(16);
          color: #374c5a;
          border-bottom: 1px solid #ccc;
          padding: 15px 0 15px 25px;
          transition: color 0.3s ease-in-out;
        }
      }
    }
  }
}