.slider {
  position: relative;
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 60px;
  &_banner {
    height: 100%;
    .swiper-slide {
      line-height: 0;
      position: relative;
      >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .txt {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        img {
          margin-top: 30px;
          margin-bottom: 40px;
        }
        p {
          font-size: rem(20);
          font-weight: bold;
          line-height: 34px;
          &.bg {
            background-color: #000;
            color: #fff;
            font-weight: bold;
            padding: 10px 50px;
            font-size: rem(20);
            span {
              font-size: rem(24);
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
  .swiper-pagination-bullet {
    background-color: #72a19a;
    outline: none;
    width: 14px;
    height: 14px;
  }
  .swiper-pagination-bullet-active {
    background-color: #f78000;
  }
  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}
.featured_products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 35px;
  a {
    display: block;
    width: 500px;
    margin-bottom: 40px;
    figure {
      width: 100%;
      height: 260px;
      position: relative;
      margin-bottom: 15px;
      figcaption {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $color1;
        font-size: rem(15);
        padding: 15px 20px;
        color: #fff;
        font-weight: bold;
        font-family: $bar;
        letter-spacing: 0.1em;
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    h2 {
      font-size: rem(18);
      line-height: 24px;
      font-weight: bold;
    }
    p {
      color: #845696;
      font-size: rem(14);
      font-weight: bold;
    }
  }
}
.t_ttl3 {
  font-size: rem(20);
  font-weight: bold;
  position: relative;
  margin-bottom: 50px;
  span {
    background-color: #fff;
    position: relative;
    padding-right: 15px;
    padding-left: 20px;
    z-index: 2;
  }
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 10px;
    height: 4px;
    background: #f78000;
    display: block;
    z-index: 3;
  }
  &:after {
    border-top: 1px solid #000;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
  }
}
.t_product {
  &_list {
    display: flex;
    flex-wrap: wrap;
    &_item {
      margin-bottom: 50px;
      &:not(:nth-child(3n+3)) {
        margin-right: 40px;
      }
      a {
        display: block;
        width: 320px;
        margin-bottom: 40px;
        figure {
          width: 100%;
          height: 213px;
          position: relative;
          margin-bottom: 15px;
          img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        h3 {
          font-size: rem(16);
          line-height: 24px;
          font-weight: bold;
          min-height: 48px;
        }
        p {
          font-size: rem(16);
          font-weight: bold;
          color: #f5555a;
          span {
            font-family: $bar;
            font-size: rem(24);
            letter-spacing: 0.1em;
          }
        }
        ul {
          display: flex;
          flex-wrap: wrap;
          margin-left: -4px;
          margin-right: -4px;
          margin-top: 15px;
          li {
            border: 1px solid #dbe4eb;
            background-color: #f3f6f9;
            border-radius: 5px;
            text-align: center;
            min-height: 60px;
            min-width: 74px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-bottom: 8px;
            padding: 4px;
            margin-left: 4px;
            margin-right: 4px;
            font-size: rem(12);
            line-height: 16px;
            color: #708498;
            font-weight: bold;
            &:after {
              content: '';
              min-height: inherit;
              font-size: 0;
            }
          }
        }
      }
    }
  }
}
.news {
  padding-bottom: 75px;
  .t_ttl3 {
    margin-bottom: 20px;
  }
  ul {
    li {
      a {
        width: 100%;
        display: flex;
        border-bottom: 1px solid #ccc;
        padding-bottom: 14px;
        padding-top: 26px;
        &:hover {
          span {
            text-decoration: none;
          }
        }
      }
      time {
        width: 120px;
        font-size: rem(16);
        font-weight: bold;
        font-family: $bar;
        letter-spacing: 0.1em;
      }
      span {
        width: calc(100% - 120px);
        font-size: rem(16);
        color: #2f4858;
        font-weight: 500;
        text-decoration: underline;
      }
    }
  }
}