.slider {
  position: relative;
  overflow: hidden;
  margin-top: vw2(40);
  margin-bottom: vw2(60);
  height: vw(600);
  &_banner {
    height: 100%;
    .swiper-slide {
      line-height: 0;
      position: relative;
      >img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .txt {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: vw(30);
        img {
          margin-top: vw(30);
          margin-bottom: vw(40);
          width: vw(500);
        }
        p {
          font-size: vw3(20);
          font-weight: bold;
          line-height: 1.5;
          &.bg {
            background-color: #000;
            color: #fff;
            font-weight: bold;
            padding: vw2(10) vw2(50);
            font-size: vw3(18);
            width: vw(500);
            span {
              font-size: vw3(18);
              margin-left: vw2(20);
            }
          }
        }
      }
    }
  }
  .swiper-pagination-bullet {
    background-color: #72a19a;
    outline: none;
    width: vw2(14);
    height: vw2(14);
  }
  .swiper-pagination-bullet-active {
    background-color: #f78000;
  }
  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 vw2(5);
  }
}
.featured_products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: vw2(35);
  a {
    display: block;
    width: 100%;
    margin-bottom: vw2(40);
    figure {
      width: 100%;
      position: relative;
      margin-bottom: vw2(15);
      figcaption {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $color1;
        font-size: vw3(15);
        padding: vw2(15) vw2(20);
        color: #fff;
        font-weight: bold;
        font-family: $bar;
        letter-spacing: 0.1em;
      }
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    h2 {
      font-size: vw3(18);
      line-height: vw2(24);
      font-weight: bold;
    }
    p {
      color: #845696;
      font-size: vw3(14);
      font-weight: bold;
    }
  }
}
.t_ttl3 {
  font-size: vw3(18);
  font-weight: bold;
  position: relative;
  margin-bottom: vw2(50);
  span {
    padding-left: vw2(20);
    background-color: #fff;
    position: relative;
    padding-right: vw(15);
    display: inline-block;
    max-width: 94%;
  }
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: vw2(10);
    height: vw2(4);
    background: #f78000;
    display: block;
    z-index: 2;
  }
  &:after {
    border-top: 1px solid #000;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
  }
}
.t_product {
  &_list {
    &_item {
      margin-bottom: vw2(50);
      &:not(:nth-child(3n+3)) {
        margin-right: vw2(40);
      }
      a {
        display: block;
        width: 100%;
        margin-bottom: vw2(40);
        figure {
          width: 100%;
          position: relative;
          margin-bottom: vw2(15);
          img {
            display: block;
            width: 100%;
            height: auto;
          }
        }
        h2 {
          font-size: vw3(16);
          line-height: vw2(24);
          font-weight: bold;
        }
        p {
          font-size: vw3(16);
          font-weight: bold;
          color: #f5555a;
          span {
            font-family: $bar;
            font-size: vw3(24);
            letter-spacing: 0.1em;
          }
        }
        ul {
          display: flex;
          flex-wrap: wrap;
          margin-left: - vw2(4);
          margin-right: - vw2(4);
          margin-top: vw2(15);
          li {
            border: 1px solid #dbe4eb;
            background-color: #f3f6f9;
            border-radius: vw2(5);
            text-align: center;
            min-height: vw2(60);
            min-width: vw2(74);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-bottom: vw2(8);
            padding: vw2(4);
            margin-left: vw2(4);
            margin-right: vw2(4);
            font-size: vw3(12);
            line-height: vw2(16);
            color: #708498;
            font-weight: bold;
            &:after {
              content: '';
              min-height: inherit;
              font-size: 0;
            }
          }
        }
      }
    }
  }
}
.news {
  padding-bottom: vw2(75);
  .t_ttl3 {
    margin-bottom: vw2(20);
  }
  ul {
    li {
      display: flex;
      a {
        width: 100%;
        border-bottom: 1px solid #ccc;
        padding-bottom: vw2(26);
        padding-top: vw2(26);
        &:hover {
          span {
            text-decoration: none;
          }
        }
      }
      time {
        font-size: vw3(16);
        font-weight: bold;
        font-family: $bar;
        letter-spacing: 0.1em;
        display: block;
        margin-bottom: vw(10);
      }
      span {
        display: inline-block;
        font-size: vw3(16);
        color: #2f4858;
        font-weight: 500;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 1px;
          background: #2f4858;
          display: block;
        }
      }
    }
  }
}