.breadcrumb {
  display: flex;
  padding-top: 30px;
  padding-bottom: 90px;
  li {
    font-size: rem(14);
    color: #000;
    &:not(:last-child) {
      position: relative;
      margin-right: 44px;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -22px;
        transform: translateY(-50%);
        width: 6px;
        height: 9px;
        background: url(../img/ic_ar.png) center/contain no-repeat;
        display: block;
      }
    }
    a {
      font-size: rem(14);
      color: #708498;
      font-weight: bold;
    }
  }
}
.select {
  label {
    display: block;
    width: 100%;
    height: 38px;
    border-radius: 3px;
    line-height: 36px;
    position: relative;
    background: #fff;
    border: 1px solid #ccc;
    perspective: 1px;
    &::before {
      position: absolute;
      content: "";
      border-width: 8px 6px 0 6px;
      border-style: solid;
      border-color: #000 transparent transparent transparent;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      z-index: 2;
    }
    select {
      width: 100%;
      height: 100%;
      appearance: none;
      outline: none;
      border: none;
      border-radius: 3px;
      padding: 0 45px 0 19px;
      background: transparent;
      font-weight: 400;
      font-size: rem(14);
      color: #000;
      cursor: pointer;
      position: relative;
      z-index: 3;
      &::-ms-expand {
        display: none;
      }
    }
  }
}
.pag {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    li {
      cursor: pointer;
      &:not(.prev):not(.next):not(.dots) {
        width: 34px;
        height: 34px;
        border: 1px solid #dbe4eb;
        background-color: #f3f6f9;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: rem(14);
        line-height: 1;
        border-radius: 3px;
        margin: 0 5px;
        transition: background .3s;
        &:hover,
        &.active {
          background: #dbe4eb;
          a {
            color: #708498;
          }
        }
      }
      &.dots {
        width: 34px;
        height: 34px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &.prev,
      &.next {
        display: block;
        width: 80px;
        height: 34px;
        background-color: #2f4858;
        border-radius: 3px;
        transition: opacity .3s;
        position: relative;
        &.show {
          display: block;
        }
        &:hover {
          opacity: 0.8;
        }
        a {
          display: block;
        }
      }
      &.prev {
        margin-right: 5px;
        display: none;
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 0;
          height: 0;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-right: 8px solid #fff;
        }
        &.disable {
          background-color: transparent;
          border: 1px solid #dbe4eb;
          &::after {
            border-right-color: #ccc;
          }
        }
      }
      &.next {
        margin-left: 5px;
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 0;
          height: 0;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-left: 8px solid #fff;
        }
        &.disable {
          background-color: transparent;
          border: 1px solid #dbe4eb;
          &::after {
            border-left-color: #ccc;
          }
        }
      }
      a {
        text-decoration: none;
        color: #708498;
        transition: color .3s;
        font-size: rem(14);
        font-weight: bold;
      }
    }
  }
}
.checkbox {
  margin-bottom: 18px;
  input[type="checkbox"] {
    display: none;
    &:checked~label::after {
      opacity: 1;
    }
  }
  label {
    display: inline-block;
    font-size: rem(14);
    font-weight: bold;
    cursor: pointer;
    position: relative;
    padding-left: 33px;
    line-height: 22px;
    &:hover {
      >a {
        &::after {
          background: transparent;
        }
      }
    }
    >a {
      position: relative;
      text-decoration: none;
      color: #1d2088;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: #a8a8c9;
        display: block;
        transition: all 0.3s ease-in-out;
      }
    }
    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      border: 1px solid #ccc;
      background-color: #fff;
      position: absolute;
      left: 0;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 6px;
      width: 7px;
      height: 12px;
      border: solid $color1;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
      opacity: 0;
      transition: all .3s;
    }
  }
}
.ttl2 {
  font-size: rem(30);
  font-weight: bold;
}
.ttl1{
  font-size: rem(16);
  font-weight: bold;
  margin-bottom: 20px;
}