.select {
  width: 100%;
  label {
    display: block;
    width: 100%;
    height: vw2(38);
    border-radius: vw2(3);
    line-height: vw2(36);
    position: relative;
    background: #fff;
    border: 1px solid #ccc;
    perspective: 1px;
    &::before {
      position: absolute;
      content: "";
      border-width: vw2(8) vw2(6) 0 vw2(6);
      border-style: solid;
      border-color: #000 transparent transparent transparent;
      position: absolute;
      top: 50%;
      right: vw2(20);
      transform: translateY(-50%);
      z-index: 2;
    }
    select {
      width: 100%;
      height: 100%;
      appearance: none;
      outline: none;
      border: none;
      border-radius: vw2(3);
      padding: 0 vw2(45) 0 vw2(19);
      background: transparent;
      font-weight: 400;
      font-size: vw2(14);
      color: #000;
      cursor: pointer;
      position: relative;
      z-index: 3;
      &::-ms-expand {
        display: none;
      }
    }
  }
}
.pag {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    li {
      cursor: pointer;
      &:not(.prev):not(.next):not(.dots) {
        width: vw2(34);
        height: vw2(34);
        border: 1px solid #dbe4eb;
        background-color: #f3f6f9;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: vw2(14);
        line-height: 1;
        border-radius: vw2(3);
        margin: 0 vw(3);
        transition: background .3s;
        &:hover,
        &.active {
          background: #dbe4eb;
          a {
            color: #708498;
          }
        }
      }
      &.dots {
        width: vw2(34);
        height: vw2(34);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &.prev,
      &.next {
        display: block;
        width: vw2(34);
        height: vw2(34);
        background-color: #2f4858;
        border-radius: vw2(3);
        transition: opacity .3s;
        position: relative;
        &:hover {
          opacity: 0.8;
        }
        &.show {
          display: block;
        }
        a {
          display: block;
        }
      }
      &.prev {
        margin-right: vw(3);
        display: none;
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 0;
          height: 0;
          border-top: vw2(6) solid transparent;
          border-bottom: vw2(6) solid transparent;
          border-right: vw2(8) solid #fff;
        }
        &.disable {
          background-color: transparent;
          border: 1px solid #dbe4eb;
          &::after {
            border-right-color: #ccc;
          }
        }
      }
      &.next {
        margin-left: vw(3);
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 0;
          height: 0;
          border-top: vw2(6) solid transparent;
          border-bottom: vw2(6) solid transparent;
          border-left: vw2(8) solid #fff;
        }
        &.disable {
          background-color: transparent;
          border: 1px solid #dbe4eb;
          &::after {
            border-left-color: #ccc;
          }
        }
      }
      a {
        text-decoration: none;
        color: #708498;
        transition: color .3s;
        font-size: vw2(14);
        font-weight: bold;
      }
    }
  }
}
.checkbox {
  margin-bottom: vw2(18);
  input[type="checkbox"] {
    display: none;
    &:checked~label::after {
      opacity: 1;
    }
  }
  label {
    display: inline-block;
    font-size: vw2(14);
    font-weight: bold;
    cursor: pointer;
    position: relative;
    padding-left: vw2(33);
    line-height: vw2(22);
    &:hover {
      >a {
        &::after {
          background: transparent;
        }
      }
    }
    >a {
      position: relative;
      text-decoration: none;
      color: #1d2088;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: #a8a8c9;
        display: block;
        transition: all 0.3s ease-in-out;
      }
    }
    &::before {
      content: "";
      display: block;
      width: vw2(20);
      height: vw2(20);
      border: 1px solid #ccc;
      background-color: #fff;
      position: absolute;
      left: 0;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: vw2(6);
      width: vw2(7);
      height: vw2(12);
      border: solid $color1;
      border-width: 0 vw2(3) vw2(3) 0;
      transform: rotate(45deg);
      opacity: 0;
      transition: all .3s;
    }
  }
}
.ttl2 {
  font-size: vw(32);
  font-weight: bold;
}
.ttl1 {
  font-size: vw(34);
  margin-top: vw(15);
  margin-bottom: vw(10);
  font-weight: bold;
}