@charset "utf-8";
// ===================================================================
//  common.css
// ===================================================================

@import "_mixin/mixin";

//----------------------------------------------------
//  共通
//----------------------------------------------------
html {
  font-size: 10px;
}

body {
  overflow-wrap: break-word;
}
a,
a:link,
a:visited,
a:active,
a:hover,
a:hover img {
  text-decoration: none;
  color: #333;
  // filter: alpha(opacity=80);
  // -ms-filter: "alpha(opacity=80)";
  // opacity: .80;
}

a:hover {
  text-decoration: none;
}
a:hover,
a:hover img,
.img_hover:hover {
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
  opacity: .80;
}
a {
  color: #333;
}
img {
  vertical-align: bottom;
  max-width: 100%;
  width: auto;
  height: auto;
}
div,
p {
  /*word-break: break-all;*/
}
ul,
ol,
li {
  list-style: none;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, nav , picture {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ul,
ol,
li {
  list-style: none;
}

body,
td,
th,
input,
textarea {
  color: #000;
  // font-family: 'Noto Sans JP',"游ゴシック体","Yu Gothic", YuGothic,"ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
  // font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
  font-family:"游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro",メイリオ,Meiryo,sans-serif;
  font-size: rem(13);
  font-weight: 500;
  line-height: 1.5;
}

//---------------------------------------------------------------------------

* {
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
figure,picture {
  line-height: 0;
}
picture {
  display: block;
}
html,body {
  width: 100%;
  height: 100%;
}
//---------------------------------------------------------------------------
// @keyframes change_color {
//   0% {
//     fill : #fff;
//   }
//   100% {
//     fill: #000;
//   }
// }
// .boxoverlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 1900;
//   width: 100%;
//   height: 100%;
//   opacity: 0;
//   visibility: hidden;
//   background: rgba(0, 0, 0, 0.95);
//   transition: all 0.5s ease;
// }
// .hide {
//   visibility: hidden;
//   transition: all 1s ease;
// }
// .show {
//   visibility: visible;
//   transition: all 1s ease;
// }
// .kappa {
//   text-transform: capitalize;
// }
@include min-screen() {
  @import "./_common_pc.scss";
  @import "./_ttl_pc.scss";
  @import "./_header_pc.scss";
  @import "./_footer_pc.scss";
}

@include max-screen() {
  @import "./_common_sp.scss";
  @import "./_ttl_sp.scss";
  @import "./_header_sp.scss";
  @import "./_footer_sp.scss";
}
