@charset "utf-8";
// ===================================================================
//  common.css
// ===================================================================

@import "_mixin/mixin";

@include min-screen() {
  @import "./_style_pc.scss";
}

@include max-screen() {
  @import "./_style_sp.scss";
}
// .fadeIn {
//   opacity: 0;
//   transform: translateY(50px);
//   &.active {
//     opacity: 1;
//     transform: translateY(0);
//   }
// }
// .delay03 {
//   transition-delay: 0.3s;
// }
// .delay06 {
//   transition-delay: 0.6s;
// }
// .delay09 {
//   transition-delay: 0.9s;
// }
// .delay012 {
//   transition-delay: 1.2s;
// }
// .effect {
//   transition-property: all;
//   transition-duration: 1s;
//   transition-timing-function: ease;
// }